ALTER PROCEDURE [dbo].[ap_AddCompsAtDisc] @ChID INT = -1, @Comps VARCHAR(MAX) = ''
AS
BEGIN
/*
Процедура автоматического добавления предприятий в акцию.
*/
	IF @Comps = '' OR @ChID = -1
	BEGIN
		RETURN
	END;

	IF (SELECT CHARINDEX(CHAR(13)+CHAR(10), @Comps)) != 0
	BEGIN
		IF (SELECT CHARINDEX(',', REVERSE(REPLACE(@Comps, CHAR(13)+CHAR(10), ',')) )) = 1
		BEGIN
			SELECT @Comps = REVERSE(SUBSTRING(REVERSE(REPLACE(@Comps, CHAR(13)+CHAR(10), ',')), 2, LEN(REVERSE(REPLACE(@Comps, CHAR(13)+CHAR(10), ','))) ) )
		END;
		ELSE
		BEGIN
			SELECT @Comps = (REPLACE(@Comps, CHAR(13)+CHAR(10), ','))
		END;
	END;

	SELECT @Comps = REPLACE( REPLACE( REPLACE(@Comps, ' ', '') , CHAR(13), ''), CHAR(10), '' )
	
	INSERT INTO at_r_DiscComps (DiscCode, CompID, BDate, EDate, Active)
	SELECT (SELECT DiscCode FROM at_r_Discs WHERE ChID = @ChID)
	      ,CAST(AValue AS INT)
		  ,GETDATE()
		  ,NULL
		  ,1
    FROM zf_FilterToTable(@Comps)
END;
