ALTER PROCEDURE [dbo].[ap_OP_OrderProcessingRes2](@AChID int) 
AS
--/*^^^^^^^^^^^^^^^^ДЛЯ ОТЛАДКИ ЗАКОМЕНТИРУЙТЕ СТРОКИ ВЫШЕ^^^^^^^^^^^^^^^^^^^^^^*/
IF OBJECT_ID (N'tempdb..#SHOW_LOG', N'U') IS NOT NULL DROP TABLE #SHOW_LOG;
IF OBJECT_ID (N'tempdb..#NOT_INSERT', N'U') IS NOT NULL DROP TABLE #NOT_INSERT;
/*============ДЛЯ ОТЛАДКИ РАЗКОМЕНТИРУЙТЕ СТРОКИ ВНУТРИ БЛОКА==================*/
	SELECT * INTO #SHOW_LOG FROM (SELECT 
1    --#####  1-Показ логов   0-без показа логов
	 [SHOW_LOG] ) s1 
	SELECT top 1 * FROM #SHOW_LOG
----	SELECT * INTO #NOT_INSERT FROM (SELECT 
----1    --#####  1-не происходит вставки в таблицы   0-рабочий режим
----	 [NOT_INSERT] ) s1 
----	SELECT top 1 NOT_INSERT FROM #NOT_INSERT
--DECLARE @mode int = 1 --заказы КПК
/*============ДЛЯ ОТЛАДКИ ЗАКОМЕНТИРУЙТЕ СТРОКИ ВНУТРИ БЛОКА==================*/
 
/*
BEGIN TRAN;
EXEC dbo.ap_OP_OrderProcessingRes2 102159889
ROLLBACK TRAN;

SELECT * FROM t_IORecD
WHERE ChID = 102159889

SELECT * FROM t_AccD
WHERE 100171286 = ChID

26135 300.000000000
26136 5590.000000000
30690 1250.000000000
*/


  --pashkovv '2019-08-20 16:35:24.844' теперь текущие резервы записываются в поле Прогноз (ForeCastQty)
  --moa0 28-08-2019 10:09 Переводим снятие дебиторской задолженности в режим писем.
  --moa0 '2019-08-29 09:36:03.894' Меняем @AChID на @ResChID.
SET NOCOUNT ON
SET XACT_ABORT ON

DECLARE @ContractChID int
DECLARE @AOurID int
DECLARE @ACompID int
DECLARE @AStockID int
DECLARE @ADocDate smalldatetime
DECLARE @AUseCond bit=0
DECLARE @ResChID int
DECLARE @ResDocID int
DECLARE @t_PP tinyint=dbo.zf_Var('t_PP')
DECLARE @StateCode int
DECLARE @ACodeID4 int
DECLARE @CurrID smallint=dbo.zf_GetCurrCC()
DECLARE @KursMC numeric(21,9)=dbo.zf_GetRateMC(@CurrID)

-- Временная таблица для данных ЗФ
DECLARE @ARec TABLE (ProdID int PRIMARY KEY, Qty numeric(21, 9))
-- Временная таблица для данных ЗР
DECLARE @ARes TABLE (ProdID int, PPID int, Qty numeric(21, 9))
-- Временная таблица для поиска в счетах на оплату товара
DECLARE @TempAcc TABLE (ChID INT, SrcPosID INT, PPID INT, ProdID INT, QtyOrder NUMERIC(21, 9), QtyAcc NUMERIC(21, 9))
-- Временная таблица для поиска в счетах на оплату товара архив
DECLARE @TempAcc_arhiv TABLE (ChID INT, SrcPosID INT, PPID INT, ProdID INT, QtyOrder NUMERIC(21, 9), QtyAcc NUMERIC(21, 9))
-- Временная таблица, в которой будем хранить текущие остатки.
DECLARE @ProdCard TABLE (ChID INT, SrcPosID INT, PPID INT, ProdID INT, Qty NUMERIC(21, 9), AccFlag BIT)
-- Временная таблица для хранения скидки и прайса скидок для товара.
DECLARE @TempDiscount TABLE (PPID INT, ProdID INT, DiscountPLID INT, Discount NUMERIC(21, 9))

EXEC dbo.ap_GetContract 11221, @AChID, @ContractChID OUTPUT

SELECT TOP 1 
  @ACompID=CompID, @AOurID=OurID, @AStockID=StockID, @ADocDate=DocDate,
  @AUseCond=CASE WHEN UseContrConditions = 1 AND @ContractChID > 0 AND EXISTS(SELECT * FROM dbo.at_z_ContractTerms WHERE ChID=@ContractChID) THEN 1 ELSE 0 END
FROM dbo.t_IORec WITH(NOLOCK) WHERE ChID = @AChID

BEGIN TRAN

  EXEC dbo.z_NewChID at_t_IORes, @ResChID OUT
  EXEC dbo.z_NewDocID 666004, at_t_IORes, @AOurID, @ResDocID OUT
  
  INSERT dbo.at_t_IORes(ChID, DocID, IntDocID, DocDate, KursMC, OurID, StockID, CompID, CodeID1, CodeID2, CodeID3, CodeID4, CodeID5, ReserveProds, Discount, PayDelay, EmpID, Notes, SupplyDayCount, CurrID, StateCode, Address, InDocID, OrderID, DelivID, PayConditionID)
    SELECT @ResChID ChID, @ResDocID DocID, @ResDocID IntDocID, m.DocDate, m.KursMC, m.OurID, m.StockID, m.CompID, m.CodeID1, m.CodeID2, m.CodeID3, m.CodeID4, m.CodeID5, 1 ReserveProds, m.Discount, m.PayDelay, m.EmpID, dbo.af_Trim(m.Notes), m.SupplyDayCount, m.CurrID, 110 StateCode, (SELECT TOP 1 CompAdd FROM r_CompsAdd WHERE CompID = m.CompID ORDER BY CASE WHEN dbo.afx_GetStrDiff(m.[Address], CompAdd) > 10 THEN 666 ELSE dbo.afx_GetStrDiff(m.[Address], CompAdd) END) [Address], m.DocID InDocID, m.OrderID, m.DelivID, m.PayConditionID
    FROM t_IOrec m WITH(NOLOCK)
    WHERE m.ChID=@AChID
  
  -- Заполняем таблицу ЗФ из заказа, и убираем то, что уже перенесено в ЗР  
  INSERT INTO @ARec SELECT ProdID, SUM(Qty) FROM t_IOrecD WHERE ChID=@AChID GROUP BY ProdID
/*  UPDATE c 
    SET c.Qty=c.Qty-ISNULL((SELECT SUM(Qty) FROM at_t_IOResD WHERE ChID=@ResChID AND ProdID=c.ProdID), 0)
  FROM @ARec c  
  DELETE FROM @ARec WHERE Qty=0 OR Qty IS NULL  
*/  
--1.счета находим мы
--2.@ARec апдейт
--3.@ARes инсерт из счетов
--4. Пересписываем по партиям на остатках
--5. апдейт счета.

--Если есть счета, в которых есть товар из заказа.
 IF EXISTS(SELECT 1
				FROM t_Acc m 
				JOIN t_AccD d WITH(NOLOCK) ON d.ChID = m.ChID
				--Только счета со статусом StateCode = 105.
				WHERE m.StateCode = 105
				  AND m.CompID = @ACompID
				  AND m.OurID  = @AOurID
				  AND m.StockID  = @AStockID
				  AND d.ProdID IN (SELECT DISTINCT ProdID FROM @ARec
								  )
				  AND d.Qty > 0
		  )
 BEGIN
  	  
	  --Записываем найденное количество.
	  INSERT INTO @ProdCard
	  SELECT m.ChID, d.SrcPosID, d.PPID, d.ProdID, d.Qty, 1
	  FROM t_Acc m 
	  JOIN t_AccD d WITH(NOLOCK) ON d.ChID = m.ChID
	  WHERE m.StateCode = 105
		AND m.CompID = @ACompID
	    AND m.OurID  = @AOurID
	    AND m.StockID  = @AStockID
		AND d.ProdID IN (SELECT DISTINCT ProdID FROM @ARec
						)		
		AND d.Qty > 0
	  ORDER BY d.Qty DESC
 END;

 --Записываем остатки по товарам.
 INSERT INTO @ProdCard(ChID, SrcPosID, PPID, ProdID, Qty, AccFlag)
 SELECT 0, pp.SrcPosID, pp.PPID, c.ProdID, pp.Qty, 0
 FROM 
   @ARec c 
 	CROSS APPLY 
   dbo.af_GetPPIDsByContract(@t_PP, @ContractChID, @AUseCond, @ADocDate, @AOurID, @AStockID, c.ProdID, 1000000000) pp
 
IF OBJECT_ID (N'tempdb..#SHOW_LOG', N'U') IS NOT NULL 
BEGIN
	SELECT '@ProdCard: Счета (AccFlag = 1) и остатки (AccFlag = 0) по товарам'
	SELECT * FROM @ProdCard
END

--Количество проходов.
--Первый проход будет искать количество кратное ящикам.
--Второй будет "подчищать", что останется.
DECLARE @count INT = 2
DECLARE @i INT = 1
DECLARE @ChID INT
DECLARE @SrcPosID INT
DECLARE @PPID INT
DECLARE @ProdID INT
DECLARE @Qty NUMERIC(21,9)

WHILE @i <= @count
BEGIN
	  --Если есть счета то работаем с ними
	  IF EXISTS(SELECT 1 FROM @ProdCard WHERE AccFlag = 1)
	  BEGIN	  
	   
	   --Достаем найденные счета для перебора.
	   DECLARE Acc CURSOR LOCAL FAST_FORWARD 
	   FOR
	   SELECT ChID, SrcPosID, PPID, ProdID, Qty
	   FROM @ProdCard m
	   WHERE AccFlag = 1 AND Qty > 0
	   ORDER BY Qty DESC
	   
	   OPEN Acc
	   	FETCH NEXT FROM Acc INTO @ChID, @SrcPosID, @PPID, @ProdID, @Qty
	   WHILE @@FETCH_STATUS = 0	 
	   BEGIN
	   
		 	--Формируем временную таблицу для работы со счетом.
	   		INSERT INTO @TempAcc
	   		SELECT @ChID, @SrcPosID, @PPID, @ProdID
	   		      ,CASE
		 				--Кратный проход. Если количество в заказе больше, чем есть в счете.
		 				WHEN @Qty < Qty AND @i = 1
		 					THEN 
		 						--Если количество кратное, то просто вставляем все, что есть из счета.
		 						--Если количество в счете не кратное, то вытягиваем из него сколько можно.
		 						CASE WHEN @Qty%dbo.af_GetQtyInUM(@ProdID, 'ящ.') = 0
		 								 THEN @Qty
		 								 ELSE @Qty - (@Qty%dbo.af_GetQtyInUM(@ProdID, 'ящ.')) END
		 				--Кратный проход. Если количество в заказе меньше или равно, чем есть в счете.
		 				WHEN @Qty >= Qty AND @i = 1
		 					THEN	
		 						--Если количество кратное, то просто вставляем все, что есть из счета.
		 						--Если количество в счете не кратное, то вытягиваем из него сколько можно.
		 						CASE WHEN Qty%dbo.af_GetQtyInUM(@ProdID, 'ящ.') = 0
		 								 THEN Qty
		 								 ELSE Qty - (Qty%dbo.af_GetQtyInUM(@ProdID, 'ящ.')) END
		 				WHEN @Qty < Qty AND @i = 2
		 					THEN @Qty
		 				WHEN @Qty >= Qty AND @i = 2
		 					THEN Qty
		 			END
	   			  ,@Qty
	   		FROM @ARec
	   		WHERE ProdID = @ProdID
	   
		 	IF (SELECT Qty FROM @ARec WHERE ProdID = @ProdID) > 0
			BEGIN
		 		--Вычитаем количество товара, которое удалось найти в "Счет на оплату товара".
	   			--Дальше точечный апдейт @ARec по ProdID
	   			UPDATE @ARec SET Qty = Qty - (SELECT QtyOrder FROM @TempAcc WHERE ChID = @ChID AND SrcPosID = @SrcPosID AND PPID = @PPID AND ProdID = @ProdID)
	   			WHERE ProdID = @ProdID

				--Вычитаем найденное количество товара из карты.
				UPDATE @ProdCard SET Qty = Qty - (SELECT QtyOrder FROM @TempAcc WHERE ChID = @ChID AND SrcPosID = @SrcPosID AND PPID = @PPID AND ProdID = @ProdID)
	   			WHERE ChID = @ChID AND SrcPosID = @SrcPosID AND PPID = @PPID AND ProdID = @ProdID AND AccFlag = 1
	   		END;
				
	   	FETCH NEXT FROM Acc INTO @ChID, @SrcPosID, @PPID, @ProdID, @Qty
	   END
	   CLOSE Acc
	   DEALLOCATE Acc

	   --Убираем позиции, в которых из счета мы ничего не взяли.
	   DELETE @TempAcc WHERE QtyOrder = 0
	  END;
	  
	  --Удаляем нулевые позиции из временной таблицы "Заказ внутренний: Формирование".
	  DELETE @ARec WHERE Qty = 0
	  
	  --Теперь ищем по обычным остаткам.
	  DECLARE Rem CURSOR LOCAL FAST_FORWARD 
	  FOR 
	  SELECT PPID, ProdID, Qty
	  FROM @ProdCard
	  WHERE AccFlag = 0
		    AND ProdID IN (SELECT DISTINCT ProdID FROM @ARec)
	  ORDER BY Qty DESC
	  
	  OPEN Rem
	  	FETCH NEXT FROM Rem INTO @PPID, @ProdID, @Qty
	  WHILE @@FETCH_STATUS = 0
	  BEGIN
	  		SELECT @Qty = CASE 
				  		--Кратный проход. Если количество в заказе больше, чем есть в счете.
		 			    WHEN @Qty < Qty AND @i = 1
		 					THEN 
		 						--Если количество кратное, то просто вставляем все, что есть из счета.
		 						--Если количество в счете не кратное, то вытягиваем из него сколько можно.
		 						CASE WHEN @Qty%dbo.af_GetQtyInUM(@ProdID, 'ящ.') = 0
		 								 THEN @Qty
		 								 ELSE @Qty - (@Qty%dbo.af_GetQtyInUM(@ProdID, 'ящ.')) END
		 				--Кратный проход. Если количество в заказе меньше или равно, чем есть в счете.
		 				WHEN @Qty >= Qty AND @i = 1
		 					THEN	
		 						--Если количество кратное, то просто вставляем все, что есть из счета.
		 						--Если количество в счете не кратное, то вытягиваем из него сколько можно.
		 						CASE WHEN Qty%dbo.af_GetQtyInUM(@ProdID, 'ящ.') = 0
		 								 THEN Qty
		 								 ELSE Qty - (Qty%dbo.af_GetQtyInUM(@ProdID, 'ящ.')) END
		 				WHEN @Qty < Qty AND @i = 2
		 					THEN @Qty
		 				WHEN @Qty >= Qty AND @i = 2
		 					THEN Qty
					END
			FROM @ARec
			WHERE ProdID = @ProdID AND Qty > 0
			
			IF (SELECT Qty FROM @ARec WHERE ProdID = @ProdID) > 0
			BEGIN
				--Вычитаем количество товара, которое удалось найти.
	   			--Дальше точечный апдейт @ARec по ProdID
	   			UPDATE @ARec SET Qty = Qty - @Qty
	   			WHERE ProdID = @ProdID

				--Вычитаем найденное количество товара из карты.
				UPDATE @ProdCard SET Qty = Qty - @Qty
	   			WHERE PPID = @PPID AND ProdID = @ProdID AND AccFlag = 0

				INSERT INTO @ARes(ProdID, PPID, Qty)
				SELECT @ProdID, @PPID, @Qty
			END;


	  	FETCH NEXT FROM Rem INTO @PPID, @ProdID, @Qty
	  END
	  CLOSE Rem
	  DEALLOCATE Rem
	  
	  --Вставляем во временную таблицу для "Заказ внутренний: Формирование" найденное
	  --в счетах количество.
	  INSERT INTO @ARes
	  SELECT ProdID, PPID, SUM(QtyOrder) AS 'TQtyOrder' FROM @TempAcc GROUP BY ProdID, PPID

	  --Убираем из счета найденное количество товара. Это значит, что товар будет снят с резерва.
	   UPDATE d SET Qty = Qty - TempAcc.QtyOrder
	   FROM t_AccD d
	   JOIN @TempAcc TempAcc ON TempAcc.ChID = d.ChID AND TempAcc.SrcPosID = d.SrcPosID AND TempAcc.PPID = d.PPID AND TempAcc.ProdID = d.ProdID 
	  
	  --для отладки
	  INSERT @TempAcc_arhiv SELECT * FROM @TempAcc

	  DELETE @TempAcc
SET @i = @i + 1
END;

IF OBJECT_ID (N'tempdb..#SHOW_LOG', N'U') IS NOT NULL 
BEGIN
	SELECT '@ProdCard: Счета (AccFlag = 1) и остатки (AccFlag = 0) по товарам'
	  SELECT * FROM @ProdCard
	SELECT '@TempAcc_arhiv'
	  SELECT * FROM @TempAcc_arhiv
	SELECT '@ARec'
	  SELECT * FROM @ARec
	SELECT '@ARes'
	  SELECT * FROM @ARes
	  ORDER BY 1	
END



  DECLARE @DiscountPLID INT
  DECLARE @Discount NUMERIC(21,9)

  DECLARE Discount CURSOR LOCAL FAST_FORWARD 
  FOR 
  SELECT DISTINCT PPID, ProdID FROM @ARes
  UNION ALL
  SELECT DISTINCT 0, ProdID FROM @ARec
  
  OPEN Discount
  	FETCH NEXT FROM Discount INTO @PPID, @ProdID
  WHILE @@FETCH_STATUS = 0	 
  BEGIN
  		EXEC t_GetPriceCC @DocCode=2666004, @ChID=@ResChID, @ProdID=@ProdID, @PPID=@PPID, @RateMC=@KursMC, @Discount=0, @PLID=25, @Result=@Discount OUT  
		EXEC t_GetPriceCC @DocCode=3666004, @ChID=@ResChID, @ProdID=@ProdID, @PPID=@PPID, @RateMC=@KursMC, @Discount=0, @PLID=25, @Result=@DiscountPLID OUT
		
		INSERT INTO @TempDiscount
			SELECT @PPID, @ProdID, ISNULL(@DiscountPLID, 0), ISNULL(@Discount, 0)
  	FETCH NEXT FROM Discount INTO @PPID, @ProdID
  END
  CLOSE Discount
  DEALLOCATE Discount

  INSERT dbo.at_t_IOResDs(ChID, SrcPosID, ProdID, PPID, SecID, UM, Qty, NewQty, OrdQty, Qty220, Acc220, Qty33, QtyCashless, QtyCash, AccCashless, AccCash, DiscountPLID, Discount)
    SELECT 
      @ResChID, ISNULL((SELECT MAX(SrcPosID) FROM at_t_IOResDs WHERE ChID=@ResChID), 0) + ROW_NUMBER() OVER(ORDER BY s.ProdID), 
      s.ProdID, s.PPID, 1, p.UM, SUM(s.Qty), SUM(s.Qty), SUM(s.Qty)
      ,ISNULL( (SELECT SUM(Qty) FROM dbo.af_GetPPIDsByContract(@t_PP, @ContractChID, @AUseCond, @ADocDate, @AOurID, 220, s.ProdID, 1000000000) WHERE PPID = s.PPID), 0)
	  ,ISNULL( dbo.tf_GetRemAcc(@AOurID, 220, 1, s.ProdID, s.PPID, @t_PP, @ContractChID, @AUseCond, @ADocDate) ,0) 
	  ,ISNULL( (SELECT SUM(Qty) FROM dbo.af_GetPPIDsByContract(@t_PP, @ContractChID, @AUseCond, @ADocDate, @AOurID, 33, s.ProdID, 1000000000) WHERE PPID = s.PPID), 0)
	  ,ISNULL( (SELECT SUM(Qty) FROM dbo.af_GetPPIDsByContract(@t_PP, @ContractChID, @AUseCond, @ADocDate, @AOurID
	                            ,CASE WHEN @AStockID BETWEEN 300 AND 399
	                                   THEN @AStockID - 300
									   ELSE @AStockID END, s.ProdID, 1000000000) WHERE PPID = s.PPID), 0)
	  ,ISNULL( (SELECT SUM(Qty) FROM dbo.af_GetPPIDsByContract(@t_PP, @ContractChID, @AUseCond, @ADocDate, @AOurID
	                            ,CASE WHEN @AStockID BETWEEN 300 AND 399
	                                   THEN @AStockID
									   ELSE @AStockID + 300 END, s.ProdID, 1000000000) WHERE PPID = s.PPID), 0)
	  ,ISNULL(dbo.tf_GetRemAcc(@AOurID, CASE WHEN @AStockID BETWEEN 300 AND 399
	                                   THEN @AStockID - 300
									   ELSE @AStockID END
					    , 1, s.ProdID, s.PPID, @t_PP, @ContractChID, @AUseCond, @ADocDate)
		   ,0)
	  ,ISNULL(dbo.tf_GetRemAcc(@AOurID, CASE WHEN @AStockID BETWEEN 300 AND 399
	                                   THEN @AStockID
									   ELSE @AStockID + 300 END
					    , 1, s.ProdID, s.PPID, @t_PP, @ContractChID, @AUseCond, @ADocDate)
		   ,0)
	  ,td.DiscountPLID
	  ,td.Discount
    FROM
      @ARes s
	  INNER JOIN r_Prods p ON p.ProdID=s.ProdID
	  INNER JOIN r_ProdMQ mq ON mq.ProdID=p.ProdID AND mq.UM=p.UM
	  JOIN @TempDiscount td ON td.PPID = s.PPID AND td.ProdID = s.ProdID
    GROUP BY
      s.ProdID, s.PPID, p.UM, td.DiscountPLID, td.Discount

	--Если во временной таблице ЗФ остались позиции, то их нет на остатках.
	--Показываем это, "вешая" их на нулевую партию
	IF EXISTS(SELECT 1 FROM @ARec)
	BEGIN
	  INSERT dbo.at_t_IOResDs(ChID, SrcPosID, ProdID, PPID, SecID, UM, Qty, NewQty, OrdQty, Qty220, Acc220, Qty33, QtyCashless, QtyCash, AccCashless, AccCash, DiscountPLID, Discount)
		SELECT 
		  @ResChID, ISNULL((SELECT MAX(SrcPosID) FROM at_t_IOResDs WHERE ChID=@ResChID), 0) + ROW_NUMBER() OVER(ORDER BY s.ProdID), 
		  s.ProdID, 0, 1, p.UM, SUM(s.Qty), SUM(s.Qty), SUM(s.Qty)
		  ,ISNULL( (SELECT SUM(Qty) FROM dbo.af_GetPPIDsByContract(@t_PP, @ContractChID, @AUseCond, @ADocDate, @AOurID, 220, s.ProdID, 1000000000) WHERE PPID = 0), 0)
		  ,ISNULL( dbo.tf_GetRemAcc(@AOurID, 220, 1, s.ProdID, 0, @t_PP, @ContractChID, @AUseCond, @ADocDate) ,0) 
		  ,ISNULL( (SELECT SUM(Qty) FROM dbo.af_GetPPIDsByContract(@t_PP, @ContractChID, @AUseCond, @ADocDate, @AOurID, 33, s.ProdID, 1000000000) WHERE PPID = 0), 0)
		  ,ISNULL( (SELECT SUM(Qty) FROM dbo.af_GetPPIDsByContract(@t_PP, @ContractChID, @AUseCond, @ADocDate, @AOurID
									,CASE WHEN @AStockID BETWEEN 300 AND 399
										   THEN @AStockID - 300
										   ELSE @AStockID END, s.ProdID, 1000000000) WHERE PPID = 0), 0)
		  ,ISNULL( (SELECT SUM(Qty) FROM dbo.af_GetPPIDsByContract(@t_PP, @ContractChID, @AUseCond, @ADocDate, @AOurID
									,CASE WHEN @AStockID BETWEEN 300 AND 399
										   THEN @AStockID
										   ELSE @AStockID + 300 END, s.ProdID, 1000000000) WHERE PPID = 0), 0)
		  ,ISNULL(dbo.tf_GetRemAcc(@AOurID, CASE WHEN @AStockID BETWEEN 300 AND 399
										   THEN @AStockID - 300
										   ELSE @AStockID END
							, 1, s.ProdID, 0, @t_PP, @ContractChID, @AUseCond, @ADocDate)
			   ,0)
		  ,ISNULL(dbo.tf_GetRemAcc(@AOurID, CASE WHEN @AStockID BETWEEN 300 AND 399
										   THEN @AStockID
										   ELSE @AStockID + 300 END
							, 1, s.ProdID, 0, @t_PP, @ContractChID, @AUseCond, @ADocDate)
			   ,0)
		  ,td.DiscountPLID
		  ,td.Discount
		FROM
		  @ARec s
		  INNER JOIN r_Prods p ON p.ProdID=s.ProdID
		  INNER JOIN r_ProdMQ mq ON mq.ProdID=p.ProdID AND mq.UM=p.UM
		  JOIN @TempDiscount td ON td.PPID = 0 AND td.ProdID = s.ProdID
		GROUP BY
		  s.ProdID, p.UM, td.DiscountPLID, td.Discount
	END;

IF OBJECT_ID (N'tempdb..#SHOW_LOG', N'U') IS NOT NULL 
BEGIN
	SELECT 'at_t_IOResDs вкладка Подробно в ЗР'
	SELECT * FROM at_t_IOResDs
END

  --pashkovv '2019-08-20 16:35:24.844' теперь текущие резервы записываются в поле Прогноз (ForeCastQty)
  -- Переносим то, что есть на остатках в ЗР
  INSERT dbo.at_t_IOResD(ChID, SrcPosID, ProdID, PPID, SecID, UM, Qty, NewQty, OrdQty, RemQty, ForeCastQty, BarCode)
    SELECT 
      @ResChID, ISNULL((SELECT MAX(SrcPosID) FROM at_t_IOResD WHERE ChID=@ResChID), 0) + ROW_NUMBER() OVER(ORDER BY s.ProdID), 
      s.ProdID, s.PPID, 1, p.UM, SUM(s.Qty), SUM(s.Qty), SUM(s.Qty)
	  ,dbo.tf_GetRem(@AOurID, @AStockID, 1, s.ProdID, NULL)
      ,dbo.tf_GetRemAcc(@AOurID, @AStockID, 1, s.ProdID, NULL, @t_PP, @ContractChID, @AUseCond, @ADocDate)  --pashkovv '2019-08-20 16:35:24.844' теперь текущие резервы записываются в поле Прогноз (ForeCastQty)
	  , mq.BarCode
    FROM
      @ARes s INNER JOIN
      r_Prods p ON p.ProdID=s.ProdID INNER JOIN
      r_ProdMQ mq ON mq.ProdID=p.ProdID AND mq.UM=p.UM
    GROUP BY
      s.ProdID, s.PPID, p.UM, mq.BarCode

  -- Обрабатываем то, чего на остатках нет, а в ЗФ осталось
  -- Заполняем таблицу ЗФ из заказа, и убираем то, что уже перенесено в ЗР  
  DELETE FROM @ARec
  INSERT INTO @ARec SELECT ProdID, SUM(Qty) FROM t_IOrecD WHERE ChID=@AChID GROUP BY ProdID
  UPDATE c 
    SET c.Qty=c.Qty-ISNULL((SELECT SUM(Qty) FROM at_t_IOResD WHERE ChID=@ResChID AND ProdID=c.ProdID), 0)
  FROM @ARec c  
  DELETE FROM @ARec WHERE Qty=0 OR Qty IS NULL 

  -- Переносим то, чего нет на остатках по 0 партии
  INSERT dbo.at_t_IOResD(ChID, SrcPosID, ProdID, PPID, SecID, UM, Qty, NewQty, OrdQty, RemQty, BarCode)
    SELECT 
      @ResChID, ISNULL((SELECT MAX(SrcPosID) FROM at_t_IOResD WHERE ChID=@ResChID), 0) + ROW_NUMBER() OVER(ORDER BY s.ProdID), 
      s.ProdID, 0, 1, p.UM, SUM(s.Qty), 0, 0, 0, mq.BarCode
    FROM
      @ARec s INNER JOIN
      r_Prods p ON p.ProdID=s.ProdID INNER JOIN
      r_ProdMQ mq ON mq.ProdID=p.ProdID AND mq.UM=p.UM
    GROUP BY
      s.ProdID, p.UM, mq.BarCode
            
  -- Обновление цен в ЗР
  EXEC ap_RecalcIOResPriceCC @AChID=@ResChID
  
  -- Создаем связь ЗР с ЗФ
  EXEC ap_LinkCreate @PDocCode=11221, @PChID=@AChID, @СDocCode=666004, @СChID=@ResChID
  
  -- Устанавливаем статус ЗФ в "Обработан" для блокировки изменений
  UPDATE t_IORec SET StateCode = 120 WHERE ChID=@AChID
  
  -- Проверка на поздно сброшенные ЗФ (кроме ручного ввода) для снятия ЗР с резерва и установки статуса 203
  IF EXISTS(SELECT *
            FROM
              at_t_IORes m 
                INNER JOIN
              z_DocLinks dl ON dl.ChildChID=m.ChID AND dl.ChildDocCode=666004 AND dl.ParentDocCode=11221
                INNER JOIN
              t_IORec i ON i.ChID=dl.ParentChID AND dl.ParentDocCode=11221 AND dl.ChildChID=m.ChID AND dl.ChildDocCode=666004 AND i.CodeID5<>6
                INNER JOIN
              z_LogCreate lc ON lc.ChID=dl.ParentChID AND lc.TableCode=dl.ParentDocCode*1000+1
                INNER JOIN
              r_Comps c ON c.CompID=m.CompID
            WHERE 
              (m.ChID=@ResChID) AND
              (m.CompID NOT BETWEEN 7000 AND 7999) AND
              (c.CompGrID2 IN (2030,2031,2035,2036,2048,2034,2032,2039,2052)) AND
              (
               (m.StockID NOT IN (30, 330, 1130, 220, 101, 100, 1120, 320, 27, 127, 327) AND CAST(lc.DocDate AS TIME)>'17:50:00') OR -- kan2 вставленн склад 330, ограничение на поздний сброс
               (m.StockID IN (30, 330, 1130, 220, 101, 100, 1120, 320,  27, 127, 327) AND CAST(lc.DocDate AS TIME)>'20:30:00') -- kan2 вставленн склад 330, ограничение на поздний сброс, добавлен Львов 27/12/2018 18:17
              ) AND
              (m.DocDate<=(SELECT MIN(ADate) FROM dbo.zf_DatesBetween(dbo.zf_GetDate(GETDATE())+1, dbo.zf_GetDate(GETDATE())+7, 0))))
    SET @StateCode=203
  ELSE
    SET @StateCode=120
  
  -- Блокируем поздний заказ
  IF @StateCode = 203  
    UPDATE at_t_IORes SET ReserveProds=0 WHERE ChID=@ResChID
  -- Устанавливаем статус ЗР для блокировки изменений
  UPDATE at_t_IORes SET StateCode=@StateCode WHERE ChID=@ResChID
  
  -- Обновляем признак 4 в ЗФ и ЗР
  EXEC ap_OP_GetResCodeID4 @AChID=@ResChID, @CodeID4=@ACodeID4 OUT
  
  UPDATE m
  SET m.CodeID4=@ACodeID4
  FROM at_t_IORes m
  --moa0 '2019-08-29 09:36:03.894' Меняем @AChID на @ResChID.
  --WHERE m.ChID = @AChID AND m.CodeID4<>@ACodeID4 AND NOT ((m.CodeID1=50) OR (m.CodeID1 BETWEEN 2000 AND 3000))
  WHERE m.ChID = @ResChID AND m.CodeID4<>@ACodeID4 AND NOT ((m.CodeID1=50) OR (m.CodeID1 BETWEEN 2000 AND 3000))
  
  EXEC ap_AU_tIORecCodeID4 @AChID, 1
   
IF @@TRANCOUNT>0 COMMIT

--moa0 28-08-2019 10:09 Переводим снятие дебиторской задолженности в режим писем.
/*
--BEGIN TRY
	PRINT 'ResChID - ' + CAST(@ResChID AS VARCHAR(50))
	SELECT @ResChID ResChID
	EXEC ap_SendEmail_do_OffCalcExpDebt @ChID = @ResChID, @DocCode = 666004, @WebServiceID = 3, @Testing = 0
*/
--END TRY  
--BEGIN CATCH
--	SELECT  
--	ERROR_NUMBER() AS ErrorNumber  
--	,ERROR_SEVERITY() AS ErrorSeverity  
--	,ERROR_STATE() AS ErrorState  
--	,ERROR_PROCEDURE() AS ErrorProcedure  
--	,ERROR_LINE() AS ErrorLine  
--	,ERROR_MESSAGE() AS ErrorMessage; 
--END CATCH 
GO