ALTER PROCEDURE [dbo].[ap_VC_IM_Email] @RegionID INT = -1
AS
BEGIN
/*
EXEC ap_VC_IM_Email @RegionID = 2

--'2020-03-20 10:29:33.300' Старый блок процедур. Он использовался в те времена, когда ИМ был разделен на три сайта.
EXEC ap_VC_IM_Email @RegionID = 1
EXEC ap_VC_IM_Email @RegionID = 2
EXEC ap_VC_IM_Email @RegionID = 5
*/
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*CHANGELOG*/
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--[CHANGED] Maslov Oleg '2020-02-05 10:23:49.652' Для тех, кто тему не читает, добавляем название города в тело письма. И! Выделяем его.
--[CHANGED] Maslov Oleg '2020-03-20 10:23:43.453' Переходим на один сайт. И вместе с тем на одну таблицу вместо трех.
--[CHANGED] Maslov Oleg '2020-04-02 09:37:59.781' Вместе с переходом на единый сайт пропала нужда в указании города.
--[ADDED] Maslov Oleg '2020-05-18 14:39:19.322' Добавил статус чтобы не сыпались сообщения об ошибочном заказе.
--[ADDED] Maslov Oleg '2020-05-18 14:59:16.080' Добавил блок отправки сообщения, если были найдены товары, у которых не совпадает код товара в ИМ с базой.
--[CHANGED] Maslov Oleg '2020-06-05 09:38:12.581' Убираем оповещение по несовпадению кодов товара, так как сейчас замена кода происходит автоматически в [ap_VC_IM_CheckProc].

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

SET NOCOUNT ON 
 
IF @RegionID = -1
BEGIN
  RETURN;
END;
 
--Variable block near.
DECLARE @subject VARCHAR(250) = ''
 	   ,@msg VARCHAR(MAX) = ''
 	   --,@rec VARCHAR(250) = 'maslov@const.dp.ua'
 	   ,@rec VARCHAR(250) = 'support_arda@const.dp.ua'
	   --[CHANGED] Maslov Oleg '2020-04-02 09:37:59.781' Вместе с переходом на единый сайт пропала нужда в указании города.
	   /*,@city VARCHAR(10) = CASE WHEN @RegionID = 1 THEN 'Днепра'
							     WHEN @RegionID = 2 THEN 'Киева'
							     WHEN @RegionID = 5 THEN 'Харькова'
							     ELSE '' END*/
 
DECLARE @SQL_q NVARCHAR(MAX), @table_id INT, @IM_table VARCHAR(100), @av VARCHAR(100), @outs VARCHAR(MAX)

--[CHANGED] Maslov Oleg '2020-03-20 10:23:43.453' Переходим на один сайт. И вместе с тем на одну таблицу вместо трех.
SELECT @IM_table = 'r_ShopifyProds'--(SELECT RefName FROM r_Uni WHERE RefTypeID = 1000000015 AND RefID = @RegionID)

--Письмо, если есть дубликаты.
IF 1 = 1
BEGIN
 
  SET @SQL_q = 'DECLARE @double_products TABLE (ProdID INT) 	;WITH Dublicates AS (SELECT q.ProdID, ROW_NUMBER() OVER(PARTITION BY q.ProdID ORDER BY q.ProdID) number_of_dublicates FROM (SELECT ProdID FROM '
			   + @IM_table
			   + ' WHERE ProdID != 0 AND UpdateState NOT IN (6,8,9,666) ) AS q) INSERT INTO @double_products SELECT ProdID FROM Dublicates WHERE number_of_dublicates > 1 '
			   + ' IF (SELECT COUNT(ProdID) FROM @double_products) >= 1 BEGIN SELECT @out = ( SELECT SUBSTRING((SELECT '','' + CAST(ProdID AS VARCHAR(200)) as [text()] FROM @double_products FOR XML PATH('''')),2,65535) ) END'
			   + ' ELSE BEGIN SELECT @out = ''No doubles'' END;'
 
  EXEC sp_executesql @SQL_q, N'@out VARCHAR(MAX) OUT', @outs OUT
  /*
  DECLARE @double_products TABLE (ProdID INT)
 
  --Дальше обрабатываем полученный ответ. Создаем CTE.
  ;WITH
  Dublicates AS (SELECT q.ProdID
  , ROW_NUMBER() OVER(PARTITION BY q.ProdID ORDER BY q.ProdID) number_of_dublicates
  FROM (SELECT ProdID FROM r_ShopifyProdsDp) q
 				  )
 
  --Находим дубликаты.
  INSERT INTO @double_products
  SELECT ProdID FROM Dublicates WHERE number_of_dublicates > 1
  */
  --Если есть дубликаты, то отправляем письмо.
  --IF (SELECT COUNT(ProdID) FROM @double_products) >= 1
  IF @outs != 'No doubles'
  BEGIN
 		--Статус, который значит, что письмо-оповещение отправлено.
 		SET @SQL_q = 'UPDATE '
 				   + @IM_table
 				   + ' SET UpdateState = 8, UpdateDate = GETDATE() WHERE ProdID IN ('
 				   + @outs
 				   + ')'
 
 		EXEC sp_executesql @SQL_q, N'@out VARCHAR(MAX) OUT', @outs OUT
 	
 			  BEGIN TRY 			
 
 				--[CHANGED] Maslov Oleg '2020-02-05 10:23:49.652' Для тех, кто тему не читает, добавляем название города в тело письма. И! Выделяем его.
				SET @msg = '<p>Найдены дубликаты в интернет-магазине'
						 --+ @city
						 + '. Коды товаров: '
 						 + @outs
 						 + '.</p>'
 						 + '<p>SELECT * FROM '
 						 + @IM_table 
 						 + ' WHERE ProdID IN ('
 						 --+ ( SELECT SUBSTRING((SELECT ',' + CAST(ProdID AS VARCHAR(200)) as [text()] FROM @double_products FOR XML PATH('')),2,65535) )
 						 + @outs
 						 + ')</p>'
 						 + '<p>Отправленно [S-SQL-D4] JOB ELITR VC_Sync_DP шаг 10 (Send Email) '
 						 + (SELECT OBJECT_NAME(@@PROCID) )
 						 + '</p>'
 	
 			
 				SET @subject = 'Найдены дубликаты в интернет-магазине '
 							 --+ @city
 							 + '#ИМ_Ошибка'
 
 				EXEC msdb.dbo.sp_send_dbmail  
 				@profile_name = 'arda',
 				@from_address = '<support_arda@const.dp.ua>',
 				@recipients = @rec,
 				@copy_recipients = 'levenko@const.dp.ua',
 				@subject = @subject,
 				@body = @msg,  
 				@body_format = 'HTML'
 		 
 			  END TRY  
 			  BEGIN CATCH
 				SELECT  
 				       ERROR_NUMBER() AS ErrorNumber  
 				      ,ERROR_SEVERITY() AS ErrorSeverity  
 				      ,ERROR_STATE() AS ErrorState  
 				      ,ERROR_PROCEDURE() AS ErrorProcedure  
 				      ,ERROR_LINE() AS ErrorLine  
 				      ,ERROR_MESSAGE() AS ErrorMessage; 
 			  END CATCH	
  END;

END;--Письмо, если есть дубликаты END.

--Письмо, если есть товары на удаление.
IF 1 = 1
BEGIN
 
  SET @SQL_q = 'IF (SELECT COUNT(ProdID) FROM '
 				 + @IM_table
 				 + ' WHERE UpdateState = 666) >= 1 BEGIN SET @out = ''1'' END ELSE BEGIN SET @out = ''0'' END'
 
  EXEC sp_executesql @SQL_q, N'@out VARCHAR(50) OUT', @outs OUT 
 
  --Если есть кандидаты на удаление из таблицы.
  --IF (SELECT COUNT(ProdID) FROM r_ShopifyProdsDp WHERE UpdateState = 666) >= 1
  IF CAST(@outs AS INT) = 1
  BEGIN
 		
   SET @SQL_q = 'SELECT @out = CAST( COUNT(*) AS VARCHAR(50) ) FROM '
 				+ @IM_table
 
   EXEC sp_executesql @SQL_q, N'@out VARCHAR(50) OUT', @outs OUT
 
 			--Если количество товаров в базе будет равно количеству товаров в ИМ, то тревога ложная.
 			IF (CAST(@outs AS INT) ) = (SELECT CAST( SUBSTRING(RefName,1,CHARINDEX('_IM',RefName)-1) AS FLOAT) FROM r_Uni WHERE RefTypeID = 1000000014 AND RefID = @RegionID)
 			BEGIN
 				SET @SQL_q = 'UPDATE m SET UpdateState = 0 FROM '
 								+ @IM_table
 								+ ' m WHERE m.UpdateState = 666'
 
 				EXEC sp_executesql @SQL_q
 
 				--UPDATE m SET UpdateState = 0 FROM r_ShopifyProdsDp m WHERE m.UpdateState = 666
 			END;
 			ELSE
 			BEGIN			
 		
 			 BEGIN TRY 			
 			
 				SET @SQL_q = 'SELECT @out = CAST(COUNT(ProdID) AS VARCHAR(50)) FROM '
 						   + @IM_table
 						   + ' WHERE UpdateState = 666'
 
 				EXEC sp_executesql @SQL_q, N'@out VARCHAR(50) OUT', @outs OUT
 
 				SET @msg = '<p>Обнаружены товары, которые можно удалить. Их количество: '
 						 --+ (SELECT CAST(COUNT(ProdID) AS VARCHAR(20)) FROM r_ShopifyProdsDp WHERE UpdateState = 666)
 						 + @outs
 						 + '. Если количество товаров после выполнения запроса будет равно количеству товаров в интернет-магазине('
 						 + (SELECT RefName FROM r_Uni WHERE RefTypeID = 1000000014 AND RefID = @RegionID)
 						 + '), то можно удалять.</p>'
 						 + '<p>P.S. Если в письме указано, что все товары получили статус 6 (Можно удалять), то скорей всего джоб не может вытянуть товары, потому что учетка для обхода прокси (VintageShopify) заблокирована. Или... По другой причине.</p>'
 						 + '<p>BEGIN TRAN;</p>'
 						 + '<p>DELETE '
 						 + @IM_table 
 						 + ' WHERE UpdateState = 6</p>'
 						 + '<p>SELECT COUNT(*) FROM '
 						 + @IM_table
 						 + '</p> <p>ROLLBACK TRAN;</p>'
 						 + '<p>Отправленно [S-SQL-D4] JOB ELITR VC_Sync_DP шаг 10 (Send Email) '
 						 + (SELECT OBJECT_NAME(@@PROCID) )
 						 + '</p>'
 	
 			
 				SET @subject = 'Товары на удаления из таблицы товаров '
						 --+ @city
						 + '#ИМ_Ошибка'
 
 				EXEC msdb.dbo.sp_send_dbmail  
 				@profile_name = 'arda',
 				@from_address = '<support_arda@const.dp.ua>',
 				@recipients = @rec,
 				@subject = @subject,
 				@body = @msg,  
 				@body_format = 'HTML'
 		 
 			  END TRY  
 			  BEGIN CATCH
 				SELECT  
 					   ERROR_NUMBER() AS ErrorNumber  
 					  ,ERROR_SEVERITY() AS ErrorSeverity  
 					  ,ERROR_STATE() AS ErrorState  
 					  ,ERROR_PROCEDURE() AS ErrorProcedure  
 					  ,ERROR_LINE() AS ErrorLine  
 					  ,ERROR_MESSAGE() AS ErrorMessage; 
 			  END CATCH
 
 			  SET @SQL_q = 'UPDATE m SET UpdateDate = GETDATE(), UpdateState = 6 FROM '
 						 + @IM_table
 						 + ' m WHERE m.UpdateState = 666'
 
 			  EXEC sp_executesql @SQL_q
 
 			  --UPDATE m SET UpdateDate = GETDATE(), UpdateState = 6 FROM r_ShopifyProdsDp m WHERE m.UpdateState = 666
 			END;
  END;
END;--Письмо, если есть товары на удаление END.	

--Письмо, если есть заказы с ошибками.
IF 1 = 1
BEGIN

	IF EXISTS(SELECT 1 FROM t_IMOrders WHERE Status = 2 AND GETDATE() > DATEADD(MINUTE,10,ImportDate) )
	BEGIN	
		DECLARE @DocIDs VARCHAR(MAX) = ( SELECT SUBSTRING((SELECT ',' + CAST(DocID AS VARCHAR(200)) as [text()] FROM t_IMOrders WHERE Status IN (2,4) FOR XML PATH('')),2,65535) )
	
		BEGIN TRY 			
 
			SET @msg = '<p>SELECT ChID, DocID, DocDate, ShopifyOrderID, ImportDate, Status FROM t_IMOrders WHERE DocID IN ('
					 + @DocIDs
					 + ')</p>'
					 + '<p>UPDATE t_IMOrders SET Status = 0 WHERE DocID IN ('
					 + @DocIDs
					 + ')</p>'
					 + '<p>Отправленно [S-SQL-D4] JOB ELITR VC_Sync_DP шаг 10 (Send Email) '
					 + (SELECT OBJECT_NAME(@@PROCID) )
					 + '</p>'


			SET @subject = 'Найдены заказы с ошибкой в интернет-магазине '
						 --+ @city
						 + '#ИМ_Ошибка'

			EXEC msdb.dbo.sp_send_dbmail  
			@profile_name = 'arda',
			@from_address = '<support_arda@const.dp.ua>',
			@recipients = @rec,
			@subject = @subject,
			@body = @msg,  
			@body_format = 'HTML'

			--[ADDED] Maslov Oleg '2020-05-18 14:39:19.322' Добавил статус чтобы не сыпались сообщения об ошибочном заказе.
			UPDATE t_IMOrders SET Status = 5 WHERE Status = 2 
		END TRY  
		BEGIN CATCH
			SELECT  
				   ERROR_NUMBER() AS ErrorNumber  
				  ,ERROR_SEVERITY() AS ErrorSeverity  
				  ,ERROR_STATE() AS ErrorState  
				  ,ERROR_PROCEDURE() AS ErrorProcedure  
				  ,ERROR_LINE() AS ErrorLine  
				  ,ERROR_MESSAGE() AS ErrorMessage; 
		END CATCH

	END;

END;--Письмо, если есть заказы с ошибками END.

--[CHANGED] Maslov Oleg '2020-06-05 09:38:12.581' Убираем оповещение по несовпадению кодов товара, так как сейчас замена кода происходит автоматически в [ap_VC_IM_CheckProc].
--[ADDED] Maslov Oleg '2020-05-18 14:59:16.080' Добавил блок отправки сообщения, если были найдены товары, у которых не совпадает код товара в ИМ с базой.
--Письмо, если есть товары, у которых не совпадает код товара в ИМ с базой.
/*IF 1 = 1
BEGIN

	IF EXISTS(SELECT TOP 1 1 FROM r_ShopifyProds WHERE UpdateState = 7)
	BEGIN
		
		BEGIN TRY 			
 
			SET @msg = '<p>Найдены товар(ы), в котором(-ых) не совпадает код товара (SKU в Shopify) с тем, что указан в таблице r_ShopifyProds.</p>'
					 + '<p>С помощью запроса ниже нужно найти их ShopifyID, после чего в административной панели Shopify по ShopifyID найти их и вставить значение поля SKU в ProdID в таблице r_ShopifyProds.</p>'
					 + '<p>SELECT ShopifyID FROM r_ShopifyProds WHERE UpdateState = 10</p>'
					 + '<p>UPDATE r_ShopifyProds SET ProdID = 0, Price = 0, DiscountPrice = 0, DiscountActive = 0, QtyDp = 0, QtyKv = 0, QtyKh = 0, UpdateState = 0 WHERE UpdateState = 10</p>'
					 + '<p>Отправленно [S-SQL-D4] JOB ELITR VC_Sync_DP шаг 10 (Send Email) '
					 + (SELECT OBJECT_NAME(@@PROCID) )
					 + '</p>'


			SET @subject = 'Найдены товары, у которых не совпадает код товара в ИМ с базой '
						 --+ @city
						 + '#ИМ_Ошибка'

			EXEC msdb.dbo.sp_send_dbmail  
			@profile_name = 'arda',
			@from_address = '<support_arda@const.dp.ua>',
			@recipients = @rec,
			@subject = @subject,
			@body = @msg,  
			@body_format = 'HTML'

			UPDATE r_ShopifyProds SET UpdateState = 10 WHERE UpdateState = 7
		END TRY  
		BEGIN CATCH
			SELECT  
				   ERROR_NUMBER() AS ErrorNumber  
				  ,ERROR_SEVERITY() AS ErrorSeverity  
				  ,ERROR_STATE() AS ErrorState  
				  ,ERROR_PROCEDURE() AS ErrorProcedure  
				  ,ERROR_LINE() AS ErrorLine  
				  ,ERROR_MESSAGE() AS ErrorMessage; 
		END CATCH

	END;

END;--Письмо, если есть товары, у которых не совпадает код товара в ИМ с базой.
*/

END