ALTER PROCEDURE [dbo].[ap_VC_IM_UpdateRem] @api_l VARCHAR(500) = '', @key VARCHAR(500) = '', @RegionID INT = -1, @shopify_stock_id VARCHAR(50) = '', @admin_adress VARCHAR(500) = '', @Test INT = 0
AS
BEGIN
/*
Обновляем остатки по интернет-магазину.

Brevis descriptio
В начале работы скрипта идет проверка на необходимость обновлять остатки. Они будут обновляться
в следующих случаях: если текущее количество товаров в реестре не совпадают с количеством товара 
по базе, если статус одного из товаров равен 31,32,35.


*/

/*
EXEC ap_VC_IM_UpdateRem @api_l = '4a31bd883165bfd2bb8932c6287e7b9c', @key = '6bab3199775c589f2922cd5bdb48a10b', @RegionID = 1, @shopify_stock_id = '34782150769', @admin_adress = 'vintagemarket-dev.myshopify.com', @Test = 1
EXEC ap_VC_IM_UpdateRem @api_l = '4a31bd883165bfd2bb8932c6287e7b9c', @key = '6bab3199775c589f2922cd5bdb48a10b', @RegionID = 2, @shopify_stock_id = '20630634609', @admin_adress = 'vintagemarket-dev.myshopify.com', @Test = 1
EXEC ap_VC_IM_UpdateRem @api_l = '4a31bd883165bfd2bb8932c6287e7b9c', @key = '6bab3199775c589f2922cd5bdb48a10b', @RegionID = 5, @shopify_stock_id = '34782183537', @admin_adress = 'vintagemarket-dev.myshopify.com', @Test = 1

--'2020-03-20 10:29:33.300' Старый блок процедур. Он использовался в те времена, когда ИМ был разделен на три сайта.
EXEC ap_VC_IM_UpdateRem @api_l = 'ae2cd8b5024636640b29d6c8a7c5e1b7', @key = 'f61cd35b8e1ab1a377abd1c9f5a0e28d', @RegionID = 1, @shopify_stock_id = '21980545121', @admin_adress = 'vintagemarket-dp.myshopify.com', @Test = 1
EXEC ap_VC_IM_UpdateRem @api_l = '4a31bd883165bfd2bb8932c6287e7b9c', @key = '6bab3199775c589f2922cd5bdb48a10b', @RegionID = 2, @shopify_stock_id = '20630634609', @admin_adress = 'vintagemarket-dev.myshopify.com', @Test = 1
--EXEC ap_VC_IM_UpdateRem @api_l = '4a31bd883165bfd2bb8932c6287e7b9c', @key = '6bab3199775c589f2922cd5bdb48a10b', @RegionID = 2, @shopify_stock_id = '31171838065', @admin_adress = 'vintagemarket-dev.myshopify.com', @Test = 1
EXEC ap_VC_IM_UpdateRem @api_l = '822ee75ea06b63718ec6422bd0b77748', @key = 'c2bb7455131d0c407d241170acd20e58', @RegionID = 5, @shopify_stock_id = '28498624589', @admin_adress = 'vintagemarket-kh.myshopify.com', @Test = 1
*/
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*CHANGELOG*/
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--[FIXED] Maslov Oleg '2020-01-09 10:51:48.488' При работе процедуры в джобе ответ, который возвращает API, режется до 512 символов.
			--то есть по умолчанию стоит "SET TEXTSIZE 1024;" (1024/2 = 512 nchars).
--[CHANGED] Maslov Oleg '2020-01-31 10:11:48.146' Перевод процедуры на версию API '2020-01'.
--[ADDED] Maslov Oleg '2020-03-11 17:32:33.915' Если склады не обычные, то НЕ записываем логи, НЕ меняем статус и вытягиваем нужные InventoryID.
--[CHANGED] Maslov Oleg '2020-03-16 11:06:28.674' Включаем полноценный режим для одного сайта.
--[CHANGED] Maslov Oleg '2020-03-20 10:23:43.453' Переходим на один сайт. И вместе с тем на одну таблицу вместо трех.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

--Ниже идет предварительная настройка временных таблиц и объявление переменных.

--[FIXED] Maslov Oleg '2020-01-09 10:51:48.488' При работе процедуры в джобе ответ, который возвращает API, режется до 512 символов.
    --то есть по умолчанию стоит "SET TEXTSIZE 1024;" (1024/2 = 512 nchars).
SET TEXTSIZE 2147483647;
SET NOCOUNT ON

IF @api_l = '' OR @key = '' OR @RegionID = -1 OR @shopify_stock_id = '' OR  @admin_adress = ''
BEGIN
	RETURN;
END;

--Ниже идет предварительная настройка временных таблиц и объявление переменных.
DECLARE	@URL VARCHAR(MAX)
	   ,@methodName VARCHAR(50)
	   ,@proxy VARCHAR(50)
	   ,@proxySettings VARCHAR(50)
	   ,@objectID INT
	   ,@hResult INT
	   ,@source VARCHAR(255)
	   ,@desc VARCHAR(255)
	   ,@count FLOAT
	   ,@login_proxy VARCHAR(200) = 'CONST\vintageshopify'
	   ,@for_proxy VARCHAR(100) = (SELECT CONVERT(VARCHAR(100), DecryptByPassPhrase(ORIGINAL_LOGIN(), 0x0100000068D4AB26848B654D3149C9EC9E19CBD586F805D3F10AFE5B9C9F516E87CE330A )))
	   --,@shopify_stock_id VARCHAR(50) = '19817496689' --kiev
	   --,@shopify_stock_id VARCHAR(50) = '21980545121' --dnepr
	   --,@site VARCHAR(3000) = 'https://ae2cd8b5024636640b29d6c8a7c5e1b7:f61cd35b8e1ab1a377abd1c9f5a0e28d@vintagemarket-dp.myshopify.com', @api_l VARCHAR(500) = 'ae2cd8b5024636640b29d6c8a7c5e1b7', @key VARCHAR(500) = 'f61cd35b8e1ab1a377abd1c9f5a0e28d'--dnepr = 1
	   ,@site VARCHAR(3000) = 'https://' + @api_l + ':' + @key + '@' + @admin_adress

--Демонизм продолжается.
IF @Test != 0
BEGIN
	SET @for_proxy = (SELECT CONVERT(VARCHAR(100), DecryptByPassPhrase(ORIGINAL_LOGIN(), 0x0100000014DBC39169721A1CC037D82C2C82AF60EA2DB4A2727EDD9040D5AFD5A589187C )))
END;

DECLARE @SQL_Select NVARCHAR(MAX), @table_id INT, @IM_table VARCHAR(100), @av VARCHAR(100), @outs VARCHAR(50), @QtyRow VARCHAR(5)

--[CHANGED] Maslov Oleg '2020-03-20 10:23:43.453' Переходим на один сайт. И вместе с тем на одну таблицу вместо трех.
SELECT @IM_table = 'r_ShopifyProds'--(SELECT RefName FROM r_Uni WHERE RefTypeID = 1000000015 AND RefID = @RegionID)
	  ,@av = (SELECT Notes FROM r_Uni WHERE RefTypeID = 1000000015 AND RefID = @RegionID)
	  ,@QtyRow = (SELECT RefName FROM r_Uni WHERE RefTypeID = 1000000015 AND RefID = @RegionID)

-- Статус 69 - это статус для тестирования записи остатков на второй склад. Второй склад хотели ввести
-- в Киеве, но все загнулось. Ставить его в поле статус не рекомендуется, так как это приведет к тому,
-- что товары с этим статусом не будут обновлятся.
--[CHANGED] Maslov Oleg '2020-03-20 10:23:43.453' Переходим на один сайт. И вместе с тем на одну таблицу вместо трех.
SET @SQL_Select = 'IF (SELECT COUNT(*) FROM '
				+ @IM_table
				+ ' q LEFT JOIN [S-SQL-D4].[ElitR].[dbo].['
				+ @av
				--+ '] rem ON rem.ProdID = q.ProdID WHERE ISNULL(rem.Qty, 0) - q.Qty != 0 AND q.Price != 0) <= 0 AND (SELECT COUNT(*) FROM '
				+ '] rem ON rem.ProdID = q.ProdID WHERE ISNULL(rem.Qty, 0) - q.' + @QtyRow + ' != 0 AND q.Price != 0) <= 0 AND (SELECT COUNT(*) FROM '
				+ @IM_table
				--+ ' WHERE UpdateState IN (3,69)) <= 0 BEGIN SELECT @out = 0 END;'
				+ ' WHERE UpdateState IN (' + CAST((30 + @RegionID) AS VARCHAR(2)) + ')) <= 0 BEGIN SELECT @out = 0 END;'

EXEC sp_executesql @SQL_Select, N'@out VARCHAR(50) OUT', @outs OUT 
/*
--Тут и дальше рубрика "До перевода на динамику".
IF  /*Если количестов товаров в базе не равно количеству товара в реестре.*/
	(SELECT COUNT(*)
		FROM r_ShopifyProdsDp q
		LEFT JOIN [S-SQL-D4].[ElitR].[dbo].[av_VC_ExportRemsR_Dnepr] rem ON rem.ProdID = q.ProdID
		WHERE ISNULL(rem.Qty, 0) - q.Qty != 0 AND q.Price != 0) <= 0
	AND
	/*Если по какой-либо причине был установлен UpdateState = 3.*/
	(SELECT COUNT(*)
		FROM r_ShopifyProdsDp
		WHERE UpdateState = 3) <= 0
*/		
IF (
	   (    (SELECT CAST(@outs AS INT)
			) = 0
	   )
	   AND @Test != 1
   )
   OR ((SELECT DATEPART(HOUR, GETDATE() )) < 9)
BEGIN
	RETURN
END;

SET @SQL_Select = 'UPDATE '
				+ @IM_table
				--+ ' SET Qty = ISNULL(rem.Qty, 0), UpdateDate = GETDATE(), UpdateState = 3 FROM '
				+ ' SET ' + @QtyRow + ' = ISNULL(rem.Qty, 0), UpdateDate = GETDATE(), UpdateState = ' + CAST((30 + @RegionID) AS VARCHAR(2)) + ' FROM '
				+ @IM_table
				+ ' q LEFT JOIN [S-SQL-D4].[ElitR].[dbo].['
				+ @av
				--+ '] rem ON rem.ProdID = q.ProdID WHERE ISNULL(rem.Qty, 0) - q.Qty != 0 AND q.Price != 0 AND q.UpdateState = 0 AND q.ProdID != 0'
				+ '] rem ON rem.ProdID = q.ProdID WHERE ISNULL(rem.Qty, 0) - q.' + @QtyRow + ' != 0 AND q.Price != 0 AND q.UpdateState = 0 AND q.ProdID != 0'

EXEC sp_executesql @SQL_Select 

/*Если количестов товаров в базе не равно количеству товара в реестре, то обновляем количество и устанавливаем UpdateState = 3.*/
--UPDATE r_ShopifyProdsDp SET Qty = ISNULL(rem.Qty, 0), UpdateDate = GETDATE(), UpdateState = 3
--FROM r_ShopifyProdsDp q
--		LEFT JOIN [S-SQL-D4].[ElitR].[dbo].[av_VC_ExportRemsR_Dnepr] rem ON rem.ProdID = q.ProdID
--		WHERE ISNULL(rem.Qty, 0) - q.Qty != 0 AND q.Price != 0 AND q.UpdateState = 0

DECLARE @statusText VARCHAR(1000), @status VARCHAR(1000)

IF OBJECT_ID (N'tempdb..#xml',N'U') IS NOT NULL DROP TABLE #xml
CREATE TABLE #xml
(XML VARCHAR(MAX))

IF OBJECT_ID (N'tempdb..#shopi_ids',N'U') IS NOT NULL DROP TABLE #shopi_ids
CREATE TABLE #shopi_ids
(ShopifyID BIGINT
,ShopifyInventoryID BIGINT
,ShopifyQty NUMERIC(21,9))

SELECT @table_id = (SELECT OBJECT_ID('tempdb..#shopi_ids') )

DECLARE @temp TABLE (res VARCHAR(MAX))

DECLARE @ShopifyID BIGINT 
	   ,@Shopify_inventory_ID VARCHAR(20)
	   ,@Qty INT

--[ADDED] Maslov Oleg '2020-03-11 17:32:33.915' Если склады не обычные, то НЕ записываем логи, НЕ меняем статус и вытягиваем нужные InventoryID.
--IF @shopify_stock_id != '34782150769' AND @shopify_stock_id != '34782183537'
--BEGIN
	SELECT @SQL_Select = 'INSERT INTO '
					   + (SELECT name FROM tempdb.sys.tables WHERE object_id = @table_id)
					   --+ ' SELECT ShopifyID, ShopifyInvID, Qty FROM '
					   + ' SELECT ShopifyID, ShopifyInvID, ' + @QtyRow + ' FROM '
					   + @IM_table
					   --+ ' WHERE UpdateState = 3 AND ShopifyInvID != 0'
					   + ' WHERE UpdateState = ' + CAST((30 + @RegionID) AS VARCHAR(2)) + ' AND ShopifyInvID != 0'
--END;
--ELSE
--BEGIN
	--SELECT @SQL_Select = 'INSERT INTO '
	--				   + (SELECT name FROM tempdb.sys.tables WHERE object_id = @table_id)
	--				   + ' SELECT m.ShopifyID, rspkv.ShopifyInvID, m.Qty FROM '
	--				   + @IM_table
	--				   + ' AS m LEFT JOIN r_ShopifyProdsKv rspkv ON rspkv.ProdID = m.ProdID AND rspkv.UpdateState NOT IN (6,7,8,9)'
	--				   + ' WHERE m.UpdateState = 3 AND m.ShopifyInvID != 0'
--END;

EXEC sp_executesql @SQL_Select

--Далее крусор, который обновляет остатки.
DECLARE REM CURSOR LOCAL FAST_FORWARD 
FOR
SELECT TOP 200 ids.ShopifyID, ids.ShopifyInventoryID, ids.ShopifyQty--q.Qty
FROM #shopi_ids ids
ORDER BY ids.ShopifyID ASC
--JOIN r_ShopifyProdsDp q WITH(NOLOCK) ON q.ShopifyID = ids.ShopifyID
--AND q.UpdateState = 3

OPEN REM
	FETCH NEXT FROM REM INTO @ShopifyID, @Shopify_inventory_ID, @Qty
WHILE @@FETCH_STATUS = 0
BEGIN
		    --Maslov Oleg '2020-01-31 10:11:48.146' Перевод процедуры на версию API '2020-01'.
			--Создаем специальный адрес, который установит заданое количество товара на определенный склад.
			SELECT 
			       --@URL = @site + '/admin/api/2019-04/inventory_levels/set.json?location_id='
			       @URL = @site + '/admin/api/2020-01/inventory_levels/set.json?location_id='
					    + @shopify_stock_id
					    + '&inventory_item_id=' + CAST(@Shopify_inventory_ID AS VARCHAR(50)) +'&available=' + CAST(@Qty AS VARCHAR(10))
				  ,@methodName = 'POST'
				  ,@proxy = '2'
				  ,@proxySettings = '10.1.0.16:8080'

			IF @methodName = ''
			BEGIN
				SELECT FailPoINT = 'Method Name must be set'
				RETURN
			END 

			--Создаем объект, для запроса.
			EXEC @hResult = sp_OACreate 'WinHttp.WinHttpRequest.5.1', @objectID OUT

			IF @hResult <> 0
			BEGIN
				EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
				SELECT 	hResult = convert(varbinary(4), @hResult), 
						source = @source, 
						description = @desc,
						FailPoINT = 'Create failed',
						MedthodName = @methodName
				GOTO destroy
				RETURN
			END

			-- open the destination URI with Specified method
			EXEC @hResult = sp_OAMethod @objectID, 'open', null, @methodName, @URL, 'false'
			IF @hResult <> 0
			BEGIN
				EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
				SELECT 	hResult = convert(varbinary(4), @hResult), 
					source = @source, 
					description = @desc,
					FailPoINT = 'Open failed',
					MedthodName = @methodName
				GOTO destroy
				RETURN
			END

			-- Особый хэдер URL-запроса для Shopify, для того, чтобы обойти аутентификацию.
			EXEC @hResult = sp_OAMethod @objectID, 'setRequestHeader', null, 'X-Shopify-Access-Token', @key
			IF @hResult <> 0
			BEGIN
				EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
				SELECT 	hResult = convert(varbinary(4), @hResult), 
					source = @source, 
					description = @desc,
					FailPoINT = 'SetRequestHeader failed: Content-Type',
					MedthodName = @methodName
				GOTO destroy
				RETURN
			END
			
			/*Устанавливаем логин и пароль для прокси-сервера.*/
			EXEC @hResult = sp_OAMethod @objectID, 'setCredentials', null, @login_proxy, @for_proxy, 1
			IF @hResult <> 0
			BEGIN
				EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
				SELECT 	hResult = convert(varbinary(4), @hResult), 
					source = @source, 
					description = @desc,
					FailPoINT = 'setProxyCredentials failed',
					MedthodName = @methodName
				GOTO destroy
				RETURN
			END

			--Делаем так, чтобы URL-запрос пошел через прокси-сервер.
			EXEC @hResult = sp_OAMethod @objectID, 'setProxy', NULL,  @proxy, @proxySettings
			IF @hResult <> 0
			BEGIN
				EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
				SELECT 	hResult = convert(varbinary(4), @hResult), 
					source = @source, 
					description = @desc,
					FailPoINT = 'SetProxy'
				GOTO destroy
				RETURN
			END
			
			--Отправляем запрос.
			EXEC 	@hResult = sp_OAMethod @objectID, 'send', null
			IF 	@hResult <> 0
			BEGIN
				EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
				SELECT 	hResult = convert(varbinary(4), @hResult), 
					source = @source, 
					description = @desc,
					FailPoINT = 'Send failed',
					MedthodName = @methodName
				GOTO destroy
				RETURN
			END

			-- Get status text
			EXEC sp_OAGetProperty @objectID, 'StatusText', @statusText out 
			EXEC sp_OAGetProperty @objectID, 'Status', @status out 
			
			--[ADDED] Maslov Oleg '2020-03-11 17:32:33.915' Если склады не обычные, то НЕ записываем логи, НЕ меняем статус и вытягиваем нужные InventoryID.
			--[CHANGED] Maslov Oleg '2020-03-16 11:06:28.674' Включаем полноценный режим для одного сайта.
			--IF @shopify_stock_id != '34782150769' AND @shopify_stock_id != '34782183537'
			--BEGIN
				-----------------------------------Log block--------------------------------------------------
				SET @SQL_Select = 'SELECT @out = ProdID FROM '
								+ @IM_table
								+ ' WHERE ShopifyID = '
								+ (SELECT CAST(@ShopifyID AS VARCHAR(100)) )

				EXEC sp_executesql @SQL_Select, N'@out VARCHAR(50) OUT', @outs OUT 
			
				DECLARE @Value VARCHAR(4000) = CAST(@Qty AS VARCHAR(10))--(SELECT SUBSTRING(CAST(@Qty AS VARCHAR), 1, CHARINDEX('.', CAST(@Qty AS VARCHAR))-1 ) )
				DECLARE @ProdID_log INT = (SELECT CAST(@outs AS INT) ), @UpdateState INT = (30 + @RegionID)
				EXEC ap_VC_IM_Logs @RegionID = @RegionID, @UpdateState = @UpdateState, @ProdID = @ProdID_log, @Value = @Value, @Status = @status, @StatusText = @statusText
				-----------------------------------Log block--------------------------------------------------

				IF (SELECT CAST(@status AS INT)) = 200
				BEGIN
					SET @SQL_Select = 'UPDATE '
									+ @IM_table
									+ ' SET UpdateDate = GETDATE(), UpdateState = 0	WHERE ShopifyID = '
									+ (SELECT CAST(@ShopifyID AS VARCHAR(100)) )

					EXEC sp_executesql @SQL_Select 
				
					--UPDATE r_ShopifyProdsDp SET UpdateDate = GETDATE(), UpdateState = 0	WHERE ShopifyID = @ShopifyID
				END;
			--END;

			-- Get response text
			INSERT INTO #xml
				 EXEC sp_OAGetProperty @objectID, 'responseText'

			IF @hResult <> 0
			BEGIN
				EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
				SELECT 	hResult = convert(varbinary(4), @hResult), 
					source = @source, 
					description = @desc,
					FailPoINT = 'ResponseText failed',
					MedthodName = @methodName
				GOTO destroy
				RETURN
			END

			destroy:
				EXEC sp_OADestroy @objectID

	FETCH NEXT FROM REM INTO @ShopifyID, @Shopify_inventory_ID, @Qty
END
CLOSE REM
DEALLOCATE REM

/*
'hell' was here.
 
Если он еще будет нужен, то он в "ShopifyREMS.sql".

Собственно 'hell' - это поптыка наладить ИМ для работы с двумя складами, один из
них ОПТовый склад с базы Elit.
*/

global_destroy:
	--EXEC sp_OADestroy @objectID
	IF OBJECT_ID (N'tempdb..#shopi_ids',N'U') IS NOT NULL DROP TABLE #shopi_ids
	IF OBJECT_ID (N'tempdb..#xml',N'U') IS NOT NULL DROP TABLE #xml
END