ALTER PROCEDURE [dbo].[ap_VC_IM_GetOrders] @api_l VARCHAR(500) = '', @key VARCHAR(500) = '', @RegionID INT = -1, @admin_adress VARCHAR(500) = '', @ShopifyOrderID VARCHAR(50) = '', @Test INT = 0
AS
BEGIN
/*
Процедура достает новые заказы по интренет-магазину, если они есть.

Brevis descriptio
В начале работы скрипт находит последний ShopifyID в текущем регионе. Далее
создается URL-запрос. Этот запрос вытягивает заказы, которые были сделаны после
последнего найденного. Информация по закзу записывается в реестр заказов t_IMOrders,
а детальная часть заказа - в t_IMOrdersD.
Если новых закзов нет, то выход из процедуры.

Если @Test = 1, то обычный прогон. ВСТАВКА в базу, если есть заказы. Если в параметр @ShopifyOrderID вставить ID заказа в Shopify, то в реестр t_IMOrders будет ВСТАВЛЕН только этот заказ.
Если @Test = 2, это режим для вывода одного заказа. БЕЗ вставки в базу.
Если @Test = 3, это режим для вывода всех заказов после указанного. Или первых 50, если
ничего не указывать в параметре @ShopifyOrderID. БЕЗ вставки в базу.
*/

/*
EXEC ap_VC_IM_GetOrders @api_l = '4a31bd883165bfd2bb8932c6287e7b9c'
					   ,@key = '6bab3199775c589f2922cd5bdb48a10b'
					   ,@RegionID = 2
					   ,@admin_adress = 'vintagemarket-dev.myshopify.com'
					   ,@ShopifyOrderID = ''
					   ,@Test = 1

EXEC ap_VC_IM_GetOrders @api_l = '4a31bd883165bfd2bb8932c6287e7b9c'
					   ,@key = '6bab3199775c589f2922cd5bdb48a10b'
					   ,@RegionID = 2
					   ,@admin_adress = 'vintagemarket-dev.myshopify.com'
					   ,@ShopifyOrderID = '2462087741553'
					   ,@Test = 2

--'2020-03-20 10:29:33.300' Старый блок процедур. Он использовался в те времена, когда ИМ был разделен на три сайта.
EXEC ap_VC_IM_GetOrders @api_l = 'ae2cd8b5024636640b29d6c8a7c5e1b7', @key = 'f61cd35b8e1ab1a377abd1c9f5a0e28d', @RegionID = 1, @admin_adress = 'vintagemarket-dp.myshopify.com', @Test = 1	--Днепр
EXEC ap_VC_IM_GetOrders @api_l = '4a31bd883165bfd2bb8932c6287e7b9c', @key = '6bab3199775c589f2922cd5bdb48a10b', @RegionID = 2, @admin_adress = 'vintagemarket-dev.myshopify.com', @Test = 1	--Киев
EXEC ap_VC_IM_GetOrders @api_l = '822ee75ea06b63718ec6422bd0b77748', @key = 'c2bb7455131d0c407d241170acd20e58', @RegionID = 5, @admin_adress = 'vintagemarket-kh.myshopify.com', @Test = 1	--Харьков


EXEC ap_VC_IM_GetOrders @api_l = 'ae2cd8b5024636640b29d6c8a7c5e1b7'
					   ,@key = 'f61cd35b8e1ab1a377abd1c9f5a0e28d'
					   ,@RegionID = 1
					   ,@admin_adress = 'vintagemarket-dp.myshopify.com'
					   ,@ShopifyOrderID = '2156645744737'
					   ,@Test = 2

*/

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*CHANGELOG*/
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--moa0 '2019-10-01 10:01:22.637' Теперь, если заказ попал в базу после двух часов дня, то дата "Ожидается"
	--будет переносится на завтра, а если еще и день недели пятница, то дата переносится на следующий понедельник.
--moa0 '2019-10-07 10:39:57.822' Если заказ сделан на выходных, то он автоматом переносится на понедельник.
--moa0 '2019-10-07 14:51:52.212' Не подтягивался тип доставки.
--moa0 '2019-10-15 10:43:02.571' Добавил дополнительный блок выхода из процедуры.
	--Возникла проблема, когда один и тот же заказ залился больше 300-от раз.
--moa0 '2019-11-04 11:50:33.619' Shopify придумали интересную штуку. В прошлую пятницу (01.11.2019)
	--часов в 11 утра добавили еще один тег <line-items type="array">, который дублирует детальную часть
	--заказа. Отличие между тегами в том, что в одном тип цен указан как "decimal", а в другом - "Money".
	--И еще есть дополнительная информация в теге <origin-location type="OrderLocation">
--[ADDED] Maslov Oleg '2019-12-28 16:26:38.542' По заявке Трушляковой на период с с 30.12.19 (с 16:00) по 02.01.20 (по 14:00) будут переносится на 02.01.2020.
--[ADDED] Maslov Oleg '2020-01-08 13:35:04.069' Если сумма заказа меньше 400, то ставим тип доставки - курьер.
--[FIXED] Maslov Oleg '2020-01-09 10:51:48.488' При работе процедуры в джобе ответ, который возвращает API, режется до 512 символов.
				--то есть по умолчанию стоит "SET TEXTSIZE 1024;" (1024/2 = 512 nchars).
--[ADDED] Maslov Oleg '2020-01-14 14:01:44.917' Добавил тип доставки "Новая почта".
--[CHANGED] Maslov Oleg '2020-01-22 11:15:56.121' Меняем метод получения детальной части заказа на более надежный.
--[FIXED] Maslov Oleg '2020-01-27 09:20:17.910' Уникум в ИМ Харькова ввел свое отчество, что привело к переполнению строки. Пора ввести жесткие ограничения на все строковые поля.
--[CHANGED] Maslov Oleg '2020-01-28 10:05:40.532' Меняем метод получения детальной части заказа на более надежный (дубль 2).
--[CHANGED] Maslov Oleg '2020-01-29 09:27:31.093' Перевод процедуры на версию API '2020-01'.
--[CHANGED] Maslov Oleg '2020-03-16 17:29:07.071' Переход на один сайт.
--[CHANGED] Maslov Oleg '2020-03-17 17:01:58.165' Теперь при оплате покупки картой меняем форму оплаты.
--[CHANGED] Maslov Oleg '2020-03-26 14:47:59.105' Номер телефона переехал из тега "phone" в тег "zip". Не знаю как и почему. Просто случайно обнаружил.
--[CHANGED] Maslov Oleg '2020-03-27 11:31:50.025' Хватит это терпеть. На сайте снова поменяли название доставки и диапазон цен. Теперь если встречаем слово "курьер", то вставляем тип "courier" и точка.
--[FIXED] Maslov Oleg '2020-04-03 16:29:47.250' В одном из заказов клиент выбрал платную доставку. Заказ разбился на два города и доставка попала в заказ и туда и туда. Блок снизу должен решить эту проблему.
--[CHANGED] Maslov Oleg '2020-04-07 09:58:21.979' Выключил блок, который раньше выгружал данные с трех сайтов.
--[ADDED] Maslov Oleg '2020-04-07 10:01:51.533' Добавил новое поле для выгрузки "ShopifyCheckoutID". Оно нужно чтобы сопоставлять оплаты из ИМ с нашимы заказами.
--[CHANGED] Maslov Oleg '2020-04-07 17:35:45.885' Оказывается, что тег "city" есть не в каждом заказе, а только в тех, которые создали сами пользователи, а не оператор.
--[CHANGED] Maslov Oleg '2020-04-17 19:48:37.736' Теперь процедура выгрузки заказов берет цены с сайта, а не из базы.
--[ADDED] Maslov Oleg '2020-04-24 11:24:05.695' Добавил новое поле и дополнительную скидку на товар (от промокодов).
--[CHANGED] Maslov Oleg '2020-04-27 10:57:28.883' Добавил в таблицу-заголовок поле, которое будет хранить промокод или промокоды, который применили к заказу.
--[FIXED] Maslov Oleg '2020-04-28 12:45:52.916' Оказывается, что в поле "discount-allocation/amount" хранится не значение скидки, а ее сумма, то есть значение скидки умноженное на количество заказанного товара (это просто гениально).
--[CHANGED] Maslov Oleg '2020-04-29 10:38:24.412' Промокод теперь будет попадать в примечание.
--[CHANGED] Maslov Oleg '2020-04-29 17:41:39.431' По заявке от Трушляковой. Теперь заказы переносятся на следующий день, если они были сделаны после 16:00.
--[FIXED] Maslov Oleg '2020-05-14 09:24:35.264' Еще один финт ушами случился 13-05-2020 приблизительно в 20:30. У заказа не оказалось адреса доставки (shipping-address), но зато есть адрес выставления чека (billing-address) (Что это и откуда?!). Не перестаю удивлятся разнообразию мин, которые подкидывают разработчики Shopify.
--[ADDED] Maslov Oleg '2020-06-05 17:42:56.693' По заявке Трушляковой. Два понедельника (2020-06-08 и 2020-06-29) будут выходными, на это время заказы будут переноситься на вторник (2020-06-09 и 2020-06-30).
--[FIXED] Maslov Oleg '2020-06-16 12:42:52.188' Новости. В случае, если к заказу, который разбит на несколько городов, подвязан промокод, то может случится так, что скидка по коду посчитается не правильно. Что и произошло с заказом 4284. Теперь при расчете скидки берется общее количество по товару для всего заказа.
--[CHANGED] Maslov Oleg '2020-07-01 10:29:13.350' Перенос API-запроса в процедуру.
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

--Ниже идет предварительная настройка временных таблиц и объявление переменных.

--Maslov Oleg '2020-01-09 10:51:48.488' При работе процедуры в джобе ответ, который возвращает API, режется до 512 символов.
    --то есть по умолчанию стоит "SET TEXTSIZE 1024;" (1024/2 = 512 nchars).
SET TEXTSIZE 2147483647;
SET NOCOUNT ON

--Выходим, если кто-то хочет запустить процедуру без параметров.
IF @api_l = '' OR @key = '' OR @RegionID = -1 AND @admin_adress = ''
BEGIN
	RETURN;
END;

IF OBJECT_ID (N'tempdb..#xml',N'U') IS NOT NULL DROP TABLE #xml
CREATE TABLE #xml
(Orders XML)

DECLARE @temp TABLE (res VARCHAR(MAX))

DECLARE @statusText VARCHAR(1000), @status VARCHAR(1000), @link VARCHAR(8000), @answer VARCHAR(MAX)

DECLARE @URI VARCHAR(3000)
	   ,@methodName VARCHAR(50)
	   ,@proxy VARCHAR(50)
	   ,@proxySettings VARCHAR(50)
	   ,@objectID INT
	   ,@hResult INT
	   ,@source VARCHAR(255)
	   ,@desc VARCHAR(255)
	   ,@login_proxy VARCHAR(200) = 'CONST\vintageshopify'
	   ,@for_proxy VARCHAR(100) = (SELECT CONVERT(VARCHAR(100), DecryptByPassPhrase(ORIGINAL_LOGIN(), 0x0100000068D4AB26848B654D3149C9EC9E19CBD586F805D3F10AFE5B9C9F516E87CE330A )))
	   --,@site VARCHAR(3000) = 'https://ae2cd8b5024636640b29d6c8a7c5e1b7:f61cd35b8e1ab1a377abd1c9f5a0e28d@vintagemarket-dp.myshopify.com', @api_l VARCHAR(500) = 'ae2cd8b5024636640b29d6c8a7c5e1b7', @key VARCHAR(500) = 'f61cd35b8e1ab1a377abd1c9f5a0e28d', @RegionID INT = 1--dnepr = 1
	   ,@site VARCHAR(3000) = 'https://' + @api_l + ':' + @key + '@' + @admin_adress

--Немного демонизма, чтобы все работало.
IF @Test != 0
BEGIN
	SET @for_proxy = (SELECT CONVERT(VARCHAR(100), DecryptByPassPhrase(ORIGINAL_LOGIN(), 0x0100000014DBC39169721A1CC037D82C2C82AF60EA2DB4A2727EDD9040D5AFD5A589187C )))
END;

--Maslov Oleg '2020-01-29 09:27:31.093' Перевод процедуры на версию API '2020-01'.
SELECT 
       --@URI = @site + '/admin/api/2019-04/orders.xml?since_id='
       @URI = @site + '/admin/api/2020-01/orders.xml?since_id='
			--Последний заказ в текущем регионе.
			+ CASE 
				   --Если нужно вытянуть заказы со старых сайтов Shopify.
				   WHEN @key != '6bab3199775c589f2922cd5bdb48a10b'
					THEN (SELECT TOP 1 CAST(ShopifyOrderID AS VARCHAR(50)) FROM t_IMOrders WHERE DocID BETWEEN (@RegionID * 10000000) AND ( (@RegionID * 10000000) + 999999) ORDER BY DocDate DESC)
				   --Если заказы по ИМ уже были, то вытягиваем последний "ShopifyOrderID".
				   WHEN EXISTS (SELECT TOP 1 CAST(ShopifyOrderID AS VARCHAR(50)) FROM t_IMOrders WHERE DocID BETWEEN (@RegionID * 10000000) AND ( (@RegionID * 10000000) + 9999999) ORDER BY DocDate DESC)
				   --THEN (SELECT TOP 1 CAST(ShopifyOrderID AS VARCHAR(50)) FROM t_IMOrders WHERE DocID BETWEEN (@RegionID * 10000000) AND ( (@RegionID * 10000000) + 9999999) ORDER BY DocDate DESC)
					THEN CAST( (SELECT MAX(ShopifyOrderID) FROM t_IMOrders) AS VARCHAR(50))
				   ELSE '0' END
	  ,@methodName = 'GET'
	  ,@proxy = '2'
	  ,@proxySettings = '10.1.0.16:8080'

--Для вывода только одного заказа. Путь @Test = 1 и 2.
IF @Test IN (1,2) AND @ShopifyOrderID != ''
BEGIN
	SELECT
		   @URI = @site + '/admin/api/2020-01/orders/' + @ShopifyOrderID + '.xml'

	SELECT @URI
END;

--Для вывода нескольких заказов. Путь @Test = 3.
IF @Test = 3
BEGIN
	SELECT
		   @URI = @site + '/admin/api/2020-01/orders.xml?since_id=' 
				+ CASE WHEN @ShopifyOrderID != ''
						THEN @ShopifyOrderID
						ELSE '0' END

	SELECT @URI
END;

--[CHANGED] Maslov Oleg '2020-07-01 10:29:13.350' Перенос API-запроса в процедуру.
EXEC ap_Shopify_API_query @URI = @URI
						 ,@QueryMethod = @methodName
						 ,@API_creds = @key
						 ,@LoginProxy = @login_proxy
						 ,@ForProxy = @for_proxy
						 ,@Status		= @status OUT
						 ,@StatusText	= @statusText OUT
						 ,@Link			= @link OUT
						 ,@Answer		= @answer OUT

INSERT INTO @temp
SELECT @answer

/*
IF 	@methodName = ''
BEGIN
	select FailPoINT = 'Method Name must be set'
	RETURN
END 

--Создаем запрос в API Shopify и вытягиваем ответ.
IF 1 = 1
BEGIN

	--Создаем объект, для запроса.
	EXEC @hResult = sp_OACreate 'WinHttp.WinHttpRequest.5.1', @objectID OUT

	IF @hResult <> 0
	BEGIN
		EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
		SELECT 	hResult = convert(varbinary(4), @hResult), 
				source = @source, 
				description = @desc,
				FailPoINT = 'Create failed',
				MedthodName = @methodName
		GOTO destroy
		RETURN
	END

	-- open the destination URI with Specified method
	EXEC @hResult = sp_OAMethod @objectID, 'open', null, @methodName, @URI, 'false'
	IF @hResult <> 0
	BEGIN
		EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
		SELECT 	hResult = convert(varbinary(4), @hResult), 
			source = @source, 
			description = @desc,
			FailPoINT = 'Open failed',
			MedthodName = @methodName
		GOTO destroy
		RETURN
	END

	-- Особый хэдер URL-запроса для Shopify, для того, чтобы обойти аутентификацию.
	EXEC @hResult = sp_OAMethod @objectID, 'setRequestHeader', null, 'X-Shopify-Access-Token', @key
	IF @hResult <> 0
	BEGIN
		EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
		SELECT 	hResult = convert(varbinary(4), @hResult), 
			source = @source, 
			description = @desc,
			FailPoINT = 'SetRequestHeader failed: Content-Type',
			MedthodName = @methodName
		GOTO destroy
		RETURN
	END

	/*Устанавливаем логин и пароль для прокси-сервера.*/
	EXEC @hResult = sp_OAMethod @objectID, 'setCredentials', null, @login_proxy, @for_proxy, 1
	IF @hResult <> 0
	BEGIN
		EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
		SELECT 	hResult = convert(varbinary(4), @hResult), 
			source = @source, 
			description = @desc,
			FailPoINT = 'setProxyCredentials failed',
			MedthodName = @methodName
		GOTO destroy
		RETURN
	END

	--Делаем так, чтобы URL-запрос пошел через прокси-сервер.
	EXEC @hResult = sp_OAMethod @objectID, 'setProxy', NULL,  @proxy, @proxySettings
	IF @hResult <> 0
	BEGIN
		EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
		SELECT 	hResult = convert(varbinary(4), @hResult), 
			source = @source, 
			description = @desc,
			FailPoINT = 'SetProxy'
		GOTO destroy
		RETURN
	END

	--Отправляем запрос.
	EXEC 	@hResult = sp_OAMethod @objectID, 'send', null
	IF 	@hResult <> 0
	BEGIN
		EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
		SELECT 	hResult = convert(varbinary(4), @hResult), 
			source = @source, 
			description = @desc,
			FailPoINT = 'Send failed',
			MedthodName = @methodName
		GOTO destroy
		RETURN
	END

	-- Get status text
	EXEC sp_OAGetProperty @objectID, 'StatusText', @statusText out 
	EXEC sp_OAGetProperty @objectID, 'Status', @status out

	-- Get response text
	INSERT INTO @temp
		EXEC sp_OAGetProperty @objectID, 'responseText'

	--Если ошибка.
	IF @hResult <> 0
	BEGIN
		EXEC sp_OAGetErrorInfo @objectID, @source OUT, @desc OUT 
		SELECT 	hResult = convert(varbinary(4), @hResult), 
			source = @source, 
			description = @desc,
			FailPoINT = 'ResponseText failed',
			MedthodName = @methodName
		GOTO destroy
		RETURN
	END
END;
*/
INSERT INTO #xml
	SELECT CASE WHEN @Test IN (1,2) AND @ShopifyOrderID != ''
				 THEN '<orders>' + REPLACE(res, '<?xml version="1.0" encoding="UTF-8"?>', '') + '</orders>'
				 ELSE REPLACE(res, '<?xml version="1.0" encoding="UTF-8"?>', '') END FROM @temp

--Если новых заказов нет, то выход (знаю, что топорно проверять по количеству символов).
IF (SELECT LEN(res) FROM @temp) <= 70
BEGIN
	RETURN
END;

--[ADDED] Maslov Oleg '2020-04-07 10:01:51.533' Добавил новое поле для выгрузки "ShopifyCheckoutID". Оно нужно чтобы сопоставлять оплаты из ИМ с нашимы заказами.
--Временная таблица для заголовка заказа.
DECLARE @OrdersM TABLE
( DocID INT,
  DocDate SMALLDATETIME,
  ExpDate SMALLDATETIME,
  ExpTime VARCHAR(250),
  ClientID BIGINT,
  Address VARCHAR(250),
  Notes VARCHAR(250),
  PayFormCode INT,
  Recipient VARCHAR(250),
  Phone VARCHAR(250),
  DeliveryType VARCHAR(250),
  DeliveryPriceCC NUMERIC(21,2),
  RegionID INT,
  CompType TINYINT,
  Code VARCHAR(20),
  DCardID VARCHAR(250),
  ShopifyOrderID BIGINT,
  ShopifyCheckoutID BIGINT,
  ShopifyDiscCodes VARCHAR(500),
  ImportDate SMALLDATETIME,
  Status INT)
/*
Для того, чтобы функция DATEPART(WEEKDAY, GETDATE()) была настроена начинать неделю
с понедельника, а не с воскресенья.
*/
SET DATEFIRST 1

--[CHANGED] Maslov Oleg '2020-04-07 09:58:21.979' Выключил блок, который раньше выгружал данные с трех сайтов.
--IF @key = '6bab3199775c589f2922cd5bdb48a10b'
--BEGIN

	--[CHANGED] Maslov Oleg '2020-03-16 17:29:07.071' Переход на один сайт.
	DECLARE @OrderCurs INT, @Atrib VARCHAR(MAX)
	DECLARE @OrderInfo TABLE (ShortOrderID INT, ShopifyID BIGINT, ShopifyStockID BIGINT, Qty NUMERIC(21,9) )
	
	/*
	Если кратко, то делаем все через ж... То есть с конца начинаем обработку заказа.
	Точная информация о детальной части заказа сейчас находится в примечании он же тег "notes".
	Вытягиваем с тега "notes" все, что видим и ищем тег "note_attributes". В нем находится 
	детальная часть заказа - какой товар и с какого склада.
	В зависимости от результата обработки мы получаем заголовок либо на один заказ, либо на несколько,
	если в заказе фигурирует не один склад.
	*/
	DECLARE Attributes CURSOR LOCAL FAST_FORWARD 
	FOR 
	SELECT CAST ( CAST (ord.query('data(order-number)') AS VARCHAR(20)) AS INT) 'DocID'
		  ,REPLACE( REPLACE( CAST (ord.query('data(note)') AS VARCHAR(MAX)), '&lt;', '<'), '&gt;', '>' ) AS 'Details'
	FROM #xml ord CROSS APPLY ord.Orders.nodes('orders/order') orders(ord)

	OPEN Attributes
		FETCH NEXT FROM Attributes INTO @OrderCurs,@Atrib
	WHILE @@FETCH_STATUS = 0	 
	BEGIN
			INSERT INTO @OrderInfo(ShortOrderID, ShopifyID, ShopifyStockID, Qty)
			SELECT @OrderCurs
				  ,o.ord.value('(id)[1]', 'bigint')
				  ,o.ord.value('(stock)[1]', 'bigint')
				  ,o.ord.value('(quantity)[1]', 'numeric(21,9)')
			FROM (SELECT CAST( SUBSTRING(@Atrib, CHARINDEX('<note_attributes>',@Atrib), LEN(@Atrib)) AS XML) AS 'Prods') x
			CROSS APPLY x.Prods.nodes('note_attributes/product') AS o(ord)

		FETCH NEXT FROM Attributes INTO @OrderCurs,@Atrib
	END
	CLOSE Attributes
	DEALLOCATE Attributes

	--Заголовок заказа.
	INSERT INTO @OrdersM(DocID, DocDate, ExpDate, ExpTime, ClientID, Address, Notes, PayFormCode, Recipient, Phone, DeliveryType, DeliveryPriceCC, RegionID, CompType, Code, DCardID, ShopifyOrderID, ShopifyCheckoutID, ShopifyDiscCodes, ImportDate, Status)
	SELECT q1.ShortOrderID + (SELECT RefID*10000000 FROM r_Uni WHERE CAST(RefName AS BIGINT) = q1.ShopifyStockID AND RefTypeID = 1000000016) + 1000000 AS 'DocID'
		  ,q2.DocDate
		  ,q2.ExpDate
		  ,q2.ExpTime
		  ,q2.ClientID
		  ,q2.Address
		  --[CHANGED] Maslov Oleg '2020-04-29 10:38:24.412' Промокод теперь будет попадать в примечание.
		  ,CAST( (LTRIM(q2.Notes) + q2.ShopifyDiscCodes) AS VARCHAR(250))
		  ,q2.PayFormCode
		  ,q2.Recipient
		  ,q2.Phone
		  ,q2.DeliveryType
		  ,q2.DeliveryPriceCC
		  ,(SELECT RefID FROM r_Uni WHERE CAST(RefName AS BIGINT) = q1.ShopifyStockID AND RefTypeID = 1000000016) AS 'RegionID'
		  ,q2.CompType
		  ,q2.Code
		  ,q2.DCardID
		  ,q2.ShopifyOrderID
		  ,q2.ShopifyCheckoutID
		  ,q2.ShopifyDiscCodes
		  ,q2.ImportDate
		  ,q2.Status
	FROM
	( 
		SELECT DISTINCT ShortOrderID, ShopifyStockID
		FROM @OrderInfo
	) q1
	LEFT JOIN
	(
		SELECT 
			  --CAST ( CAST (ord.query('data(order-number)') AS VARCHAR(20)) AS INT) 'DocID'
			   o.ord.value('(order-number)[1]', 'int') AS 'DocID'
			  --,CAST ( SUBSTRING( (CAST (ord.query('data(created-at)') AS VARCHAR(100)) ), 1, 19 ) AS SMALLDATETIME) 'DocDate'
			  ,o.ord.value('(created-at)[1]', 'smalldatetime') AS 'DocDate'
			  ,CASE 
					--[ADDED] Maslov Oleg '2020-06-05 17:42:56.693' По заявке Трушляковой. Два понедельника (2020-06-08 и 2020-06-29) будут выходными, на это время заказы будут переноситься на вторник (2020-06-09 и 2020-06-30).
					WHEN GETDATE() BETWEEN '2020-06-05 16:00:00' AND '2020-06-08 23:59:00'
						THEN '2020-06-09'
					WHEN GETDATE() BETWEEN '2020-06-26 16:00:00' AND '2020-06-29 23:59:00'
						THEN '2020-06-30'
					--[CHANGED] Maslov Oleg '2020-04-29 17:41:39.431' По заявке от Трушляковой. Теперь заказы переносятся на следующий день, если они были сделаны после 16:00.
					--Если сейчас выходной или пятница после 4 часов дня, то переносим заказ на понедельник.
					WHEN (DATEPART(HOUR, GETDATE() ) >= 16 AND DATEPART(WEEKDAY, GETDATE()) = 5)
					  OR (DATEPART(WEEKDAY, GETDATE()) IN (6,7) )
						THEN [dbo].[af_GetDateOfDayInDependenceFromWeek](GETDATE(), 1, 1)
					--Если текущее время больше или равно 4 часам дня, то перносим дату "Ожидается" на завтра.
					WHEN DATEPART(HOUR, GETDATE() ) >= 16
						THEN DATEADD(DAY, 1, GETDATE())
					--Если предыдущие условия не сработали, то ставим текущую дату.
						ELSE GETDATE() END AS 'ExpDate'
			  ,'00:00-23:00' AS 'ExpTime'
			  ,0 AS 'ClientID'
			  --[FIXED] Maslov Oleg '2020-05-14 09:24:35.264' Еще один финт ушами случился 13-05-2020 приблизительно в 20:30. У заказа не оказалось адреса доставки (shipping-address), но зато есть адрес выставления чека (billing-address) (Что это и откуда?!). Не перестаю удивлятся разнообразию мин, которые подкидывают разработчики Shopify.
			  /*,SUBSTRING(
				CAST (ord.query('data(shipping-address/country)') AS VARCHAR(1000))
				+ ', ' + CAST (ord.query('data(shipping-address/city)') AS VARCHAR(1000))
				+ ', ' + CAST (ord.query('data(shipping-address/address1)') AS VARCHAR(1000))
				+ ', ' + CAST (ord.query('data(shipping-address/address2)') AS VARCHAR(1000))
				--+ ', ' + CAST (ord.query('data(shipping-address/zip)') AS VARCHAR(1000))
			   ,1,250) 'Address'*/
			  ,ISNULL
			    (
					SUBSTRING(
							 o.ord.value('(shipping-address/country)[1]', 'varchar(1000)')
					+ ', ' + o.ord.value('(shipping-address/city)[1]', 'varchar(1000)')
					+ ', ' + o.ord.value('(shipping-address/address1)[1]', 'varchar(1000)')
					+ ', ' + o.ord.value('(shipping-address/address2)[1]', 'varchar(1000)')
					--+ ', ' + CAST (ord.query('data(shipping-address/zip)') AS VARCHAR(1000))
				       ,1,250)
			            ,o.ord.value('(billing-address/country)[1]', 'varchar(1000)')
				+ ', ' + o.ord.value('(billing-address/city)[1]', 'varchar(1000)')
				+ ', ' + o.ord.value('(billing-address/address1)[1]', 'varchar(1000)')
				+ ', ' + o.ord.value('(billing-address/address2)[1]', 'varchar(1000)')
				) AS 'Address'
			  /*,CASE WHEN CAST( SUBSTRING( CAST (ord.query('data(note)') AS VARCHAR(MAX)), 1, CHARINDEX('&lt;note_attributes&gt;',CAST (ord.query('data(note)') AS VARCHAR(MAX))) ) AS VARCHAR(175) ) = '&'
					 AND LEN (CAST( SUBSTRING( CAST (ord.query('data(note)') AS VARCHAR(MAX)), 1, CHARINDEX('&lt;note_attributes&gt;',CAST (ord.query('data(note)') AS VARCHAR(MAX))) ) AS VARCHAR(175) )) = 1
						THEN ''
						ELSE CAST( SUBSTRING( CAST (ord.query('data(note)') AS VARCHAR(MAX)), 1, CHARINDEX('&lt;note_attributes&gt;',CAST (ord.query('data(note)') AS VARCHAR(MAX))) ) AS VARCHAR(175) ) END
				--[CHANGED] Maslov Oleg '2020-03-26 14:47:59.105' Номер телефона переехал из тега "phone" в тег "zip". Не знаю как и почему. Просто случайно обнаружил.
				--+ ' ' + CAST (ord.query('data(phone)') AS VARCHAR(20) )
				+ ' ' + CAST (ord.query('data(shipping-address/zip)') AS VARCHAR(20))
				+ ' ' + ISNULL( CAST (ord.query('data(email)') AS VARCHAR(50)), '') AS 'Notes'*/
			  ,CASE WHEN CAST( SUBSTRING( o.ord.value('(note)[1]', 'varchar(max)'), 1, CHARINDEX('&lt;note_attributes&gt;', o.ord.value('(note)[1]', 'varchar(max)') ) ) AS VARCHAR(175) ) = '&'
					 AND LEN (CAST( SUBSTRING( o.ord.value('(note)[1]', 'varchar(max)'), 1, CHARINDEX('&lt;note_attributes&gt;', o.ord.value('(note)[1]', 'varchar(max)')) ) AS VARCHAR(175) )) = 1
						THEN ''
						ELSE CAST( SUBSTRING( o.ord.value('(note)[1]', 'varchar(max)'), 1, CHARINDEX('&lt;note_attributes&gt;', o.ord.value('(note)[1]', 'varchar(max)')) ) AS VARCHAR(175) ) END
				--[CHANGED] Maslov Oleg '2020-03-26 14:47:59.105' Номер телефона переехал из тега "phone" в тег "zip". Не знаю как и почему. Просто случайно обнаружил.
				--+ ' ' + CAST (ord.query('data(phone)') AS VARCHAR(20) )
						--[FIXED] Maslov Oleg '2020-05-14 09:24:35.264' Еще один финт ушами случился 13-05-2020 приблизительно в 20:30. У заказа не оказалось адреса доставки (shipping-address), но зато есть адрес выставления чека (billing-address) (Что это и откуда?!). Не перестаю удивлятся разнообразию мин, которые подкидывают разработчики Shopify.
				+ ' ' + ISNULL( o.ord.value('(shipping-address/zip)[1]', 'varchar(20)'), o.ord.value('(billing-address/zip)[1]', 'varchar(20)'))
				+ ' ' + o.ord.value('(email)[1]', 'varchar(50)') AS 'Notes'
			  --[CHANGED] Maslov Oleg '2020-03-17 17:01:58.165' Теперь при оплате покупки картой меняем форму оплаты.
			  ,CASE WHEN CAST (ord.query('data(payment-gateway-names[1]/payment-gateway-name)') AS VARCHAR(250)) = 'fondy'
					 THEN 2
					 ELSE 1 END AS 'PayFormCode'
			  --,SUBSTRING( CAST (ord.query('data(customer/last-name)') AS VARCHAR(MAX)) + ' ' + CAST (ord.query('data(customer/first-name)') AS VARCHAR(MAX)), 1, 250 ) AS 'Recipient'
			  ,SUBSTRING( o.ord.value('(customer/last-name)[1]', 'varchar(max)') + ' ' + o.ord.value('(customer/first-name)[1]', 'varchar(max)'), 1, 250 ) AS 'Recipient'
			  --,SUBSTRING( CAST (ord.query('data(phone)') AS VARCHAR(MAX)), 1, 250 ) 'Phone'
			  ,SUBSTRING( o.ord.value('(phone)[1]', 'varchar(max)'), 1, 250 ) AS 'Phone'
			  ,CASE
					WHEN CAST (ord.query('data(shipping-lines/shipping-line/code)') AS VARCHAR(250)) LIKE '%Новой Почты%'
						THEN 'novaPoshta'
					WHEN CAST( CAST ( CAST (ord.query('data(shipping-lines/shipping-line/price)') AS VARCHAR(100)) AS FLOAT) AS NUMERIC(21,2)) > 0
						 AND CAST( CAST ( CAST (ord.query('data(total-line-items-price)') AS VARCHAR(100)) AS FLOAT) AS NUMERIC(21,2)) < 400
						THEN 'courier'
					--[CHANGED] Maslov Oleg '2020-03-27 11:31:50.025' Хватит это терпеть. На сайте снова поменяли название доставки и диапазон цен. Теперь если встречаем слово "курьер", то вставляем тип "courier" и точка.
					--WHEN CAST (ord.query('data(shipping-lines/shipping-line/code)') AS VARCHAR(250)) LIKE 'Бесплатная доставка Курьером%'
					WHEN CAST (ord.query('data(shipping-lines/shipping-line/code)') AS VARCHAR(250)) LIKE '%Курьер%'
						 OR
					     CAST (ord.query('data(shipping-lines/shipping-line/code)') AS VARCHAR(250)) LIKE '%курьер%'
						THEN 'courier'
					ELSE 'No delivery type'
						END AS 'DeliveryType'
			  ,CAST( CAST ( CAST (ord.query('data(shipping-lines/shipping-line/price)') AS VARCHAR(100)) AS FLOAT) AS NUMERIC(21,2)) AS 'DeliveryPriceCC'
			  ,1 AS 'CompType'
			  ,'' AS 'Code'
			  ,'<Нет дисконтной карты>' AS 'DCardID'
			  --,CAST( CAST (ord.query('data(id)') AS VARCHAR(50)) AS BIGINT) AS 'ShopifyOrderID'
			  ,o.ord.value('(id)[1]', 'bigint') AS 'ShopifyOrderID'
			  --,ISNULL( CAST( CAST (ord.query('data(checkout-id)') AS VARCHAR(50)) AS BIGINT), 0) AS 'ShopifyCheckoutID'
			  ,o.ord.value('(checkout-id)[1]', 'bigint') AS 'ShopifyCheckoutID'
			  --[CHANGED] Maslov Oleg '2020-04-27 10:57:28.883' Добавил в таблицу-заголовок поле, которое будет хранить промокод или промокоды, который применили к заказу.
			  ,CAST(ord.query('data(discount-codes[1]/discount-code/code)') AS VARCHAR) AS 'ShopifyDiscCodes'
			  ,GETDATE() AS 'ImportDate'
			  ,0 AS 'Status'
		--FROM #xml ord CROSS APPLY ord.Orders.nodes('orders/order') orders(ord)
		FROM #xml x
		CROSS APPLY x.Orders.nodes('orders[1]/order') o(ord)
	) q2 ON q2.DocID = q1.ShortOrderID

--[CHANGED] Maslov Oleg '2020-04-07 09:58:21.979' Выключил блок, который раньше выгружал данные с трех сайтов.
/*
END;
ELSE
BEGIN

	INSERT INTO @OrdersM(DocID, DocDate, ExpDate, ExpTime, ClientID, Address, Notes, PayFormCode, Recipient, Phone, DeliveryType, DeliveryPriceCC, RegionID, CompType, Code, DCardID, ShopifyOrderID, ImportDate, Status)
	SELECT CAST ( CAST (ord.query('data(order-number)') AS VARCHAR(20)) AS INT) + (@RegionID*10000000) 'DocID'
		  --,CAST ( SUBSTRING( (CAST (ord.query('data(created-at)') AS VARCHAR(100)) ), 1,CHARINDEX('+', (CAST (ord.query('data(created-at)') AS VARCHAR(100)) ) ) - 1 ) AS SMALLDATETIME) 'DocDate'
		  --,CAST ( SUBSTRING( (CAST (ord.query('data(created-at)') AS VARCHAR(100)) ), 1,CHARINDEX('+', (CAST (ord.query('data(created-at)') AS VARCHAR(100)) ) ) - 1 ) AS SMALLDATETIME) 'ExpDate'
		  ,CAST ( SUBSTRING( (CAST (ord.query('data(created-at)') AS VARCHAR(100)) ), 1, 19 ) AS SMALLDATETIME) 'DocDate'
		  --moa0 '2019-10-01 10:01:22.637' Теперь, если заказ попал в базу после двух часов дня, то дата "Ожидается"
			--будет переносится на завтра, а если еще и день недели пятница, то дата переносится на следующий понедельник.
		  --moa0 '2019-10-07 10:39:57.822' Если заказ сделан на выходных, то он автоматом переносится на понедельник.
		  ,CASE 
				--Maslov Oleg '2019-12-28 16:26:38.542' По заявке Трушляковой на период с с 30.12.19 (с 16:00) по 02.01.20 (по 14:00) будут переносится на 02.01.2020.
				WHEN GETDATE() BETWEEN '2019-12-30 16:00:00' AND '2020-01-02 14:00:00' AND @RegionID = 1
					THEN '2020-01-02'
				--Если сейчас выходной или пятница после двух часов дня, то переносим заказ на понедельник.
				WHEN (DATEPART(HOUR, GETDATE() ) >= 14 AND DATEPART(WEEKDAY, GETDATE()) = 5)
				  OR (DATEPART(WEEKDAY, GETDATE()) IN (6,7) )
					THEN [dbo].[af_GetDateOfDayInDependenceFromWeek](GETDATE(), 1, 1)
				--Если текущее время больше или равно двум часам дня, то перносим дату "Ожидается" на завтра.
				WHEN DATEPART(HOUR, GETDATE() ) >= 14
					THEN DATEADD(DAY, 1, GETDATE())
				--Если предыдущие условия не сработали, то ставим текущую дату.
					ELSE GETDATE() END 'ExpDate'
		  --,CAST ( SUBSTRING( (CAST (ord.query('data(created-at)') AS VARCHAR(100)) ), 1, 19 ) AS SMALLDATETIME) 'ExpDate'
		  ,'00:00-23:00' 'ExpTime'
		  ,0 'ClientID'
		  ,SUBSTRING(
			CAST (ord.query('data(shipping-address/country)') AS VARCHAR(1000))
			+ ', ' + CAST (ord.query('data(shipping-address/city)') AS VARCHAR(1000))
			+ ', ' + CAST (ord.query('data(shipping-address/address1)') AS VARCHAR(1000))
			+ ', ' + CAST (ord.query('data(shipping-address/address2)') AS VARCHAR(1000))
			+ ', ' + CAST (ord.query('data(shipping-address/zip)') AS VARCHAR(1000))
		   ,1,250) 'Address'
		  ,SUBSTRING( CAST (ord.query('data(note)') AS VARCHAR(MAX)), 1, 145 )
			+ ' ' + SUBSTRING( CAST (ord.query('data(phone)') AS VARCHAR(MAX)), 1, 50 )
			+ ' ' + SUBSTRING( ISNULL( CAST (ord.query('data(email)') AS VARCHAR(MAX)), ''), 1, 50 ) 'Notes'
		  ,1 'PayFormCode'
		  --Maslov Oleg '2020-01-27 09:20:17.910' Уникум в ИМ Харькова ввел свое отчество, что привело к переполнению строки. Пора ввести жесткие ограничения на все строковые поля.
		  ,SUBSTRING( CAST (ord.query('data(customer/last-name)') AS VARCHAR(MAX)) + ' ' + CAST (ord.query('data(customer/first-name)') AS VARCHAR(MAX)), 1, 250 ) 'Recipient'
		  ,SUBSTRING( CAST (ord.query('data(phone)') AS VARCHAR(MAX)), 1, 250 ) 'Phone'
		  --moa0 '2019-10-07 14:51:52.212' Не подтягивался тип доставки.
		  --,CAST (ord.query('data(shipping-lines/shipping-line/code)') AS VARCHAR(250)) 'DeliveryType'
		  ,CASE
				--Maslov Oleg '2020-01-14 14:01:44.917' Добавил тип доставки "Новая почта".
				WHEN CAST (ord.query('data(shipping-lines/shipping-line/code)') AS VARCHAR(250)) LIKE '%Новой Почты%'
					THEN 'novaPoshta'
				WHEN CAST( CAST ( CAST (ord.query('data(shipping-lines/shipping-line/price)') AS VARCHAR(100)) AS FLOAT) AS NUMERIC(21,2)) > 0
					 --Maslov Oleg '2020-01-08 13:35:04.069' Если сумма заказа меньше 400, то ставим тип доставки - курьер.
					 --AND CAST (ord.query('data(shipping-lines/shipping-line/code)') AS VARCHAR(250)) LIKE 'Платная доставка Курьером%'
					 AND CAST( CAST ( CAST (ord.query('data(total-line-items-price)') AS VARCHAR(100)) AS FLOAT) AS NUMERIC(21,2)) < 400
					THEN 'courier'
				WHEN CAST (ord.query('data(shipping-lines/shipping-line/code)') AS VARCHAR(250)) LIKE 'Бесплатная доставка Курьером%'
					THEN 'courier'
				ELSE 'No delivery type'
					END 'DeliveryType'
		  ,CAST( CAST ( CAST (ord.query('data(shipping-lines/shipping-line/price)') AS VARCHAR(100)) AS FLOAT) AS NUMERIC(21,2)) 'DeliveryPriceCC'
		  ,CAST( @RegionID AS VARCHAR(10) ) 'RegionID'
		  ,1 'CompType'
		  ,'' 'Code'
		  ,'<Нет дисконтной карты>' 'DCardID'
		  ,CAST( CAST (ord.query('data(id)') AS VARCHAR(50)) AS BIGINT) 'ShopifyOrderID'
		  ,GETDATE()
		  ,0
	FROM #xml ord CROSS APPLY ord.Orders.nodes('orders/order') orders(ord)

END;
*/

--[FIXED] Maslov Oleg '2020-04-03 16:29:47.250' В одном из заказов клиент выбрал платную доставку. Заказ разбился на два города и доставка попала в заказ и туда и туда. Блок снизу должен решить эту проблему.
IF EXISTS(SELECT 1 FROM (SELECT ShopifyOrderID, COUNT(*) AS 'c' FROM @OrdersM WHERE DeliveryType = 'courier' AND DeliveryPriceCC > 0 GROUP BY ShopifyOrderID) q WHERE q.c > 1)
BEGIN

--SELECT *
	UPDATE m SET m.DeliveryPriceCC = 0  
	FROM @OrdersM m
	JOIN
	(
	--[CHANGED] Maslov Oleg '2020-04-07 17:35:45.885' Оказывается, что тег "city" есть не в каждом заказе, а только в тех, которые создали сами пользователи, а не оператор.
	SELECT CAST( CAST (ord.query('data(id)') AS VARCHAR(50)) AS BIGINT) 'ShopifyOrderID'
		   --Если в "note-attributes" есть тэг "city", то берем его за основу для принятия решения по переносу доставки на один заказ. В противном случае берем город указанный пользователем в адресе (потому что другого выхода нет).
	      ,CASE WHEN EXISTS(SELECT 1 FROM #xml x CROSS APPLY x.Orders.nodes('orders/order') new_o(ords) CROSS APPLY new_o.ords.nodes('note-attributes[1]/note-attribute') AS n(attributes) WHERE n.attributes.value('(name)[1]', 'varchar(4)') = 'city' AND CAST( CAST (ords.query('data(id)') AS VARCHAR(50)) AS BIGINT) = CAST( CAST (ord.query('data(id)') AS VARCHAR(50)) AS BIGINT) )
					THEN [dbo].[af_GetRegIDByCityUni]( (SELECT n.attributes.value('(value)[1]', 'varchar(10)') FROM #xml x CROSS APPLY x.Orders.nodes('orders/order') new_o(ords) CROSS APPLY new_o.ords.nodes('note-attributes[1]/note-attribute') AS n(attributes) WHERE n.attributes.value('(name)[1]', 'varchar(4)') = 'city' AND CAST( CAST (ords.query('data(id)') AS VARCHAR(50)) AS BIGINT) = CAST( CAST (ord.query('data(id)') AS VARCHAR(50)) AS BIGINT)) )
					ELSE [dbo].[af_GetRegIDByCityUni](CAST (ord.query('data(shipping-address/city)') AS VARCHAR(1000)) )
		   END AS 'AttrValue'
	FROM #xml x 
	CROSS APPLY x.Orders.nodes('orders/order') o(ord)

	/*
	SELECT CAST( CAST (ord.query('data(id)') AS VARCHAR(50)) AS BIGINT) 'ShopifyOrderID'
		  ,n.attributes.value('(name)[1]', 'varchar(4)') AS 'AttrName'
		  ,CASE WHEN n.attributes.value('(value)[1]', 'varchar(10)') = 'Днепр'
				  THEN 1
				WHEN n.attributes.value('(value)[1]', 'varchar(10)') = 'Киев'
				  THEN 2 
				WHEN n.attributes.value('(value)[1]', 'varchar(10)') = 'Харьков'
				  THEN 5
				ELSE -1    
		   END 'AttrValue'
	FROM #xml x 
	CROSS APPLY x.Orders.nodes('orders/order') o(ord)
	CROSS APPLY o.ord.nodes('note-attributes[1]/note-attribute') AS n(attributes)
	WHERE n.attributes.value('(name)[1]', 'varchar(4)') = 'city'
	*/
	) AS RegID ON RegID.ShopifyOrderID = m.ShopifyOrderID
	WHERE m.ShopifyOrderID IN (SELECT q.ShopifyOrderID FROM (SELECT ShopifyOrderID, COUNT(*) AS 'c' FROM @OrdersM GROUP BY ShopifyOrderID) q WHERE q.c > 1)
	  AND m.RegionID != RegID.AttrValue

END;

--Для вывода только одного заказа.
IF @Test NOT IN (0,1)
BEGIN
--Test zone. Have fan!
DECLARE @data VARCHAR(8000) =
'<note_attributes><product><id>2117698617441</id><stock>34782150769</stock><quantity>1.000000000</quantity></product><product><id>2117714968673</id><stock>20630634609</stock><quantity>13.000000000</quantity></product><product><id>2117702910049</id><stock>20630634609</stock><quantity>4.000000000</quantity></product></note_attributes>'

	SELECT * FROM #xml
	
	SELECT * FROM @OrdersM

	GOTO details

END;

--moa0 '2019-10-15 10:43:02.571' Добавил дополнительный блок выхода из процедуры.
	--Возникла проблема, когда один и тот же заказ залился больше 300-от раз.
--Удаляем заказы, которые уже есть в реестре.
DELETE @OrdersM WHERE DocID IN (SELECT DISTINCT DocID FROM t_IMOrders)

--Если после удаление таблица станет пустой, то выход.
IF NOT EXISTS (SELECT * FROM @OrdersM)
BEGIN
	RETURN
END;

--Записываем заголовок заказа в реестр.
INSERT INTO t_IMOrders (DocID, DocDate, ExpDate, ExpTime, ClientID, Address, Notes, PayFormCode, Recipient, Phone, DeliveryType, DeliveryPriceCC, RegionID, CompType, Code, DCardID, ShopifyOrderID, ShopifyCheckoutID, ShopifyDiscCodes, ImportDate, Status)
SELECT DocID, DocDate, ExpDate, ExpTime, ClientID, Address, Notes, PayFormCode, Recipient, Phone, DeliveryType, DeliveryPriceCC, RegionID, CompType, Code, DCardID, ShopifyOrderID, ShopifyCheckoutID, ShopifyDiscCodes, ImportDate, Status
FROM @OrdersM
WHERE DocID NOT IN (SELECT DocID FROM t_IMOrders)

--Метка для быстрого перехода в формирование детальной части без записи в заголовок.
--Используется, в основном, для тестов.
details:
--Блок объявления переменных для обработки детальной части.

DECLARE @OrdersD TABLE
( DocID INT,
  PosID INT, 
  ProdID INT, 
  Qty INT, 
  PurPrice NUMERIC(21,9),
  Discount NUMERIC(21,9), 
  RemSchID VARCHAR(10),   
  IsVIP TINYINT,
  ShopiDisc NUMERIC(21,9))

--[CHANGED] Maslov Oleg '2020-04-07 09:58:21.979' Выключил блок, который раньше выгружал данные с трех сайтов.
--IF @key = '6bab3199775c589f2922cd5bdb48a10b'
--BEGIN
	--[CHANGED] Maslov Oleg '2020-03-16 17:29:07.071' Переход на один сайт.
	--[CHANGED] Maslov Oleg '2020-04-17 19:48:37.736' Теперь процедура выгрузки заказов берет цены с сайта, а не из базы.
	INSERT INTO @OrdersD (DocID, PosID, ProdID, Qty, PurPrice, Discount, RemSchID, IsVIP, ShopiDisc)
	SELECT q1.DocID
		  ,ROW_NUMBER() OVER(PARTITION BY q1.DocID ORDER BY q1.DocID ) AS 'PosID'
		  ,q1.ProdID AS 'ProdID'
		  ,q1.Qty
		  ,q1.PurPrice
		  ,0 'Discount'
		  ,2 'RemSchID' --ОПТ = 1 или РОЗница = 2
		  ,0 'IsVIP'
		  ,q1.ShopifyDiscount
	FROM 
	(
		SELECT oi.ShortOrderID + (SELECT RefID*10000000 FROM r_Uni WHERE CAST(RefName AS BIGINT) = ShopifyStockID AND RefTypeID = 1000000016) + 1000000 AS 'DocID'
			  ,oi.ShopifyID
			  ,rsp.ProdID
			  ,d.PurPrice
			  ,oi.Qty
			  --[FIXED] Maslov Oleg '2020-04-28 12:45:52.916' Оказывается, что в поле "discount-allocation/amount" хранится не значение скидки, а ее сумма, то есть значение скидки умноженное на количество заказанного товара (это просто гениально).
			  ,CASE WHEN d.ShopifyDiscount != 0
					 --[FIXED] Maslov Oleg '2020-06-16 12:42:52.188' Новости. В случае, если к заказу, который разбит на несколько городов, подвязан промокод, то может случится так, что скидка по коду посчитается не правильно. Что и произошло с заказом 4284. Теперь при расчете скидки берется общее количество по товару для всего заказа.
					 --THEN ROUND(d.ShopifyDiscount/oi.Qty, 2)
					 THEN ROUND(d.ShopifyDiscount/(SELECT SUM(oi1.Qty) FROM @OrderInfo oi1 WHERE oi1.ShortOrderID = oi.ShortOrderID AND oi1.ShopifyID = oi.ShopifyID GROUP BY oi1.ShortOrderID, oi1.ShopifyID), 2)
					 ELSE 0 END AS 'ShopifyDiscount'
		FROM @OrderInfo oi
		JOIN r_ShopifyProds rsp ON rsp.ShopifyID = oi.ShopifyID
		JOIN (SELECT o.ord.value('(order-number)[1]', 'int') AS 'ShortOrderID'
			  	    ,d.item.value('(sku)[1]', 'int') AS 'ProdID'
			  	    ,d.item.value('(price)[1]', 'numeric(21,9)') AS 'PurPrice'
					--[ADDED] Maslov Oleg '2020-04-24 11:24:05.695' Добавил новое поле и дополнительную скидку на товар (от промокодов).
					--,CASE WHEN x.Orders.exist('orders[1]/order/line-items[1]/line-item/discount-allocations[1]/discount-allocation') = 1
					,CASE WHEN d.item.value('empty(discount-allocations[1]/discount-allocation/amount)', 'varchar(5)') = 'false'
							THEN d.item.value('sum(discount-allocations[1]/discount-allocation/amount)', 'numeric(21,9)')
							ELSE 0 END AS 'ShopifyDiscount'
			  FROM #xml x
			  CROSS APPLY x.Orders.nodes('orders[1]/order') AS o(ord)
			  CROSS APPLY o.ord.nodes('line-items[1]/line-item') AS d(item)
			 ) AS d ON d.ShortOrderID = oi.ShortOrderID AND d.ProdID = rsp.ProdID
	) q1
	
	/*
	SELECT q1.DocID
		  ,ROW_NUMBER() OVER(PARTITION BY q1.DocID ORDER BY q1.DocID ) AS 'PosID'
		  ,rsp.ProdID AS 'ProdID'
		  ,q1.Qty
		  ,CASE WHEN rsp.DiscountActive = 1
				THEN rsp.DiscountPrice
				ELSE rsp.Price END AS 'PurPrice'
		  ,0 'Discount'
		  ,2 'RemSchID' --ОПТ = 1 или РОЗница = 2
		  ,0 'IsVIP'
	FROM 
	(
		SELECT ShortOrderID + (SELECT RefID*10000000 FROM r_Uni WHERE CAST(RefName AS BIGINT) = ShopifyStockID AND RefTypeID = 1000000016) + 1000000 AS 'DocID'
			  ,ShopifyID
			  ,Qty
		FROM @OrderInfo 
	) q1
	JOIN r_ShopifyProds rsp ON rsp.ShopifyID = q1.ShopifyID
	*/
--[CHANGED] Maslov Oleg '2020-04-07 09:58:21.979' Выключил блок, который раньше выгружал данные с трех сайтов.
/*
END;
ELSE
BEGIN

--Maslov Oleg '2020-01-22 11:15:56.121' Меняем метод получения детальной части заказа на более надежный.
INSERT INTO @OrdersD
SELECT o.ord.value('(order-number)[1]', 'int') + (@RegionID*10000000) AS 'DocID'
      ,ROW_NUMBER() OVER(PARTITION BY o.ord.value('(order-number)[1]', 'int') ORDER BY o.ord.value('(order-number)[1]', 'int') ) AS 'PosID'
	  ,d.item.value('(sku)[1]', 'int') AS 'ProdID'
	  ,d.item.value('(quantity)[1]', 'int') AS 'Qty'
	  ,d.item.value('(price)[1]', 'numeric(21,9)') AS 'PurPrice'
	  ,0 'Discount'
	  ,2 'RemSchID' --ОПТ = 1 или РОЗница = 2
	  ,0 'IsVIP'
FROM #xml x
CROSS APPLY x.Orders.nodes('orders[1]/order') AS o(ord)
CROSS APPLY o.ord.nodes('line-items[1]/line-item') AS d(item)
END;
*/
/*
--Старый метод формирования детальной части с помощью бубна и предсказаний оракула.
DECLARE @DocID VARCHAR(3000)
	   ,@ProdID VARCHAR(3000)
	   ,@Qty VARCHAR(3000)
	   ,@PurPrice VARCHAR(3000)
	   ,@Discount VARCHAR(3000)
	   ,@RemSchID INT
	   ,@IsVIP INT
	   ,@PosID INT = 1
	   ,@Flag BIT = 0

--Создания курсора для обработки.
DECLARE ORDERD CURSOR LOCAL FAST_FORWARD 
FOR 
SELECT CAST (ord.query('data(order-number)') AS VARCHAR(20)) 'DocID'
	  ,CAST (ord.query('data(line-items/line-item/sku)') AS VARCHAR(8000)) 'ProdID'
	  ,CAST (ord.query('data(line-items/line-item/quantity)') AS VARCHAR(8000)) 'Qty'
	  ,CAST (ord.query('data(line-items/line-item/price)') AS VARCHAR(8000)) 'PurPrice'
	  ,'_' 'Discount'
	  ,2 'RemSchID' --ОПТ = 1 или РОЗница = 2
	  ,0 'IsVIP'
FROM #xml ord CROSS APPLY ord.Orders.nodes('orders/order') orders(ord)

OPEN ORDERD
	FETCH NEXT FROM ORDERD INTO @DocID, @ProdID, @Qty, @PurPrice, @Discount, @RemSchID, @IsVIP
WHILE @@FETCH_STATUS = 0	 
BEGIN
	
	--Пока есть данные для обработки.
	WHILE(@Flag = 0)
	BEGIN

		--Данные по заказу сейчас перечислены через пробел.
		--Поэтому их нужно обрабатывать по одному и отсутсвие пробелов служит знаком, что позиция
		--обработана. Если есть пробел, то достаем все, что до него и удаляем все, что до него.
		IF (SELECT CHARINDEX(' ', @ProdID) ) != 0
		BEGIN

			INSERT INTO @OrdersD (DocID, PosID, ProdID, Qty, PurPrice, Discount, RemSchID, IsVIP)
			SELECT CAST(@DocID AS INT) + (@RegionID*10000000)
				  ,@PosID, CAST(SUBSTRING(@ProdID, 1, CHARINDEX(' ', @ProdID)) AS INT)
				  ,CAST(SUBSTRING(@Qty, 1, CHARINDEX(' ', @Qty)) AS INT)
				  ,CAST(SUBSTRING(@PurPrice, 1, CHARINDEX(' ', @PurPrice)) AS NUMERIC(21,9))
				  ,0
				  ,@RemSchID
				  ,@IsVIP
			
			--Здесь удаляем все, что было до пробела вместе с пробелом.
			SELECT @ProdID = SUBSTRING(@ProdID,CHARINDEX(' ', @ProdID) + 1, LEN(@ProdID))
				  ,@Qty = SUBSTRING(@Qty,CHARINDEX(' ', @Qty) + 1, LEN(@Qty))
				  ,@PurPrice = SUBSTRING(@PurPrice,CHARINDEX(' ', @PurPrice) + 1, LEN(@PurPrice))
				  ,@PosID = @PosID + 1

		END;

		--Если пробелов нет, то обрабатываем все, что осталось и переходим к следующему заказу.
		ELSE
		BEGIN

			INSERT INTO @OrdersD (DocID, PosID, ProdID, Qty, PurPrice, Discount, RemSchID, IsVIP)
			SELECT CAST(@DocID AS INT) + (@RegionID*10000000)
				  ,@PosID, CAST(@ProdID AS INT)
				  ,CAST(@Qty AS INT)
				  ,CAST(@PurPrice AS NUMERIC(21,9))
				  ,0
				  ,@RemSchID
				  ,@IsVIP

			SELECT @Flag = 1, @PosID = 1

		END;
	END;
	
	SET @Flag = 0	
	FETCH NEXT FROM ORDERD INTO @DocID, @ProdID, @Qty, @PurPrice, @Discount, @RemSchID, @IsVIP
END
CLOSE ORDERD
DEALLOCATE ORDERD
*/

--Для вывода детальной части заказа.
IF @Test NOT IN (0,1)
BEGIN
	
	SELECT * FROM @OrdersD
	/*
	;WITH
	Dublicates AS (SELECT DocID, PosID, ProdID, Qty, PurPrice, Discount, RemSchID, IsVIP
	, ROW_NUMBER() OVER(PARTITION BY DocID, ProdID, Qty ORDER BY PosID) number_of_dublicates
	FROM @OrdersD)

	DELETE FROM Dublicates WHERE number_of_dublicates > 1
	
	SELECT d.DocID, d.PosID, d.ProdID, d.Qty
	      ,rpmp.PriceMC PurPrice
		  ,CASE WHEN CAST(GETDATE() AS SMALLDATETIME) BETWEEN rpmp.BDate AND rpmp.EDate
				 THEN ((rpmp.PriceMC - rpmp.PromoPriceCC)*100.0)/rpmp.PriceMC 
				 ELSE 0 END Discount
		  ,d.RemSchID, d.IsVIP
	FROM @OrdersD d
	JOIN r_ProdMP rpmp WITH(NOLOCK) ON rpmp.ProdID = d.ProdID AND rpmp.PLID = dbo.af_IS_GetPLID(@RegionID)
	*/
	GOTO destroy

END;

--moa0 '2019-11-04 11:50:33.619' Shopify придумали интересную штуку. В прошлую пятницу (01.11.2019)
	--часов в 11 утра добавили еще один тег <line-items type="array">, который дублирует детальную часть
	--заказа. Отличие между тегами в том, что в одном тип цен указан как "decimal", а в другом - "Money".
	--И еще есть дополнительная информация в теге <origin-location type="OrderLocation">
;WITH
Dublicates AS (SELECT DocID, PosID, ProdID, Qty, PurPrice, Discount, RemSchID, IsVIP, ShopiDisc
, ROW_NUMBER() OVER(PARTITION BY DocID, ProdID, Qty ORDER BY PosID) number_of_dublicates
FROM @OrdersD)

DELETE FROM Dublicates WHERE number_of_dublicates > 1

--Записываем обработанные данные в детальную часть.
INSERT INTO t_IMOrdersD(DocID, PosID, ProdID, Qty, PurPrice, Discount, RemSchID, IsVIP, ShopiDisc)
SELECT d.DocID, d.PosID, d.ProdID, d.Qty, d.PurPrice, d.Discount, d.RemSchID, d.IsVIP, d.ShopiDisc
--Заготовка для изменения цены товаров в детальной части заказа.
--Если товар в акции, то для него считается процент скидки, чтобы при продаже и в "Заказе внутреннем: Резрв" формировались корректные данные.
--Не успел проверить. Сначала случился переезд на [S-VINTAGE], потом переезд на один сайт (если интересно, то интернет-магазин 
--раньше состоял из трех сайтов), а сейчас бушует коронавирус. Так что это, возможно, для будущих поколений, кто будет копаться в этом коде.
/*SELECT d.DocID, d.PosID, d.ProdID, d.Qty
	  ,rpmp.PriceMC PurPrice
	  ,CASE WHEN CAST(GETDATE() AS SMALLDATETIME) BETWEEN rpmp.BDate AND rpmp.EDate
			 THEN ((rpmp.PriceMC - rpmp.PromoPriceCC)*100.0)/rpmp.PriceMC 
			 ELSE 0 END Discount
	  ,d.RemSchID, d.IsVIP*/
FROM @OrdersD d
--JOIN r_ProdMP rpmp WITH(NOLOCK) ON rpmp.ProdID = d.ProdID AND rpmp.PLID = dbo.af_IS_GetPLID(@RegionID)
      --Чтобы не появлялись дубликаты, если в главной таблице нет данных.
WHERE d.DocID IN (SELECT DISTINCT DocID FROM t_IMOrders)
	  --Жесткое ограничение на случай, если верхнее работать не будет.
	  AND d.DocID NOT IN (SELECT DISTINCT DocID FROM t_IMOrdersD)

destroy:
	EXEC sp_OADestroy @objectID
	IF OBJECT_ID (N'tempdb..#xml',N'U') IS NOT NULL DROP TABLE #xml

END