USE [Elit]
GO
/****** Object:  UserDefinedFunction [dbo].[af_tax_rpl_check_all]    Script Date: 14.09.2021 10:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[af_tax_rpl_check_all] (@compid smallint = 0, @year smallint, @month tinyint, @tax_id_list varchar(max))
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*DESCRIPTON*/ --rkv0 '2020-11-27 17:35' передаем в параметры номера налоговых и получаем на выход таблицу с деталями по квитанциям дфс.
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*test
SELECT * FROM [dbo].[af_tax_rpl_check_all] (7138, 2021, 3, '11199,11198,10327,9018,29031,22042')
SELECT * FROM [dbo].[af_tax_rpl_check_all] (DEFAULT, 2021, 3, '11199,11198,10327,9018,29031,22042')
SELECT * FROM [dbo].[af_tax_rpl_check_all] (DEFAULT, 2021, 9, '13004, 8004')
*/
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------

RETURNS @result TABLE (
    [check!] varchar(max),
    [Номер налоговой] varchar(max),
    [Дата налоговой] varchar(max), 
    [Квитанция получена нашей системой] varchar(max), 
    Notes varchar(max), 
    [Status] varchar(max), 
    [Предприятие_код] varchar(max), 
    [Предприятие_название] varchar(max), 
    LastUpdateData varchar(max), 
    RetailersID varchar(max), 
    DocType varchar(max), 
    AER_RPL_DATE varchar(max), 
    AER_RPL_STATUS varchar(max), 
    AER_AUDIT_DATE varchar(max), 
    AER_FILENAME varchar(max))
AS
    BEGIN
        DECLARE @taxid_list_check TABLE (taxid int) 
        
        INSERT INTO @taxid_list_check 
        SELECT * FROM dbo.[af_SplitString] (@tax_id_list, ',')

        INSERT INTO @result
        SELECT 
            taxid 'check!',
            AER_TAX_ID 'Номер налоговой', 
            AER_TAX_DATE 'Дата налоговой', 
            CONVERT(varchar(16), InsertData, 20) 'Квитанция получена нашей системой', 
            CASE WHEN SUBSTRING(reg.Notes, 1, LEN('Документ прийнято.')) = 'Документ прийнято.' THEN SUBSTRING(reg.Notes, 1, LEN('Документ прийнято.')) ELSE reg.Notes END,
            [Status], 
            reg.CompID 'Предприятие_код', 
            CompName 'Предприятие_название', 
            LastUpdateData, 
            RetailersID, 
            DocType, 
            AER_RPL_DATE, 
            AER_RPL_STATUS, 
            AER_AUDIT_DATE, 
            AER_FILENAME
        
        FROM @taxid_list_check tic
        LEFT JOIN [S-PPC.CONST.ALEF.UA].[alef_elit].dbo.[av_EDI_ALEF_EDI_RPL] rpl 
            ON rpl.aer_tax_id = tic.taxid --[av_EDI_ALEF_EDI_RPL] - вьюха реестра квитанций rpl [ALEF_EDI_RPL].
        LEFT JOIN [S-PPC.CONST.ALEF.UA].[alef_elit].dbo.[at_EDI_reg_files] reg
            ON reg.id = CAST(rpl.AER_RPL_ID as varchar) and reg.[filename] = rpl.AER_FILENAME
        LEFT JOIN dbo.r_comps rc WITH(NOLOCK) 
            ON rc.Compid = reg.Compid
        WHERE YEAR(rpl.AER_TAX_DATE) >= @year AND MONTH(rpl.AER_TAX_DATE) >= @month
        AND reg.DocType = 8000 --квитанции rpl.
        AND reg.compid = CASE WHEN @compid != 0 THEN @compid ELSE reg.compid END
        ORDER BY [Квитанция получена нашей системой] DESC, AER_AUDIT_DATE DESC

        RETURN;

    END;











