USE [Elit]
GO
/****** Object:  Trigger [dbo].[a_tInv_CheckFieldValues_IU]    Script Date: 27.08.2021 18:28:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[a_tInv_CheckFieldValues_IU] ON [dbo].[t_Inv]
FOR INSERT,UPDATE
AS
BEGIN

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*CHANGELOG*/
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--[CHANGED] Maslov Oleg '2020-07-02 15:43:18.500' По заявке от Танцюры. Отключить эту проверку.
--[ADDED] Maslov Oleg '2020-08-27 15:26:23.944' ##RE-42608## Добавил pvi5 в исключение проверки.
--[ADDED] Maslov Oleg '2020-09-16 17:08:51.124' Добавил название триггера во все сообщения об ошибках.
--[ADDED] Maslov Oleg '2020-11-26 12:15:24.497' По просьбе от Танцюры (в телефонном режиме). Добавил пользователя kgv5 в исключение.
/*[ADDED] Maslov Oleg '2021-03-04 11:27:02.312' По заявке ##RE-5380##. Запрет на сохранение документа, если Признак 1 = 63, а Фирма = 3.*/
/*[CHANGED] Maslov Oleg '2021-05-06 13:29:18.526' По заявке от Танцюры (в личной почте). Удаляю из списка пользователей уволеных сотрудников или сотрудников в декрете.*/
/*[ADDED] Maslov Oleg '2021-07-13 16:08:43.196' Лебедевич (Трушлякова) Анастасия теперь будет выполнять операции Понизовной и Петровой. Обе есть в этой "простыне" логинов. Добавил и логин 'taa12'.*/
/*[ADDED] Maslov Oleg '2021-07-15 11:29:17.450' По заявке ##RE-9148##. Пользователь 'arv' сейчас выполняет обязанности 'pnv5'. Добавил пользователя 'arv' в исключение.*/
/*[ADDED] Maslov Oleg '2021-07-15 16:08:51.284' По заявке ##RE-9304##. С устного разрешения от Танцюры добавил 'clr1' в исключение, так как пользователь взаимозаменяем с пользователем 'goy'.*/
--[ADDED] rkv0 '2021-08-27 18:45' добавил Галю kgv5 в исключение.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  IF @@ROWCOUNT = 0
    RETURN

  SET NOCOUNT ON

  --moa0 добавил 'tlr' в исключения 10.05.2019 11:55
  --Maslov Oleg '2020-02-04 09:54:16.859' По заявке от Бибик. Добавил 'pnv5' (Понизовная Наталья) в исключение триггера.
  /*[ADDED] Maslov Oleg '2021-07-15 11:29:17.450' По заявке ##RE-9148##. Пользователь 'arv' сейчас выполняет обязанности 'pnv5'. Добавил пользователя 'arv' в исключение.*/
  IF IS_SRVROLEMEMBER('sysadmin') = 1 OR SUSER_SNAME() in ('kkm0','giv3','dmv2','sov10','dvv4','pvn3','bag3','jov','bag3','mii2','dev7','fms','tlr','pnv5','arv') RETURN

	/*
  IF EXISTS(SELECT * FROM inserted i JOIN deleted d on d.ChID = i.ChID AND d.TaxDocID = i.TaxDocID WHERE d.TaxDocID != 0)
    IF EXISTS(SELECT * FROM dbo.af_GetFieldsUpdated('t_Inv', COLUMNS_UPDATED()) WHERE Name NOT IN('TaxDocID','DriverID','CodeID4','StateCode','PayDelay')) AND SUSER_SNAME() NOT IN ('giv3', 'moa3','sav10')
    BEGIN
      RAISERROR('ВНИМАНИЕ!!! Вы не можете изменить или удалить данный документ, так как существуют подключенные к нему налоговые накладные.', 18, 1)
      ROLLBACK
      RETURN
    END*/     
     --сохранение документа было невозможно с сочетанием таких признаков: склад в диапазоне 300-399, пр 3 = 4 (первая форма)  
  IF UPDATE(StockID) OR UPDATE(CodeID3)
    IF EXISTS(SELECT * FROM inserted i
      JOIN dbo.r_Codes3 rc3 ON rc3.CodeID3 = i.CodeID3
      WHERE rc3.CForm = 1 AND i.CodeID3 = 4 AND i.StockID BETWEEN 300 AND 399)
      
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Сохранение документа со складом в диапазоне 300-399 и Признаком 3 = 4 запрещено. Действие отменено.', 18, 1)
      ROLLBACK
      RETURN    
    END  

  IF UPDATE(DocDate) OR UPDATE(TaxDocDate) OR UPDATE(TaxDocID)
  BEGIN
    DECLARE @begin DATETIME, @sbegin DATETIME
    EXEC dbo.zp_GetUserOpenAgeBegin @begin OUTPUT
    EXEC dbo.ap_GetSecondOpenAgeBegin @sbegin OUTPUT

    /* Запрет сохранения документов, если Дата или Дата налоговой меньше начальной даты открытого периода группы документов */
    IF (EXISTS(SELECT * FROM inserted WHERE DocDate < @sbegin OR (TaxDocDate < @sbegin /*AND TaxDocID > 0*/))
      OR EXISTS(SELECT * FROM inserted WHERE DocDate < @begin OR (TaxDocDate < @begin /*AND TaxDocID > 0*/))) AND (IS_ROLEMEMBER('Учёт') + IS_SRVROLEMEMBER('sysadmin') = 0)
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Сохранение документа с данным значением полей "Дата"/"Дата налоговой" невозможно. Действие отменено.(a_tInv_CheckFieldValues_IU)', 18, 1)
      ROLLBACK
      RETURN
    END
  END

  IF UPDATE(CompID) OR UPDATE(CodeID2) OR UPDATE(CodeID3) OR UPDATE(DocDate)
    IF EXISTS(SELECT * FROM inserted i
      WHERE CodeID2 IN (18,58)
      AND CodeID3 = 4
      AND DocDate > '20140708'
      AND EXISTS (SELECT * FROM dbo.r_Comps WHERE CompID = i.CompID AND CompGrID2 IN (2073,2037,2040,2095,2052,2074))
      AND i.CompID NOT IN(SELECT RefID FROM dbo.r_Uni WHERE RefTypeID = 6660217)
      )
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Отгрузка на данное предприятие по б/н запрещена. Действие отменено.', 18, 1)
      ROLLBACK
      RETURN
    END

  /* запретить создание документов «Расходная накладная» и «РДЦП» с признаком 1 = 78 */
  IF UPDATE(CodeID1)
    IF EXISTS(SELECT * FROM inserted WHERE CodeID1 = 78)
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Сохранение документа с указанным значением поля "Признак 1" запрещено! Действие отменено.', 18, 1)
      ROLLBACK
      RETURN
    END

  /* Если в документе "Расходная накладная" присутствует предприятие, в котором установлена галочка "Беспошлинное"  (Справочник предприятий/Классификация),
     то сохранение документа должно быть возможно только с Признаком 2 = 58 */

  IF UPDATE(CompID) OR UPDATE(CodeID2) OR UPDATE(CodeID3) OR UPDATE(TSumCC_wt)
    IF EXISTS(SELECT *
              FROM inserted i
              JOIN r_Comps rc WITH(NOLOCK) ON rc.CompID = i.CompID
              WHERE rc.IsDutyFree = 1 AND i.CodeID2 NOT IN (58,21) AND i.CodeID3 = 4
              AND EXISTS(SELECT * FROM t_InvD WITH(NOLOCK) WHERE ChID = i.ChID))
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Сохранение документа по беспошлинному предприятию возможно только со значением поля "Признак 2" = 58! Действие отменено.', 18, 1)
      ROLLBACK
      RETURN
    END
  
  --[CHANGED] Maslov Oleg '2020-07-02 15:43:18.500' По заявке от Танцюры. Отключить эту проверку.
  /*
  /* Если в документе "Расходная накладная" присутствует предприятие, в котором  установлена галочка "Беспошлинное"  (Справочник предприятий/Классификация),
     запретить сохранять документ, при условии, что "Дата налоговой" больше "Срока продления лицензии на экспорт" (Справочник внутренних фирм) */

  IF UPDATE(OurID) OR UPDATE(CompID) OR UPDATE(TaxDocID)
    IF EXISTS(SELECT *
              FROM inserted i
              JOIN r_Ours ro WITH(NOLOCK) ON ro.OurID = i.OurID
              JOIN r_Comps rc WITH(NOLOCK) ON rc.CompID = i.CompID
     WHERE rc.IsDutyFree = 1 AND i.TaxDocDate > ro.ExpLicPDate AND rc.CompID <>59784)
     
    BEGIN
      RAISERROR('ВНИМАНИЕ!!! Сохранение документа по беспошлинному предприятию при "Дате налоговой" больше "Срока продления эксп. лицензии" невозможно! Действие отменено.', 18, 1)
      ROLLBACK
      RETURN
    END
  */
  
  /*
  - сохранение документа "Расходная накладная" с ПР.2 = 19, 2000-3000 НЕВОЗМОЖНО при условии, что:
  - фирма РАВНА 1,3
  - ПР.3 РАВЕН 4 */

  IF UPDATE(OurID) OR UPDATE(CodeID1) OR UPDATE(CodeID2) OR UPDATE(CodeID3)
  BEGIN
    IF EXISTS(SELECT * FROM inserted WHERE OurID IN (1,2,3) AND ((CodeID2 IN (0,19,69)) OR (CodeID2 BETWEEN 2000 AND 3000)) AND CodeID3 = 4)
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Сохранение документа с данным значением поля "Признак 2" запрещено! Действие отменено.', 18, 1)
      IF @@TRANCOUNT > 0 ROLLBACK
      RETURN
    END
  END

  --Контроль сумм отгрузки
  IF UPDATE(TSumCC) OR UPDATE(TSumCC_wt) OR UPDATE(KursCC) OR UPDATE(CodeID1) OR UPDATE(CodeID2) OR UPDATE(CodeID3) OR UPDATE(TaxDocDate)
  IF SUSER_SNAME() NOT IN ('sta1','kgv2')
    IF EXISTS(SELECT *
              FROM inserted i
              JOIN t_InvD d WITH(NOLOCK) ON d.ChID = i.ChID
              WHERE i.CodeID1 IN (63,53,71,78,79,56,60,62,52) AND i.CodeID2 IN (8,18,38,48,58) AND i.CodeID3 IN (2,3,4,7,104)
              GROUP BY i.ChID, i.TaxDocDate
                HAVING ((i.TaxDocDate BETWEEN '20110401' AND '20110630' AND SUM(d.SumCC_wt*i.KursCC) > 2999999.94)
                 OR  (i.TaxDocDate BETWEEN '20110701' AND '20111231' AND SUM(d.SumCC_wt*i.KursCC) > 599999.94)
                 /*OR  (i.TaxDocDate >= '20120101' AND SUM(d.SumCC_wt*i.KursCC) > 59999.94)*/))
    BEGIN
      DECLARE @TaxDocDate VARCHAR(10), @TSumCC VARCHAR(10)

      SELECT TOP 1
       @TaxDocDate = CASE WHEN TaxDocDate BETWEEN '20110401' AND '20110630' THEN '01.04.2011'
                      WHEN TaxDocDate BETWEEN '20110701' AND '20111231' THEN '01.07.2011'
                      /*WHEN TaxDocDate >= '20120101' THEN '01.01.2012'*/ END,
       @TSumCC = CASE WHEN TaxDocDate BETWEEN '20110401' AND '20110630' THEN '2999999,94'
                      WHEN TaxDocDate BETWEEN '20110701' AND '20111231' THEN '599999,94'
                      /*WHEN TaxDocDate >= '20120101' THEN '59999,94'*/ END
      FROM inserted i
      JOIN t_InvD d WITH(NOLOCK) ON d.ChID = i.ChID
      WHERE i.CodeID1 IN (63,53,71,78,79,56,60,62,52) AND i.CodeID2 IN (8,18,38,48,58) AND i.CodeID3 IN (2,3,4,7,104)
      GROUP BY i.ChID, i.TaxDocDate
      HAVING ((i.TaxDocDate BETWEEN '20110401' AND '20110630' AND SUM(d.SumCC_wt*i.KursCC) > 2999999.94)
                 OR  (i.TaxDocDate BETWEEN '20110701' AND '20111231' AND SUM(d.SumCC_wt*i.KursCC) > 599999.94)
                 /*OR  (i.TaxDocDate >= '20120101' AND SUM(d.SumCC_wt*i.KursCC) > 59999.94)*/)

      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Превышена максимально возможная сумма по документу c %sг. %s грн с НДС', 18, 1,@TaxDocDate,@TSumCC)
      ROLLBACK
      RETURN
    END

--- Контроль кода предприятия
  IF UPDATE(CompID) OR UPDATE(TSumCC_wt)
    IF EXISTS(SELECT * FROM inserted WHERE CompID = 0)
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Отгрузка на нулевое предприятие запрещена!', 18, 1)
      ROLLBACK
      RETURN
    END
    ELSE IF EXISTS(SELECT * FROM inserted i JOIN r_Comps c WITH(NOLOCK) ON c.CompID=i.CompID WHERE (LEN(LTRIM(ISNULL(c.Job3,'')))=0 OR ISNULL(c.Job3,'') = '0') AND OurID != 10)
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Отгрузка на данное предприятие запрещена! Не заполнена классификация предприятия (поле "Должность 3" в Справочнике предприятий).', 18, 1)
      ROLLBACK
      RETURN
    END
    ELSE IF EXISTS(SELECT *
                   FROM inserted i
                   JOIN r_Comps c WITH(NOLOCK) ON c.CompID=i.CompID
                   WHERE i.OurID != 10 AND ((c.CompGrID2 BETWEEN 0 AND 2) OR (c.CompGrID2 BETWEEN 4 AND 2024) OR (c.CompGrID2 BETWEEN 2026 AND 2029) OR (c.CompGrID2 BETWEEN 2100 AND 2529) OR (c.CompGrID2 BETWEEN 2600 AND 10000)))
        OR EXISTS(SELECT *
           FROM inserted i
                   JOIN r_Comps c WITH(NOLOCK) ON c.CompID=i.CompID
                   WHERE i.OurID = 10 AND ((c.CompGrID2 BETWEEN 0 AND 2) OR (c.CompGrID2 BETWEEN 4 AND 6) OR (c.CompGrID2 BETWEEN 8 AND 2029) OR (c.CompGrID2 BETWEEN 2100 AND 2529) OR (c.CompGrID2 BETWEEN 2600 AND 10000)))
    BEGIN
      RAISERROR ('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Предприятие входит в группу, отгрузка по которой запрещена.', 18, 1)
      ROLLBACK
      RETURN
    END

  IF UPDATE(CompID) OR UPDATE(OurID) OR UPDATE(CodeID1)
    IF EXISTS(SELECT *
      FROM inserted i
      LEFT JOIN dbo.at_r_CompOurTerms rcot WITH(NOLOCK) ON rcot.CompID = i.CompID AND rcot.OurID = i.OurID
      WHERE i.OurID IN (1,3,11)
      AND i.CodeID1 BETWEEN 51 AND 79
      AND (((ISNULL(rcot.SRID, 0) IN (0,1,3,10000) OR ISNULL(rcot.SRID, 0) = i.OurID) AND i.CodeID2 NOT IN (43,44))
        OR ((ISNULL(rcot.SRID, 0) IN (0,3,10000) OR ISNULL(rcot.SRID, 0) = i.OurID) AND i.CodeID2 IN (43,44))))
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Отсутствует торговый представитель по данному предприятию на данной фирме. Действие отменено!', 18, 1)
      ROLLBACK
      RETURN
    END

  /* Контроль адреса доставки
  IF UPDATE([Address])
    IF EXISTS (SELECT * FROM inserted WHERE NOT([Address] IS NULL OR [Address] = ''))
      IF EXISTS (SELECT * FROM inserted i WHERE NOT EXISTS(SELECT * FROM r_CompsAdd a WITH(NOLOCK) WHERE i.CompID = a.CompID AND i.[Address] = a.CompAdd) AND NOT([Address] IS NULL OR [Address] = ''))
      BEGIN
        RAISERROR('ВНИМАНИЕ!!! Вы пытаетесь сохранить документ с несуществующим адресом доставки! Выберите адрес из списка и повторите попытку.', 18, 1)
        ROLLBACK
        RETURN
      END */

  IF UPDATE([Address]) OR UPDATE(CodeID1) OR UPDATE(CodeID2) OR UPDATE(CodeID3)
    IF EXISTS(SELECT * FROM inserted WHERE CodeID1 IN (63,53,71,78,79,56,60,62,52,73) AND CodeID2 IN (8,18,38,48,58) AND CodeID3 IN (2,3,4) AND ISNULL([Address], '') = '')
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Для текущих значений признаков документа заполнение адреса доставки обязательно! Выберите адрес из списка и повторите попытку.', 18, 1)
      ROLLBACK
      RETURN
    END

  /* Контроль курса */
  IF UPDATE(KursMC)
    IF IS_ROLEMEMBER('Полный доступ') = 0
      IF EXISTS (SELECT * FROM inserted WHERE KursMC <> dbo.zf_GetRateCC(dbo.zf_GetCurrMC()))
      BEGIN
        RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Курс ОВ не соответствует установленной величине!', 18, 1)
        ROLLBACK
        RETURN
      END

  /* Контроль номера источника */
  IF UPDATE(SrcTaxDocID) OR UPDATE(SrcTaxDocDate)
    IF EXISTS(SELECT * FROM inserted WHERE (ISNULL(SrcTaxDocID, 0) <> '0' AND SrcTaxDocDate IS NULL))
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Невозможна установка "Номера нал. источника" без указания "Даты нал. источника".', 18, 1)
      IF @@TRANCOUNT > 0 ROLLBACK
      RETURN
    END
    ELSE IF EXISTS (SELECT * FROM inserted i
                    JOIN deleted d ON d.ChID = i.ChID
                    WHERE i.SrcTaxDocID = '0' AND i.SrcTaxDocDate IS NOT NULL AND d.SrcTaxDocID != '0')
      UPDATE m
      SET m.SrcTaxDocDate = NULL
      FROM t_Inv m
      JOIN inserted i ON i.ChID = m.ChID

  /* Запрет отгрузки при отсутствии сертификата */
  IF UPDATE(TSumCC_wt) OR UPDATE(OurID) OR UPDATE(CodeID1) OR UPDATE(CodeID2) OR UPDATE(CodeID3)
    IF EXISTS(SELECT *
              FROM inserted i
 WHERE i.CodeID2 IN (30,48) AND (i.OurID NOT IN (1,3) OR i.CodeID1 NOT IN (63,53,71,78,79,56,60,62,52) OR i.CodeID3 NOT IN (2,3,4)))
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Невозможно сохранение документа на данную фирму с текущим набором признаков. Действие отменено.', 18, 1)
      IF @@TRANCOUNT > 0 ROLLBACK
      RETURN
    END
   /*
    ELSE IF EXISTS(SELECT TOP 1 1
                   FROM inserted i
              JOIN t_InvD d WITH(NOLOCK) ON d.ChID = i.ChID
                   JOIN t_Pinp pp WITH(NOLOCK) ON pp.ProdID = d.ProdID AND pp.PPID = d.PPID
                   WHERE i.OurID IN (1) AND i.CodeID1 IN (63,53,71,78,79,56,60,62,52) AND i.CodeID2 IN (48) AND i.CodeID3 IN (2,3,4) AND ISNULL(pp.IsCert,0) = 0)
    BEGIN
      DECLARE @ProdName varchar(250), @ProdID int, @PPID int

      SELECT TOP 1 @ProdName = rp.ProdName, @ProdID = d.ProdID, @PPID = d.PPID
      FROM inserted i
      JOIN t_InvD d WITH(NOLOCK) ON d.ChID = i.ChID
      JOIN r_Prods rp WITH(NOLOCK) ON rp.ProdID = d.ProdID
      JOIN t_Pinp pp WITH(NOLOCK) ON pp.ProdID = d.ProdID AND pp.PPID = d.PPID
      WHERE i.OurID IN (1,3) AND i.CodeID1 IN (63,53,71,78,79,56,60,62,52) AND i.CodeID2 IN (48) AND i.CodeID3 IN (2,3,4) AND ISNULL(pp.IsCert,0) = 0

      RAISERROR('ВНИМАНИЕ!!! Невозможна отгрузка товара "%s" (Код: %u, Партия: %u), для которого не установлен сертификат. (Опция "Наличие сертификата" в "Справочнике товара\Партии"). Действие отменено.', 18, 1, @ProdName, @ProdID, @PPID)
      IF @@TRANCOUNT > 0 ROLLBACK TRAN
      RETURN
    END */

  /* Контроль отгрузки по фирме 2 */
  IF UPDATE(OurID) OR UPDATE(CodeID2)
    IF IS_MEMBER('Полный доступ') = 0
    BEGIN
      IF EXISTS(SELECT * FROM inserted WHERE OurID = 2)
      BEGIN
        RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Создание/изменение документов по фирме 2 запрещено!', 18, 1)
        ROLLBACK
        RETURN
      END
    END
    ELSE
    BEGIN
      IF EXISTS(SELECT * FROM inserted WHERE OurID = 2 AND CodeID2 != 21)
      BEGIN
        RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Создание/изменение документов по фирме 2 с "Признаком 2", не равным 21, запрещено!', 18, 1)
        ROLLBACK
        RETURN
      END
    END

  /* Контроль подразделения */
 /* IF UPDATE(DepID) OR UPDATE(CodeID1)
    IF EXISTS (SELECT TOP 1 1
                 FROM inserted
                WHERE DepID = 0
                  AND (CodeID1 IN (5000,5001) OR CodeID1 between 2000 AND 3001))
      BEGIN
   RAISERROR ('Сохранение документа с указанным значением поля "Признак 1" и без заполнения поля "Подразделение" невозможно.', 18, 1)
   ROLLBACK TRAN
    RETURN
      END  */

  /* Тригер на проверку разрешенных отгрузок (проверка блокировки) */
  IF UPDATE(OurID) OR UPDATE(CompID) OR UPDATE(CodeID1) OR UPDATE(CodeID2) OR UPDATE(CodeID3)
    IF EXISTS(SELECT * FROM inserted i JOIN dbo.r_Comps rc ON rc.CompID = i.CompID
              WHERE i.OurID IN (1,3,11)
              AND i.CodeID1 IN (63,53,71,78,79,56,60,62,52)
              AND i.CodeID2 IN (8,18,28,38,48,58)
              AND ((rc.BlockingID = 1)
                   OR
                   (i.CodeID3 IN (2,3,4,7,104) AND rc.BlockingID = 2)
                   OR
                   ((i.CodeID3 IN (1,5,6,101) OR i.CodeID3 BETWEEN 8 AND 70) AND rc.BlockingID = 3)))
    BEGIN
      DECLARE @S VARCHAR(250)
      SELECT TOP 1 @S = ru.Refname
      FROM inserted i
      JOIN dbo.r_Comps rc WITH(NOLOCK) ON rc.CompID = i.CompID
      JOIN dbo.r_Uni ru WITH(NOLOCK) ON ru.RefTypeID = 6660133 AND ru.RefID = rc.BlockingID
      WHERE i.OurID IN (1,3,11)
      AND i.CodeID1 IN (63,53,71,78,79,56,60,62,52)
      AND i.CodeID2 IN (8,18,28,38,48,58)
      AND ((rc.BlockingID = 1)
        OR
        (i.CodeID3 IN (2,3,4,7,104) AND rc.BlockingID = 2)
        OR
        ((i.CodeID3 IN (1,5,6,101) OR i.CodeID3 BETWEEN 8 AND 70) AND rc.BlockingID = 3))
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Отгрузка на данное предприятие запрещена - %s.', 18, 1, @S)
      ROLLBACK
  RETURN
    END

  /* Проверка корректности отгрузки категорий по признакам (a_tInvD_CheckProdCats_IU) */
  IF UPDATE(CodeID1) OR UPDATE(CompID) OR UPDATE(TSumCC_wt)
    --[ADDED] Maslov Oleg '2020-08-27 15:26:23.944' ##RE-42608## Добавил pvi5 в исключение проверки.
    /*[CHANGED] Maslov Oleg '2021-05-06 13:29:18.526' По заявке от Танцюры (в личной почте). Удаляю из списка пользователей уволеных сотрудников или сотрудников в декрете.*/
	--IF SUSER_SNAME() NOT IN ('giv3','dmv2','gmn','pta4','snv9', 'sav10','zvv3', 'kvi1', 'cev','gmn','gnv','zvv3','moa6','dkv1','saa','kvn1','arv','pvi5')
    --[ADDED] rkv0 '2021-08-27 18:45' добавил Галю kgv5 в исключение.
    --IF SUSER_SNAME() NOT IN ('dmv2','gmn', 'sav10','zvv3', 'gnv','moa6','pvi5')
    IF SUSER_SNAME() NOT IN ('dmv2','gmn', 'sav10','zvv3', 'gnv','moa6','pvi5', 'kgv5')
    IF EXISTS(SELECT * FROM inserted i JOIN t_InvD d ON d.ChID = i.ChID JOIN r_Prods rp WITH(NOLOCK) ON rp.ProdID = d.ProdID
      WHERE ((rp.PCatID BETWEEN 1 AND 97 OR rp.PCatID = 501) AND (rp.PGrID1 BETWEEN 1 AND 98 OR rp.PGrID1 = 100) AND i.CompID != 10790 AND i.CodeID1 NOT IN (63, 84,64))
OR (rp.PGrID1 = 99 AND i.CodeID1 != 77)
      OR (rp.PCatID IN (500,700) AND (i.CodeID1 NOT IN (78,63,64) AND rp.PGrID2 != 340))
      OR ((rp.PCatID BETWEEN 600 AND 649 AND rp.PCatID NOT IN (601,617,618)) AND i.CodeID1 != 79)
      OR (rp.PCatID = 601 AND i.CodeID1 != 73)
      OR (rp.PCatID = 617 AND rp.PGrID1 = 136 AND i.CodeID1 != 70)
      OR (rp.PCatID = 617 AND rp.PGrID1 = 137 AND i.CodeID1 != 69)
      OR (rp.PCatID IN (502,503) AND i.CodeID1 NOT IN (64,71))
      OR (rp.PCatID IN (618) AND i.CodeID1 NOT IN (64))
      )
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Товар данной категории невозможно отгрузить с указанным значением "Признака 1".', 18, 1)
      ROLLBACK
      RETURN
    END

  IF UPDATE(OurID) OR UPDATE(CodeID1) OR UPDATE(CodeID2) OR UPDATE(CodeID3) OR UPDATE(TSumCC_wt)
    IF SUSER_SNAME() NOT IN (/*'giv3', */'sav10')
      IF EXISTS
      (SELECT *
      FROM inserted m
      JOIN dbo.t_InvD d WITH(NOLOCK) ON d.ChID = m.ChID
      JOIN dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID = d.ProdID
      JOIN dbo.t_PInP pp WITH(NOLOCK) ON pp.ProdID = d.ProdID AND pp.PPID = d.PPID
      WHERE
      (/* Триггер №1: NULL check */
      (m.OurID IN (1,3,11) AND
      m.CodeID1 BETWEEN 52 AND 79 AND
      m.CodeID2 IN (18, 48, 58) AND
      pp.DLSDate IS NULL AND
      rp.PCatID BETWEEN 1 AND 39)
      OR
      (m.OurID IN (1,3,11) AND
      m.CodeID1 BETWEEN 52 AND 79 AND
      m.CodeID2 IN (18, 48, 58) AND
      m.CodeID3 IN (2, 3, 4) AND
      ISNULL(pp.DLSDate, 0) < m.DocDate AND
      rp.PCatID BETWEEN 1 AND 39))
      AND EXISTS(SELECT * FROM r_Stocks WHERE r_Stocks.StockID<>1111 AND r_Stocks.IsNonCash = 1 AND r_Stocks.StockID = m.StockID)
      AND ((m.CompID IN (10793,10795,10797,10798) AND m.StockID NOT IN (1104,1130)) OR m.CompID NOT IN (10793,10795,10797,10798)))
    BEGIN
      DECLARE @PR INT, @PP INT
      SELECT TOP 1 @PR = d.ProdID, @PP = d.PPID
      FROM inserted m
      JOIN dbo.t_InvD d WITH(NOLOCK) ON d.ChID = m.ChID
      JOIN dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID = d.ProdID
      JOIN dbo.t_PInP pp WITH(NOLOCK) ON pp.ProdID = d.ProdID AND pp.PPID = d.PPID
      WHERE
      /* Триггер №1: NULL check */
      ((m.OurID IN (1,3,11) AND
      m.CodeID1 BETWEEN 52 AND 79 AND
      m.CodeID2 IN (18, 48, 58) AND
      pp.DLSDate IS NULL AND
      rp.PCatID BETWEEN 1 AND 39)
      OR
      (m.OurID IN (1,3,11) AND
      m.CodeID1 BETWEEN 52 AND 79 AND
      m.CodeID2 IN (18, 48, 58) AND
      m.CodeID3 IN (2, 3, 4) AND
      ISNULL(pp.DLSDate, 0) < m.DocDate AND
      rp.PCatID BETWEEN 1 AND 39))
      AND EXISTS(SELECT * FROM r_Stocks WHERE r_Stocks.IsNonCash = 1 AND r_Stocks.StockID = m.StockID)
      AND ((m.CompID IN (10793,10795,10797,10798) AND m.StockID NOT IN (1104,1130)) OR m.CompID NOT IN (10793,10795,10797,10798))


      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Для товара %u / %u не установлена или просрочена дата "Конечного срока реализации".', 18, 1, @PR, @PP)
      ROLLBACK
      RETURN
    END
  
  --moa0 добавил 'bla3' в исключения 25.07.2019 15:37
  --moa0 добавил 'svd2' в исключения 07.03.2019 10:20
  --moa0 добавил 'pkv1' в исключения 22.04.2019 16:24
  IF UPDATE(CompID) OR UPDATE(TSumCC_wt)
  --[ADDED] Maslov Oleg '2020-11-26 12:15:24.497' По просьбе от Танцюры (в телефонном режиме). Добавил пользователя kgv5 в исключение.
  /*[ADDED] Maslov Oleg '2021-07-13 16:08:43.196' Лебедевич (Трушлякова) Анастасия теперь будет выполнять операции Понизовной и Петровой. Обе есть в этой "простыне" логинов. Добавил и логин 'taa12'.*/
  /*[ADDED] Maslov Oleg '2021-07-15 16:08:51.284' По заявке ##RE-9304##. С устного разрешения от Танцюры добавил 'clr1' в исключение, так как пользователь взаимозаменяем с пользователем 'goy'.*/
  IF SUSER_SNAME() NOT IN ('giv3','dmv2', 'kgv2', 'kvi1', 'cev','gmn','gnv','moa6','kiv1','zvv3','uvs','kvs3','lti1','goy','sin3','gov8','bag3','dkv1','kiv2','saa','hia3','pnv5','kvn1','arv','svd2','pkv1','bla3','kgv5','taa12','clr1')
  BEGIN
    IF EXISTS(SELECT * FROM inserted i
      JOIN t_InvD d ON d.ChID = i.ChID
      JOIN r_Prods rp WITH(NOLOCK) ON rp.ProdID = d.ProdID
      WHERE rp.PCatID IN (20,21,22,23,25,27,28,29,97,98) AND i.CompID in (10793,10797,10798) AND i.OurID != 3)
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Товар данной категории невозможно отгрузить с указанным значением поля "Предприятие". (1)', 18, 1)
      ROLLBACK
      RETURN
    END
    ELSE IF EXISTS(SELECT * FROM inserted i
      JOIN t_InvD d ON d.ChID = i.ChID
      JOIN r_Prods rp WITH(NOLOCK) ON rp.ProdID = d.ProdID
      WHERE rp.PCatID NOT IN (20,21,22,23,25,27,28,29,97,98,500,501,700) AND i.CompID in (10795,10797,10798) AND i.OurID != 3)
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Товар данной категории невозможно отгрузить с указанным значением поля "Предприятие". (2)', 18, 1)
      ROLLBACK
      RETURN
    END
    ELSE IF EXISTS(SELECT * FROM inserted i WHERE i.CompID in (10795,10797,10798) AND i.OurID = 3)
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Для данного "Предприятия" запрещена отгрузка с "Фирмы" = 3. Действие отменено.', 18, 1)
      ROLLBACK
      RETURN
    END
  END

  IF UPDATE(TaxDocDate) OR UPDATE(CompID) OR UPDATE(CodeID2) OR UPDATE(OurID)
    IF EXISTS(SELECT * FROM inserted WHERE OurID = 11 AND TaxDocDate >= '20130401' AND CompID NOT IN (7006,7012) AND CodeID2 IN (18,58) AND EXISTS(SELECT * FROM dbo.t_InvD d WITH(NOLOCK) JOIN dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID = d.ProdID WHERE rp.PCatID NOT IN (500,501)))
      OR EXISTS(SELECT * FROM inserted WHERE OurID = 11 AND TaxDocDate >= '20130501' AND CodeID2 IN (18,58) AND EXISTS(SELECT * FROM dbo.t_InvD d WITH(NOLOCK) JOIN dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID = d.ProdID WHERE rp.PCatID NOT IN (500,501)))
      OR EXISTS(SELECT * FROM inserted WHERE OurID = 11 AND TaxDocDate >= '20130601' AND NOT(CompID IN (10793,10795,10797,10798) AND EXISTS(SELECT * FROM dbo.t_InvD d WITH(NOLOCK) JOIN dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID = d.ProdID WHERE rp.PCatID IN (500)) AND CodeID2 = 23)
      /* 20130606 Передача рекламы Маркет-А из БД Elit в БД ElitVintage*/
      )
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Отгрузка с фирмы 11 "Маркет-А" запрещена. Действие отменено.', 18, 1)
      ROLLBACK
      RETURN
    END

  IF UPDATE(OurID) OR UPDATE(StockID)
    IF EXISTS(SELECT * FROM inserted WHERE OurID IN (1,2,3,4,5,11) AND StockID = 42)
    BEGIN
      RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Отгрузка со склада ОХ запрещена. Действие отменено.', 18, 1)
      ROLLBACK
      RETURN
    END


	IF UPDATE(StockID) OR UPDATE(CodeID3)
		IF EXISTS(SELECT * FROM inserted i
			JOIN dbo.r_Stocks rs WITH(NOLOCK) ON rs.StockID = i.StockID
			JOIN dbo.r_Codes3 rc3 WITH(NOLOCK) ON rc3.CodeID3 = i.CodeID3
			WHERE rs.IsNonCash = 0 AND rs.IsWholesale = 0 AND rc3.CForm != 2
			/*AND NOT(i.PayConditionID = 3 AND i.CodeID5 = 6)*/)
		BEGIN
			RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Отгрузка с наличного и розничного склада возможна только по 2-й форме. Действие отменено.', 18, 1)
			ROLLBACK
			RETURN
		END

	/*[ADDED] Maslov Oleg '2021-03-04 11:27:02.312' По заявке ##RE-5380##. Запрет на сохранение документа, если Признак 1 = 63, а Фирма = 3.*/
	IF EXISTS(SELECT TOP 1 1 FROM inserted WHERE CodeID1 = 63 AND OurID = 3)
	BEGIN
		RAISERROR('[dbo].[a_tInv_CheckFieldValues_IU] ВНИМАНИЕ!!! Запрет на сохранение документа, если Признак 1 = 63, а Фирма = 3. Действие отменено.', 18, 1)
		ROLLBACK
		RETURN
	END;
END






































