USE [Elit_test]
GO
/****** Object:  StoredProcedure [dbo].[ap_EXITE_Mass_Send_EDI_log_Insert]    Script Date: 17.09.2021 13:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter PROCEDURE [dbo].[ap_EXITE_Mass_Send_EDI_log_Insert] @ChID int, @MsgType varchar(30)
as
begin

/*IF OBJECT_ID('Elit_TEST..at_Mass_Send_EDI_log', 'U') IS NOT NULL DROP TABLE at_Mass_Send_EDI_log

CREATE TABLE at_Mass_Send_EDI_log (
    Row_num int IDENTITY(1, 1) NOT NULL,
    Comp_id int NOT NULL,
    Comp_name varchar(250) NOT NULL,
    ChID int NOT NULL,
    Tax_docid int NOT NULL,
    Tax_docdate date NOT NULL,
    Total_qty numeric(19, 2) NOT NULL,
    Total_sum numeric(19, 2) NOT NULL,
    Doc_type varchar(100) NOT NULL, CONSTRAINT CK_Doc_type CHECK(Doc_type in 
        ('Инструкция по транспортировке (IFTMIN)',
        'Подтверждение заказа (ORDRSP)',
        'Уведомление об отгрузке (DESADV)',
        'Счет (INVOICE)')),
    Send_status nchar(10) NOT NULL, CONSTRAINT CK_send_status CHECK(Send_status in ('ОТПРАВЛЕНО', 'АРХИВ')),
    Time_stamp datetime NOT NULL CONSTRAINT DK_timestamp DEFAULT CURRENT_TIMESTAMP
)*/ 

INSERT INTO at_Mass_Send_EDI_log (Comp_id, Comp_name, ChID, Tax_docid, Tax_docdate, Total_qty, Total_sum, Doc_type, Send_status)
SELECT 
    rc.CompID AS 'Comp_id', 
    rc.CompShort AS 'Comp_name',
    ti.ChID 'ChID',
    ti.TaxDocID AS 'Tax_docid',
    ti.TaxDocDate AS 'Tax_docdate',
    (SELECT SUM(Qty) FROM t_InvD WHERE ChID = @ChID) AS 'Total_qty',
    (SELECT SUM(SumCC_wt) FROM t_InvD WHERE ChID = @ChID) AS 'Total_sum',
    CASE 
        WHEN @MsgType = 'IFTMIN' THEN 'Инструкция по транспортировке (IFTMIN)' 
        WHEN @MsgType = 'ORDRSP' THEN 'Подтверждение заказа (ORDRSP)' 
        WHEN @MsgType = 'DESADV' THEN 'Уведомление об отгрузке (DESADV)' 
        WHEN @MsgType = 'INVOICE' THEN 'Счет (INVOICE)' 
    END 'Doc_type',
    'ОТПРАВЛЕНО' AS 'Send_status'
    FROM t_Inv ti
JOIN r_Comps rc ON rc.CompID = ti.CompID
WHERE ti.ChID = @ChID
end;



