USE [ElitR]
GO
/****** Object:  StoredProcedure [dbo].[t_SaleRetAfterClose]    Script Date: 08/31/2016 16:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*31.08.2016 18:05 pashkovv@const.dp.ua*/
ALTER PROCEDURE [dbo].[t_SaleRetAfterClose](@ChID int,
        @PersonID INT,              /* Код клиента */
        @Continue bit OUTPUT,       /* Продолжать ли процедуру закрытия чека */
        @Msg varchar(200) OUTPUT,   /* Сообщение, выводимое на клиенте в независимости от остальных возвращаемых параметров */
        @Result int OUTPUT)         /* Result AND (Not Continue) - Считать чек закрытым и не продолжать процедуру закрытия
                                       Result AND Continue - Продолжить процедуру закрытия чека */ 
/* Процедура после закрытия чека */
AS					
Begin
SET @Msg = ''
  SET @Continue = CAST(1 AS bit)
  SET @Result = 1

  /* Установка признаков документа */
  IF (SELECT COUNT(*) 
      FROM t_CRRet m WITH(NOLOCK)
	  JOIN t_CRRetPays p WITH(NOLOCK) ON p.ChID = m.ChID AND m.ChID = @ChID
	  WHERE p.Notes NOT LIKE 'Сдача') = 1
    UPDATE m 
	   SET m.CodeID1 = 63,
	       m.CodeID2 = 19,
	       --m.CodeID3 = CASE p.PayFormCode WHEN 1 THEN 73 -- изменить для нового магазина
	       m.CodeID3 = CASE p.PayFormCode WHEN 1 THEN (CASE  WHEN m.StockID IN (1201,1202,1315) THEN 81 
		         									         WHEN m.StockID IN (1257) THEN 73 -- ногорный рынок
		         									         WHEN m.StockID IN (1221,1222) THEN 82
													         WHEN m.StockID IN (1310,1314) THEN 84 END)    
															 WHEN 2 THEN 27 
															 WHEN 5 THEN 70 END
	FROM t_CRRet m WITH(NOLOCK)
	JOIN t_CRRetPays p WITH(NOLOCK) ON p.ChID = m.ChID AND p.ChID = @ChID
  ELSE
    UPDATE m
	SET m.CodeID1 = 63, m.CodeID2 = 19, m.CodeID3 = 83
	FROM t_CRRet m WITH(NOLOCK)
	JOIN t_CRRetPays p WITH(NOLOCK) ON p.ChID = m.ChID AND p.ChID = @ChID

  /* Создание оплаты */
  DECLARE @MRChID INT
  EXEC z_NewChID 't_MonRec', @MRChID OUTPUT

  INSERT t_MonRec
  (ChID, OurID, AccountAC, DocDate, DocID, StockID, CompID, CompAccountAC, CurrID, KursMC, KursCC, SumAC,
   Subject, CodeID1, CodeID2, CodeID3, CodeID4, CodeID5, EmpID)
  SELECT
   ROW_NUMBER() OVER (ORDER BY m.DocID, p.PayFormCode) - 1 + @MRChID ChID, OurID, '0' AccountAC, DocDate, DocID, StockID, CompID, 
   '0' CompAccountAC, CurrID, KursMC, 1 KursCC, - SUM(p.SumCC_wt) SumAC, REPLACE(p.Notes,'Сдача','') Subject, CodeID1, CodeID2, CodeID3, CodeID4, CodeID5, EmpID
  FROM t_CRRet m WITH(NOLOCK)
  JOIN t_CRRetPays p WITH(NOLOCK) ON p.ChID = m.ChID 
  WHERE m.ChID = @ChID AND p.PayFormCode IN (1,5)
  GROUP BY OurID, DocDate, DocID, StockID, CompID, CurrID, KursMC, REPLACE(p.Notes,'Сдача',''), CodeID1, CodeID2, PayFormCode, CodeID3, CodeID4, CodeID5, EmpID
  HAVING SUM(p.SumCC_wt) != 0

  /* Установка статуса документа */
  UPDATE t_CRRet 
  SET StateCode = 22 
  WHERE ChID = @ChID

End

--******************************************************************************
-- Старая процедура до 31.08.2016 16:19
--GO
--/****** Object:  StoredProcedure [dbo].[t_SaleRetAfterClose]    Script Date: 08/31/2016 15:55:13 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--ALTER PROCEDURE [dbo].[t_SaleRetAfterClose](@ChID int,
--        @PersonID INT,              /* Код клиента */
--        @Continue bit OUTPUT,       /* Продолжать ли процедуру закрытия чека */
--        @Msg varchar(200) OUTPUT,   /* Сообщение, выводимое на клиенте в независимости от остальных возвращаемых параметров */
--        @Result int OUTPUT)         /* Result AND (Not Continue) - Считать чек закрытым и не продолжать процедуру закрытия
--                                       Result AND Continue - Продолжить процедуру закрытия чека */ 
--/* Процедура после закрытия чека */
--AS					
--Begin
--  SET @Msg = ''
--  SET @Continue = CAST(1 AS bit)
--  SET @Result = 1
--  UPDATE t_CRRet SET StateCode = 22 WHERE ChID = @ChID
--End