ALTER TRIGGER [dbo].[a_For_new_message_I] ON [dbo].[at_JSON_from_Telegram]
FOR INSERT
AS
BEGIN
	DECLARE @ChID INT = (SELECT ChID FROM inserted)
	
	INSERT INTO [dbo].[at_JSON_details] 
	SELECT @ChID, Element_ID, SequenceNo, Parent_ID, Object_ID, Name, StringValue, ValueType FROM af_JSON_Parse((SELECT JSON_Text FROM inserted))
END