ALTER TRIGGER [dbo].[a_rOursAC_IBAN_check_IU] ON [dbo].[r_OursAC]
FOR INSERT,UPDATE
AS
BEGIN
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*CHANGELOG*/
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--[FIXED] Maslov Oleg '2020-05-22 09:31:27.887' Если вставляется или обновляется больше, чем одна строка, то скрипт выдавал ошибку.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

	 DECLARE @temp TABLE (ColName VARCHAR(100))
	 INSERT INTO @temp
	 SELECT 'AccountCC'
	 UNION ALL
	 SELECT 'CompAccountCC'
	 UNION ALL
	 SELECT 'AccountAC'
	 UNION ALL
	 SELECT 'CompAccountAC'

	 DECLARE @table_name VARCHAR(100) = (SELECT OBJECT_NAME(parent_object_id) FROM sys.objects WHERE sys.objects.name = OBJECT_NAME(@@PROCID))
			,@Msg VARCHAR(500)
	 DECLARE @b VARBINARY(9) = COLUMNS_UPDATED()	 
	 IF EXISTS(SELECT 1 FROM dbo.af_GetFieldsUpdated( @table_name, @b) WHERE Name IN (SELECT ColName FROM @temp) )
	 BEGIN
		  IF ( SELECT COUNT(*) FROM dbo.af_GetFieldsUpdated( @table_name, @b) WHERE Name IN (SELECT ColName FROM @temp) ) >= 1
		  BEGIN

				SELECT * INTO #check_IBAN FROM inserted

				IF NOT EXISTS(SELECT 1 FROM inserted)
				BEGIN
					RETURN
				END;

				DECLARE @SQL_Select NVARCHAR(MAX), @outs VARCHAR(MAX), @chck_table INT, @col_name VARCHAR(100)

				SET @chck_table = (SELECT OBJECT_ID('tempdb..#check_IBAN') )

				DECLARE CURSOR1 CURSOR LOCAL FAST_FORWARD 
				FOR 
				SELECT Name FROM dbo.af_GetFieldsUpdated( @table_name, @b) WHERE Name IN (SELECT ColName FROM @temp)
				
				OPEN CURSOR1
					FETCH NEXT FROM CURSOR1 INTO @col_name
				WHILE @@FETCH_STATUS = 0	 
				BEGIN

				--[FIXED] Maslov Oleg '2020-05-22 09:31:27.887' Если вставляется или обновляется больше, чем одна строка, то скрипт выдавал ошибку.
				/*
				SET @SQL_Select = 'SELECT @out = dbo.af_IBAN_validation((SELECT ' 
								   + @col_name
								   + ' FROM '
								   + (select name from tempdb.sys.tables where object_id IN (@chck_table))
								   +'))'
				*/

				SET @SQL_Select = 'SELECT @out = CASE WHEN EXISTS(SELECT 1 FROM '
								+ (select name from tempdb.sys.tables where object_id = @chck_table)
								+ ' WHERE dbo.af_IBAN_validation('
								+ @col_name
								+ ') = 0) THEN 0 ELSE 1 END'

				EXEC sp_executesql @SQL_Select, N'@out VARCHAR(1) OUT', @outs OUT

				IF (SELECT CAST(@outs AS INT) ) = 0
				BEGIN					
					SET @Msg = '[dbo].['
							    + (SELECT OBJECT_NAME(@@PROCID) )
								+ '] ВНИМАНИЕ!!! IBAN в поле "'
								+ (SELECT FieldDesc FROM z_FieldsRep WHERE FieldName IN (@col_name))
								+ '" не прошел валидацию. '

					IF OBJECT_ID (N'tempdb..#check_IBAN',N'U') IS NOT NULL DROP TABLE #check_IBAN
					RAISERROR(@Msg, 18, 1)
					ROLLBACK
					RETURN
				END;
				
					FETCH NEXT FROM CURSOR1 INTO @col_name
				END
				CLOSE CURSOR1
				DEALLOCATE CURSOR1

				IF OBJECT_ID (N'tempdb..#check_IBAN',N'U') IS NOT NULL DROP TABLE #check_IBAN
		  END;
		  ELSE
		  BEGIN
				SET @Msg = '[dbo].['
						   + (SELECT OBJECT_NAME(@@PROCID) )
						   + '] ВНИМАНИЕ!!! IBAN. ' + @col_name
				RAISERROR(@Msg, 18, 1)
				ROLLBACK
				RETURN
		  END;
	 END;

END