USE [Alef_Elit]
GO
/****** Object:  StoredProcedure [dbo].[ap_EDI_send_DECLAR_bydate]    Script Date: 28.05.2020 10:21:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ap_EDI_send_DECLAR_bydate] @date date, @gln nvarchar(255)
AS
BEGIN

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Отправка налоговых по сети Новус за определенную дату (параметр @date - дата заказа=delivery date!), если сеть не выслала статус по COMDOC*/
--rkv0 '2020-02-26 15:14' курсор: №заказа -> chid -> запуск процедуры ap_EXITE_CreateMessage
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*
--test
SELECT * FROM ALEF_EDI_ORDERS_2 WHERE ZEO_ZEC_BASE = '4820069609985' ORDER BY ZEO_ORDER_DATE DESC
EXEC [dbo].[ap_EDI_send_DECLAR_bydate] '2020-05-21', '4820069609985'
EXEC [dbo].[ap_EDI_send_DECLAR_bydate] '2020-05-28', '4820069609985'
EXEC [S-PPC.CONST.ALEF.UA].[msdb].dbo.sp_start_job 'Workflow', @step_name = 'Export_Declar';--EXEC [S-PPC.CONST.ALEF.UA].[msdb].dbo.sp_help_jobactivity @job_name = 'workflow';
*/
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--4820069609985	Приватне підприємство "ТАВРІЯ – І"+
--4820069609992	Приватне підприємство "ТАВРІЯ ПЛЮС"
--4820069600005	ТОВ "Таврія-В"
--4829900024055 Медиатрейдинг+
--4829900023799 Розетка.УА+
--9863577638028 Новус 1-4-5-6-7-8-11-12-13+
--9864066987535 Велика Кишеня+
--SELECT * FROM ALEF_EDI_ORDERS_2 WHERE ZEO_ZEC_BASE = '4820069609992' ORDER BY zeo_order_date DESC

DECLARE @order VARCHAR(100);
DECLARE @network_chid INT;
DECLARE @OutChID INT, @ErrMsg VARCHAR(250);

DECLARE network CURSOR FOR 
SELECT ZEO_ORDER_NUMBER FROM ALEF_EDI_ORDERS_2 WHERE ZEO_ZEC_BASE = @gln AND zeo_order_date = @date;
OPEN network
FETCH NEXT FROM network INTO @order
WHILE @@FETCH_STATUS = 0

    BEGIN
        IF @gln in ('4820069609985','4820069609992','4820069600005') --Таврия (заказы мы искусственно разделяем на алкоголь и неалкоголь).
            begin
                --отправляем алкоголь
                set @network_chid = (SELECT ChID FROM [s-sql-d4].[elit].dbo.t_Inv i WHERE OrderID = (@order + '_non-alc'));
                EXEC [s-sql-d4].[elit].dbo.[ap_EXITE_CreateMessage] @MsgType ='DECLAR', @DocCode = 11012, @ChID = @network_chid, @OutChID = @OutChID OUTPUT, @ErrMsg = @ErrMsg OUTPUT; SELECT @OutChID, @ErrMsg;
                set @network_chid = (SELECT ChID FROM [s-sql-d4].[elit].dbo.t_Inv i WHERE OrderID = (@order + '_alc'));
                EXEC [s-sql-d4].[elit].dbo.[ap_EXITE_CreateMessage] @MsgType ='DECLAR', @DocCode = 11012, @ChID = @network_chid, @OutChID = @OutChID OUTPUT, @ErrMsg = @ErrMsg OUTPUT; SELECT @OutChID, @ErrMsg;
                FETCH NEXT FROM network INTO @order;
            end;
        ELSE
            begin
                set @network_chid = (SELECT ChID FROM [s-sql-d4].[elit].dbo.t_Inv i WHERE OrderID = @order);
                EXEC [s-sql-d4].[elit].dbo.[ap_EXITE_CreateMessage] @MsgType ='DECLAR', @DocCode = 11012, @ChID = @network_chid, @OutChID = @OutChID OUTPUT, @ErrMsg = @ErrMsg OUTPUT; SELECT @OutChID, @ErrMsg;
                FETCH NEXT FROM network INTO @order;
            end;
    END;
        
CLOSE network
DEALLOCATE network

END;

