--=====================================================================
-- Author: moa0;
-- Create date: 05-08-2019 14:46
-- Desription: функция для создания IBAN (работает только для Украины).
--=====================================================================
ALTER FUNCTION [dbo].[af_IBAN_CreateUA] (@BankID VARCHAR(10), @AccountCC VARCHAR(30))
RETURNS VARCHAR(42)
AS
BEGIN
/*
SELECT dbo.af_IBAN_CreateUA('351005', '26009240062400')
*/

/*
Функция создания IBAN для определенного расчетного счета. Для создание нужно
МФО банка и номер расчетного счета (только цифры).
После проверок корректности входных данных функция фомирует базовую цифровую
последовательность, которая будет участвовать в ответе. К базе добавляется
"301000", "3010" - это числовое представление "UA" (U = 30; A = 10),
а 00 - это будущий двузначный код.
Для получения двузначного кода вычисляем остаток от деления полученого 
числа (база + "301000") на 97. Вычитаем из 98 этот остаток и получаем
двузначный код. Если при делении получилось однозначное число, то впереди
добавляем 0.
*/

  --Объявляем переменные.
  DECLARE @IBAN VARCHAR(40), @base VARCHAR(100), @code INT

  --Убираем пробелы.
  SELECT @AccountCC = LTRIM( RTRIM(@AccountCC) )

  --Если в расчетном счете есть не числовые символы или переменная пустая, то NULL.
  IF (SELECT 1 WHERE @AccountCC LIKE '%[^0-9]%' OR @AccountCC = '') = 1
  BEGIN
		--RETURN '[dbo].[af_IBAN_CreateUA] ВНИМАНИЕ!!! Расчетный счет должен содержать только цифры и не должен быть нулевым.'
		RETURN NULL
  END;

  --Если в коде банка есть не числовые символы или переменная пустая, то NULL.
  IF (SELECT 1 WHERE @BankID LIKE '%[^0-9]%' OR @BankID = '') = 1
  BEGIN
		--RETURN '[dbo].[af_IBAN_CreateUA] ВНИМАНИЕ!!! Код банка должен содержать только цифры и не должен быть нулевым.'
		RETURN NULL
  END;

  --Если длина кода банка не равна 6 (не по стандарту), то NULL.
  IF (SELECT LEN(@BankID) ) <> 6
  BEGIN
		--RETURN '[dbo].[af_IBAN_CreateUA] ВНИМАНИЕ!!! Код банка должен состоять из 6 знаков.'
		RETURN NULL
  END;

  --По спецификации украинские IBAN должны быть длинной 29 символов.
  --Для формирования базы берется номер банка и номер расчетного счета.
  --Номер банка ставится впереди, а номер расчетного счета позади.
  --Если в итоге получилось меньше 25 символов, то нужно вставлять нули
  --между номером банка и номером расчетного счета.
  --Пример.
  --Код банка:"123456"; Номер расчетного счета: "123456789".
  --База:"1234560000000000123456789"
  SELECT @base = @BankID + LEFT('0000000000000000000',19 - LEN(@AccountCC) ) + @AccountCC

  --Для получения двузначного кода вычитаем из 98 остаток от деления базы на 97.
  SELECT @code = 98 - ( CAST(@base + '301000' AS NUMERIC(34,0) ) % 97)

  --Если полученный код меньше 10, то добавляем 0 в начале.
  IF @code < 10
  BEGIN
	SELECT @IBAN = 'UA0' + CAST(@code AS VARCHAR(2)) + @base
  END;
  ELSE
  BEGIN
	SELECT @IBAN = 'UA' + CAST(@code AS VARCHAR(2)) + @base
  END;   
  
  RETURN @IBAN
END

