USE [ElitR]
GO
/****** Object:  StoredProcedure [dbo].[t_GetCRBalance]    Script Date: 12/06/2016 20:48:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[t_GetCRBalance]
(
  @CRID int,
  @SaleSumCash numeric(19, 9) OUTPUT,
  @SaleSumCCard numeric(19, 9) OUTPUT,
  @SaleSumCredit numeric(19, 9) OUTPUT,
  @SaleSumCheque numeric(19, 9) OUTPUT,
  @SaleSumOther numeric(19, 9) OUTPUT,
  @MRec numeric(19, 9) OUTPUT,
  @MExp numeric(19, 9) OUTPUT,
  @SumCash numeric(19, 9) OUTPUT,
  @SumRetCash numeric(19, 9) OUTPUT,
  @SumRetCCard numeric(19, 9) OUTPUT,
  @SumRetCredit numeric(19, 9) OUTPUT,
  @SumRetCheque numeric(19, 9) OUTPUT,
  @SumRetOther numeric(19, 9) OUTPUT, 
  @IsFiscal bit = 1 /* 1 - только фискальное, 0 - все */
)
/* Возвращает баланс по кассе */
/* Добавлен параметр IsFiscal (по умолчанию true - для вызова процедуры из ТК в момент сверки )*/
AS
BEGIN


	SELECT 
		@IsFiscal = ISNULL(@IsFiscal, 1)
		

	SELECT
		@IsFiscal = NULLIF(@IsFiscal, 0)
		

  DECLARE @LastZRep smalldatetime, @Time smalldatetime
  SET @Time = GetDate()
  SELECT @LastZRep = ISNULL((SELECT TOP 1 DocTime FROM t_zRep WHERE CRID = @CRID ORDER BY DocTime DESC), '1900-01-01 00:00:00')
  
  /* Доработка по Excellio 550 - исключение из проверки баланса - акцизных товаров (пока не доработают протокол) kaa0 20150422 */
  IF EXISTS (SELECT * FROM r_Crs WITH(NOLOCK) WHERE CRID = @CRID AND CashType = 15)
  BEGIN--CashType = 15
    SELECT @SaleSumCash = ROUND(ISNULL(Sum(d.RealSum), 0), 2) 
    FROM t_Sale m WITH(NOLOCK)
    JOIN t_SaleD d WITH(NOLOCK) ON d.ChID = m.ChID
    WHERE m.DocTime BETWEEN @LastZRep AND @Time 
      AND m.CRID = @CRID 
	  AND EXISTS (SELECT * FROM t_SalePays WITH(NOLOCK) WHERE PayFormCode = 1 AND ChID = m.ChID)
	  AND NOT EXISTS (SELECT * FROM t_SaleDLV WITH(NOLOCK) WHERE ChID = d.ChID AND SrcPosID = d.SrcPosID)

    SELECT @SaleSumCCard = ROUND(ISNULL(Sum(d.RealSum), 0), 2)
    FROM t_Sale m WITH(NOLOCK)
    JOIN t_SaleD d WITH(NOLOCK) ON d.ChID = m.ChID
    WHERE m.DocTime BETWEEN @LastZRep AND @Time 
      AND m.CRID = @CRID 
	  AND EXISTS (SELECT * FROM t_SalePays WITH(NOLOCK) WHERE PayFormCode = 2 AND ChID = m.ChID)
	  AND NOT EXISTS (SELECT * FROM t_SaleDLV WITH(NOLOCK) WHERE ChID = d.ChID AND SrcPosID = d.SrcPosID) 
    
    /* Возврат акцизных товаров попадает в сумму продаж */
    SELECT @SaleSumCash += ROUND(ISNULL(Sum(d.RealSum), 0), 2) 
    FROM t_CRRet m WITH(NOLOCK)
    JOIN t_CRRetD d WITH(NOLOCK) ON d.ChID = m.ChID
    WHERE m.DocTime BETWEEN @LastZRep AND @Time 
      AND m.CRID = @CRID 
	  AND EXISTS (SELECT * FROM t_CRRetPays WITH(NOLOCK) WHERE PayFormCode = 1 AND ChID = m.ChID)
	  AND EXISTS (SELECT * FROM t_CRRetDLV WITH(NOLOCK) WHERE ChID = d.ChID AND SrcPosID = d.SrcPosID)
	
    SELECT @SaleSumCCard += ROUND(ISNULL(Sum(d.RealSum), 0), 2)
    FROM t_CRRet m WITH(NOLOCK)
    JOIN t_CRRetD d WITH(NOLOCK) ON d.ChID = m.ChID
    WHERE m.DocTime BETWEEN @LastZRep AND @Time 
      AND m.CRID = @CRID 
	  AND EXISTS (SELECT * FROM t_CRRetPays WITH(NOLOCK) WHERE PayFormCode = 2 AND ChID = m.ChID)
	  AND EXISTS (SELECT * FROM t_CRRetDLV WITH(NOLOCK) WHERE ChID = d.ChID AND SrcPosID = d.SrcPosID) 
    
    SELECT @SumRetCash = ROUND(ISNULL(Sum(d.RealSum), 0), 2) 
    FROM t_CRRet m WITH(NOLOCK)
    JOIN t_CRRetD d WITH(NOLOCK) ON d.ChID = m.ChID
    WHERE m.DocTime BETWEEN @LastZRep AND @Time 
      AND m.CRID = @CRID 
	  AND EXISTS (SELECT * FROM t_CRRetPays WITH(NOLOCK) WHERE PayFormCode = 1 AND ChID = m.ChID)
	  AND NOT EXISTS (SELECT * FROM t_CRRetDLV WITH(NOLOCK) WHERE ChID = d.ChID AND SrcPosID = d.SrcPosID)
	
    SELECT @SumRetCCard = ROUND(ISNULL(Sum(d.RealSum), 0), 2)
    FROM t_CRRet m WITH(NOLOCK)
    JOIN t_CRRetD d WITH(NOLOCK) ON d.ChID = m.ChID
    WHERE m.DocTime BETWEEN @LastZRep AND @Time 
      AND m.CRID = @CRID 
	  AND EXISTS (SELECT * FROM t_CRRetPays WITH(NOLOCK) WHERE PayFormCode = 2 AND ChID = m.ChID)
	  AND NOT EXISTS (SELECT * FROM t_CRRetDLV WITH(NOLOCK) WHERE ChID = d.ChID AND SrcPosID = d.SrcPosID) 
  END--CashType = 15
  ELSE--CashType = 15
  BEGIN--ELSE CashType = 15
    SELECT @SaleSumCash = ROUND(ISNULL(Sum(d.SumCC_wt), 0), 2) 
    FROM t_Sale m, t_SalePays d 
    WHERE 
	  m.ChID = d.ChID AND m.DocTime BETWEEN @LastZRep AND @Time AND m.CRID = @CRID AND d.PayFormCode = 1
	  AND d.IsFiscal = ISNULL(@IsFiscal, d.IsFiscal)
	
    SELECT @SaleSumCCard = ROUND(ISNULL(Sum(d.SumCC_wt), 0), 2) 
    FROM t_Sale m, t_SalePays d 
    WHERE 
	  m.ChID = d.ChID AND m.DocTime BETWEEN @LastZRep AND @Time AND m.CRID = @CRID AND d.PayFormCode = 2
	  AND d.IsFiscal = ISNULL(@IsFiscal, d.IsFiscal)
  END--ELSE CashType = 15
	
  SELECT @SaleSumCredit = ROUND(ISNULL(Sum(d.SumCC_wt), 0), 2) 
  FROM t_Sale m, t_SalePays d 
  WHERE 
	m.ChID = d.ChID AND m.DocTime BETWEEN @LastZRep AND @Time AND m.CRID = @CRID AND d.PayFormCode = 3
	AND d.IsFiscal = ISNULL(@IsFiscal, d.IsFiscal)
	
  SELECT @SaleSumCheque = ROUND(ISNULL(Sum(d.SumCC_wt), 0), 2) 
  FROM t_Sale m, t_SalePays d 
  WHERE 
	m.ChID = d.ChID AND m.DocTime BETWEEN @LastZRep AND @Time AND m.CRID = @CRID AND d.PayFormCode = 4
	AND d.IsFiscal = ISNULL(@IsFiscal, d.IsFiscal)
	
  SELECT @SaleSumOther = ROUND(ISNULL(Sum(d.SumCC_wt), 0), 2) 
  FROM t_Sale m, t_SalePays d 
  WHERE 
	m.ChID = d.ChID AND m.DocTime BETWEEN @LastZRep AND @Time AND m.CRID = @CRID AND d.PayFormCode NOT IN (1, 2, 3, 4)
	AND d.IsFiscal = ISNULL(@IsFiscal, d.IsFiscal)
	
  SELECT @SumRetCash = ROUND(ISNULL(Sum(d.SumCC_wt), 0), 2) 
  FROM t_CRRet m, t_CRRetPays d 
  WHERE 
	m.ChID = d.ChID AND m.DocTime BETWEEN @LastZRep AND @Time AND m.CRID = @CRID AND d.PayFormCode = 1
	
  SELECT @SumRetCCard = ROUND(ISNULL(Sum(d.SumCC_wt), 0), 2) 
  FROM t_CRRet m, t_CRRetPays d 
  WHERE 
	m.ChID = d.ChID AND m.DocTime BETWEEN @LastZRep AND @Time AND m.CRID = @CRID AND d.PayFormCode = 2
	
  SELECT @SumRetCredit = ROUND(ISNULL(Sum(d.SumCC_wt), 0), 2) 
  FROM t_CRRet m, t_CRRetPays d 
  WHERE 
	m.ChID = d.ChID AND m.DocTime BETWEEN @LastZRep AND @Time AND m.CRID = @CRID AND d.PayFormCode = 3
	
  SELECT @SumRetCheque = ROUND(ISNULL(Sum(d.SumCC_wt), 0), 2) 
  FROM t_CRRet m, t_CRRetPays d 
  WHERE 
	m.ChID = d.ChID AND m.DocTime BETWEEN @LastZRep AND @Time AND m.CRID = @CRID AND d.PayFormCode = 4
	
  SELECT @SumRetOther = ROUND(ISNULL(Sum(d.SumCC_wt), 0), 2) 
  FROM t_CRRet m, t_CRRetPays d 
  WHERE 
	m.ChID = d.ChID AND m.DocTime BETWEEN @LastZRep AND @Time AND m.CRID = @CRID AND d.PayFormCode NOT IN (1, 2, 3, 4)
	
  SELECT @SaleSumCash = @SaleSumCash - @SumRetCash
  SELECT @SaleSumCCard = @SaleSumCCard - @SumRetCCard
  SELECT @SaleSumCredit = @SaleSumCredit - @SumRetCredit
  SELECT @SaleSumCheque = @SaleSumCheque - @SumRetCheque
  SELECT @SaleSumOther = @SaleSumOther - @SumRetOther
  SELECT @MRec = ISNULL(Sum(SumCC), 0) FROM t_MonIntRec WHERE DocTime BETWEEN @LastZRep AND @Time AND CRID = @CRID  
  SELECT @MExp = ISNULL(Sum(SumCC), 0) FROM t_MonIntExp WHERE DocTime BETWEEN @LastZRep AND @Time AND CRID = @CRID
  SELECT @SumCash = @SaleSumCash + @MRec - @MExp
END
