USE [ElitV_KIEV_backup_2016-08-31]
GO
/****** Object:  UserDefinedFunction [dbo].[zf_CanChangeDoc]    Script Date: 09/01/2016 17:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  FUNCTION [dbo].[zf_CanChangeDoc](@DocCode int, @ChID int, @StateCode int) 
/* Возможно ли редактирование докумета */
RETURNS BIT AS 
BEGIN 
  IF SUSER_SNAME() IN ('sa', 'sev12','kaa0', 'rnu', 'CONST\Cluster','pvm0') RETURN 1

  IF (SELECT TOP 1 CanChangeDoc FROM r_States WHERE StateCode = @StateCode) = 0
    BEGIN
      IF NOT EXISTS(SELECT TOP 1 1 FROM r_StateDocsChange WHERE UserCode = dbo.zf_GetUserCode() AND StateCode = @StateCode) RETURN 0
    END
  ELSE
    BEGIN
      IF EXISTS(SELECT TOP 1 1 FROM r_StateDocsChange WHERE UserCode = dbo.zf_GetUserCode() AND StateCode = @StateCode) RETURN 0
    END
  RETURN 1    
END