
SELECT top 100 EmpName, *  FROM z_LogCreate l
join r_users u on l.UserCode = u.Userid
join r_Emps e on u.EmpID=e.EmpID
where tablecode = (select TableCode from z_Tables where TableName = 't_PInP')
and DocDate between  '2016-11-03' and '2016-11-04'
--and PKValue like '%610084%'
order by DocDate desc
