create PROCEDURE [dbo].[ap_ChangeKursDocs] 
@Bdate VARCHAR(20), @Edate VARCHAR(20), @TableName VARCHAR(200),@Old_KursMC numeric(21,9),@New_KursMC numeric(21,9)
,@ChangeKursMC int,@ChangePrice int,@ChangeKCP int, @CountDocs varchar(200) OUTPUT
AS

BEGIN
/*Обновляет поле "Подразделение" по универсальному справочнику 6680115 (признаки 4 и 5).*/

/*
BEGIN TRAN
declare @S varchar(200)
EXEC [ap_Update_DepID_from_CodeID4_CodeID5] 0,20190108,20190108,'c_CompExp', @S OUTPUT
--EXEC [ap_Update_DepID_from_CodeID4_CodeID5] 1,20181212,20181231,'t_rec2', @S OUTPUT
select @S
ROLLBACK TRAN
*/
  DECLARE @SQL_Select NVARCHAR(MAX)
  DECLARE @SQL_Update NVARCHAR(MAX)
  DECLARE @Filter NVARCHAR(MAX)
  DECLARE @Case NVARCHAR(MAX)

  --declare @TableName VARCHAR(200) = 't_RecC'
  --IF OBJECT_ID (@TableName, N'U') IS NULL SELECT 'null' else  SELECT 'ok' 

  --проверка имени таблицы
  IF OBJECT_ID (@TableName, N'U') IS NULL 
  BEGIN 
    BEGIN TRAN
	RAISERROR ('[ap_Update_DepID_from_CodeID4_CodeID5] ВНИМАНИЕ! Таблица не найдена! Действие отменено!', 18, 1)
	ROLLBACK TRAN
	  RETURN
  END

--@Filter
	SET @Filter = ''

    SELECT @Filter += CASE WHEN @Filter = '' THEN '' ELSE ' OR ' END + Txt
    FROM(
		SELECT Txt = N' (' + RefName + ' AND DepID <> ' + Notes +')'
		FROM dbo.r_Uni WITH(NOLOCK)
		WHERE RefTypeID = 6680115 AND RefID != 0
		AND ISNULL(RefName,'') != '' AND ISNUMERIC(Notes) = 1
		) AS m
    
	--SELECT @Filter 'Filter'
 
	SET @Case = ''
    SELECT @Case += Txt
    FROM(
		SELECT Txt = N' WHEN ' + RefName + ' THEN ' + Notes
		FROM dbo.r_Uni WITH(NOLOCK)
		WHERE RefTypeID = 6680115 AND RefID != 0
		AND ISNULL(RefName,'') != '' AND ISNUMERIC(Notes) = 1
		) AS m

/* 
DECLARE @TableName varchar(100) = 't_Rec'
SELECT  TableDesc	FROM	dbo.z_Tables zt WHERE TableName = @TableName
SELECT  TableName	FROM	dbo.z_Tables zt WHERE TableName = @TableName
*/

 	SET @SQL_Select = 'SELECT @out = ''' + (SELECT  TableDesc	FROM	dbo.z_Tables zt WHERE TableName = @TableName) + ' = '' + (SELECT cast(COUNT(*) as VARCHAR(200)) as ''COUNT_doc'' FROM ' + @TableName + ' WHERE (DocDate BETWEEN ' + '''' + CAST(@Bdate AS varchar) + '''' + ' AND ' + '''' + CAST(@Edate AS varchar) + '''' + ') AND (' + @Filter + ') ) '
								  --+ ' + '';Возврат товара от получателя (t_Ret) = '' + (SELECT cast(COUNT(*) as VARCHAR(200)) as ''t_Ret'' FROM t_Ret WHERE (DocDate BETWEEN ' + '''' + CAST(@Bdate AS varchar) + '''' + ' AND ' + '''' + CAST(@Edate AS varchar) + '''' + ') AND (' + @Filter + ') ) '
								  --+ ' + '';Расходный документ в ценах прихода (t_Epp) = '' + (SELECT cast(COUNT(*) as VARCHAR(200)) as ''t_Epp'' FROM t_Epp WHERE (DocDate BETWEEN ' + '''' + CAST(@Bdate AS varchar) + '''' + ' AND ' + '''' + CAST(@Edate AS varchar) + '''' + ') AND (' + @Filter + ') ) '
								  --+ ' + '';Расходный документ (t_Exp) = '' + (SELECT cast(COUNT(*) as VARCHAR(200)) as ''t_Exp'' FROM t_Exp WHERE (DocDate BETWEEN ' + '''' + CAST(@Bdate AS varchar) + '''' + ' AND ' + '''' + CAST(@Edate AS varchar) + '''' + ') AND (' + @Filter + ') ) '
								  --+ ' + '';Расход денег по предприятиям (c_CompExp) = '' + (SELECT cast(COUNT(*) as VARCHAR(200)) as ''c_CompExp'' FROM c_CompExp WHERE (DocDate BETWEEN ' + '''' + CAST(@Bdate AS varchar) + '''' + ' AND ' + '''' + CAST(@Edate AS varchar) + '''' + ') AND (' + @Filter + ') ) '

   
	SET @SQL_Update = 'UPDATE m SET DepID = CASE ' + @Case + ' ELSE DepID END FROM ' + @TableName + ' m     WHERE (DocDate BETWEEN ' + '''' + CAST(@Bdate AS varchar) + '''' + ' AND ' + '''' + CAST(@Edate AS varchar) + '''' + ') AND (' + @Filter + ');'
					--+ 'UPDATE m SET DepID = CASE ' + @Case + ' ELSE DepID END FROM t_Ret m     WHERE (DocDate BETWEEN ' + '''' + CAST(@Bdate AS varchar) + '''' + ' AND ' + '''' + CAST(@Edate AS varchar) + '''' + ') AND (' + @Filter + ');'
					--+ 'UPDATE m SET DepID = CASE ' + @Case + ' ELSE DepID END FROM t_Epp m     WHERE (DocDate BETWEEN ' + '''' + CAST(@Bdate AS varchar) + '''' + ' AND ' + '''' + CAST(@Edate AS varchar) + '''' + ') AND (' + @Filter + ');'
					--+ 'UPDATE m SET DepID = CASE ' + @Case + ' ELSE DepID END FROM t_Exp m     WHERE (DocDate BETWEEN ' + '''' + CAST(@Bdate AS varchar) + '''' + ' AND ' + '''' + CAST(@Edate AS varchar) + '''' + ') AND (' + @Filter + ');'
					--+ 'UPDATE m SET DepID = CASE ' + @Case + ' ELSE DepID END FROM c_CompExp m WHERE (DocDate BETWEEN ' + '''' + CAST(@Bdate AS varchar) + '''' + ' AND ' + '''' + CAST(@Edate AS varchar) + '''' + ') AND (' + @Filter + ');'
  
	--SELECT @SQL_Select 'SQL SELECT'

	--SELECT @SQL_Up date 'SQL UPDATE'

	IF @UpdateMode = 1 
	begin
		EXEC SP_EXECUTESQL @SQL_Update 
		set @CountDocs = 'Обновлено ' + cast(@@rowcount as varchar) + ' документов'
		--set @CountDocs = 'Документы обновлены. Спасибо.'
	end
	ELSE 
     EXEC sp_executesql @SQL_Select, N'@out VARCHAR(200) OUT', @CountDocs OUT

END

 --Выбор списка документов с ошибками
 --(SELECT * FROM c_CompExp WHERE (DocDate BETWEEN '20190108' AND '20190108') AND ( (CodeID4 = 2000 AND CodeID5 = 2053 AND DepID <> 5) OR  (CodeID4 = 2000 AND CodeID5 = 2127 AND DepID <> 5) OR  (CodeID4 = 2000 AND CodeID5 = 2128 AND DepID <> 5) OR  (CodeID4 = 2000 AND CodeID5 = 2129 AND DepID <> 5) OR  (CodeID4 = 2000 AND CodeID5 = 2130 AND DepID <> 5) OR  (CodeID4 = 2001 AND CodeID5 = 2018 AND DepID <> 5) OR  (CodeID4 = 2002 AND CodeID5 = 2012 AND DepID <> 5) OR  (CodeID4 = 2002 AND CodeID5 = 2018 AND DepID <> 5) OR  (CodeID4 = 2004 AND CodeID5 = 2062 AND DepID <> 5) OR  (CodeID4 = 2005 AND CodeID5 = 2067 AND DepID <> 5) OR  (CodeID4 = 2006 AND CodeID5 = 2022 AND DepID <> 3) OR  (CodeID4 = 2008 AND CodeID5 = 2055 AND DepID <> 5) OR  (CodeID4 = 2009 AND CodeID5 = 2018 AND DepID <> 6) OR  (CodeID4 = 2010 AND CodeID5 = 2018 AND DepID <> 6) OR  (CodeID4 = 2011 AND CodeID5 = 2028 AND DepID <> 5) OR  (CodeID4 = 2011 AND CodeID5 = 2029 AND DepID <> 5) OR  (CodeID4 = 2011 AND CodeID5 = 2032 AND DepID <> 5) OR  (CodeID4 = 2012 AND CodeID5 = 2012 AND DepID <> 5) OR  (CodeID4 = 2012 AND CodeID5 = 2013 AND DepID <> 5) OR  (CodeID4 = 2012 AND CodeID5 = 2017 AND DepID <> 5) OR  (CodeID4 = 2012 AND CodeID5 = 2020 AND DepID <> 5) OR  (CodeID4 = 2012 AND CodeID5 = 2066 AND DepID <> 5) OR  (CodeID4 = 2013 AND CodeID5 = 2018 AND DepID <> 6) OR  (CodeID4 = 2014 AND CodeID5 = 2068 AND DepID <> 5) OR  (CodeID4 = 2014 AND CodeID5 = 2056 AND DepID <> 5) OR  (CodeID4 = 2014 AND CodeID5 = 2057 AND DepID <> 5) OR  (CodeID4 = 2014 AND CodeID5 = 2060 AND DepID <> 5) OR  (CodeID4 = 2014 AND CodeID5 = 2061 AND DepID <> 5) OR  (CodeID4 = 2014 AND CodeID5 = 2062 AND DepID <> 5) OR  (CodeID4 = 2015 AND CodeID5 = 2015 AND DepID <> 5) OR  (CodeID4 = 2016 AND CodeID5 = 2014 AND DepID <> 5) OR  (CodeID4 = 2016 AND CodeID5 = 2030 AND DepID <> 5) OR  (CodeID4 = 2016 AND CodeID5 = 2033 AND DepID <> 5) OR  (CodeID4 = 2018 AND CodeID5 = 2018 AND DepID <> 5) OR  (CodeID4 = 2019 AND CodeID5 = 2026 AND DepID <> 5) OR  (CodeID4 = 2019 AND CodeID5 = 2063 AND DepID <> 5) OR  (CodeID4 = 2019 AND CodeID5 = 2071 AND DepID <> 5) OR  (CodeID4 = 2020 AND CodeID5 = 2057 AND DepID <> 8) OR  (CodeID4 = 2020 AND CodeID5 = 2062 AND DepID <> 8) OR  (CodeID4 = 2021 AND CodeID5 = 2018 AND DepID <> 6) OR  (CodeID4 = 2022 AND CodeID5 = 2018 AND DepID <> 6) OR  (CodeID4 = 2023 AND CodeID5 = 2022 AND DepID <> 3) OR  (CodeID4 = 2026 AND CodeID5 = 2018 AND DepID <> 6) OR  (CodeID4 = 2028 AND CodeID5 = 2018 AND DepID <> 6) OR  (CodeID4 = 2030 AND CodeID5 = 2010 AND DepID <> 1) OR  (CodeID4 = 2030 AND CodeID5 = 2008 AND DepID <> 3) OR  (CodeID4 = 2031 AND CodeID5 = 2010 AND DepID <> 1) OR  (CodeID4 = 2031 AND CodeID5 = 2008 AND DepID <> 3) OR  (CodeID4 = 2032 AND CodeID5 = 2010 AND DepID <> 1) OR  (CodeID4 = 2034 AND CodeID5 = 2010 AND DepID <> 1) OR  (CodeID4 = 2034 AND CodeID5 = 2008 AND DepID <> 3) OR  (CodeID4 = 2035 AND CodeID5 = 2010 AND DepID <> 1) OR  (CodeID4 = 2035 AND CodeID5 = 2008 AND DepID <> 3) OR  (CodeID4 = 2036 AND CodeID5 = 2010 AND DepID <> 1) OR  (CodeID4 = 2036 AND CodeID5 = 2008 AND DepID <> 3) OR  (CodeID4 = 2039 AND CodeID5 = 2010 AND DepID <> 1) OR  (CodeID4 = 2048 AND CodeID5 = 2010 AND DepID <> 1) OR  (CodeID4 = 2048 AND CodeID5 = 2008 AND DepID <> 3) OR  (CodeID4 = 2052 AND CodeID5 = 2010 AND DepID <> 1) OR  (CodeID4 = 2075 AND CodeID5 = 2006 AND DepID <> 4) OR  (CodeID4 = 2098 AND CodeID5 = 2010 AND DepID <> 1) OR  (CodeID4 = 2098 AND CodeID5 = 2008 AND DepID <> 3) OR  (CodeID4 = 2099 AND CodeID5 = 2007 AND DepID <> 7) OR  (CodeID4 = 2101 AND CodeID5 = 2051 AND DepID <> 5) OR  (CodeID4 = 2102 AND CodeID5 = 2090 AND DepID <> 5) OR  (CodeID4 = 2105 AND CodeID5 = 2110 AND DepID <> 5) OR  (CodeID4 = 2106 AND CodeID5 = 2085 AND DepID <> 5) OR  (CodeID4 = 2106 AND CodeID5 = 2086 AND DepID <> 5) OR  (CodeID4 = 2106 AND CodeID5 = 2087 AND DepID <> 5) OR  (CodeID4 = 2106 AND CodeID5 = 2091 AND DepID <> 5) OR  (CodeID4 = 2107 AND CodeID5 = 2011 AND DepID <> 5) OR  (CodeID4 = 2108 AND CodeID5 = 2093 AND DepID <> 5) OR  (CodeID4 = 2108 AND CodeID5 = 2094 AND DepID <> 5) OR  (CodeID4 = 2109 AND CodeID5 = 2099 AND DepID <> 5) OR  (CodeID4 = 2109 AND CodeID5 = 2100 AND DepID <> 5) OR  (CodeID4 = 2110 AND CodeID5 = 2118 AND DepID <> 5) OR  (CodeID4 = 2110 AND CodeID5 = 2120 AND DepID <> 5) OR  (CodeID4 = 2110 AND CodeID5 = 2121 AND DepID <> 5) OR  (CodeID4 = 2110 AND CodeID5 = 2122 AND DepID <> 5) OR  (CodeID4 = 2110 AND CodeID5 = 2123 AND DepID <> 5) OR  (CodeID4 = 2110 AND CodeID5 = 2124 AND DepID <> 5) OR  (CodeID4 = 2110 AND CodeID5 = 2125 AND DepID <> 5) OR  (CodeID4 = 2110 AND CodeID5 = 2126 AND DepID <> 5) OR  (CodeID4 = 2112 AND CodeID5 = 2112 AND DepID <> 5) OR  (CodeID4 = 2112 AND CodeID5 = 2115 AND DepID <> 5) OR  (CodeID4 = 2014 AND CodeID5 = 2058 AND DepID <> 5) OR  (CodeID4 = 2020 AND CodeID5 = 2068 AND DepID <> 8)) ) 

