USE [ElitR]
GO
/****** Object:  UserDefinedFunction [dbo].[tf_DiscCanEditQty]    Script Date: 08/27/2013 12:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[tf_DiscCanEditQty](@DocCode int, @ChID int, @ProdID int, @DocDate smalldatetime)/* Возможно ли изменение количества для данной позиции */RETURNS bit ASBEGIN  DECLARE @OurID int  DECLARE @StockID int  SELECT @OurID = OurID, @StockID = StockID FROM t_SaleTemp WHERE ChID = @ChID  RETURN (CASE WHEN NOT EXISTS(SELECT TOP 1 1 FROM r_Prods p WITH(NOLOCK) WHERE p.ProdID = @ProdID AND (    (@DocCode = 1011 AND dbo.zf_GetDate(@DocDate) BETWEEN '20130415' AND '20790101' AND (p.PCatID = 209) AND (@OurID = 9) AND (@StockID = 1310)) /* Болоньез "Бизнес-ланч" */     OR (@DocCode = 1011 AND dbo.zf_GetDate(@DocDate) BETWEEN '20130118' AND '20790606' AND (p.ProdID = 601740) AND (@OurID = 9) AND ((@StockID = 1201) OR (@StockID = 1221))) /* Винтаж "Гофрокорзина бесплатно" */     OR (@DocCode = 1011 AND dbo.zf_GetDate(@DocDate) BETWEEN '20130221' AND '20790606' AND (p.ProdID = 605647) AND (@OurID = 9) AND (@StockID = 1202)) /* Винтаж "Мисо-суп в подарок к сетам" */     OR (@DocCode = 1011 AND dbo.zf_GetDate(@DocDate) BETWEEN '20130816' AND '20120930' AND (p.ProdID IN  (605430,605993)) AND (@OurID = 9) AND (@StockID = 1314)) /* Винтаж "Мисо-суп в подарок к сетам" */    ))            THEN 1            ELSE 0          END)END