USE [ElitR_COPY_TestRounding]
GO
/****** Object:  StoredProcedure [dbo].[t_Insert_Sales]    Script Date: 01/20/2015 10:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[t_Insert_Sales](@ASrcPosID int,@AChID int,@AProdID int,@APPID int,@appSecID int,@ABarCode varchar(255),                                @ATaxID int,@AUM varchar(255),@RemQty numeric(21,13),@APriceCC_nt numeric(21,13),                                @ASumCC_nt numeric(21,13),@ATax numeric(21,13),@ATaxSum numeric(21,13),                                @APriceCC_wt numeric(21,13),@ARemSumCC_wt numeric(21,13),                                @APurPriceCC_nt numeric(21,13),@APurTax numeric(21,13),@APurPriceCC_wt numeric(21,13),                                @InsertLevel int, @PLID int, @EmpID int, @CreateTime datetime, @ModifyTime datetime) ASBEGINSELECT @APriceCC_nt = Round(@APriceCC_nt, 2), @ATaxSum = Round(@ARemSumCC_wt - @ASumCC_nt , 2), @ATax = Round(@APriceCC_wt-@APriceCC_nt , 2) , @ASumCC_nt = Round (@ASumCC_nt ,2)If @InsertLevel = 0  Begin   INSERT INTO t_SaleD(SrcPosID, ChID, ProdID, PPID, SecID, BarCode, TaxID, UM, Qty,                       PriceCC_nt, SumCC_nt, Tax, TaxSum, PriceCC_wt, SumCC_wt, PurPriceCC_nt, PurTax, PurPriceCC_wt, PLID, EmpID, CreateTime, ModifyTime) VALUES (                       @ASrcPosID,                       @AChID,                       @AProdID,                       @APPID,                       @appSecID,                       @ABarCode,                       @ATaxID,                       @AUM,                       @RemQty,                       @APriceCC_nt,                       @ASumCC_nt,                       @ATax,                       @ATaxSum,                       @APriceCC_wt,                       @ARemSumCC_wt,                       @APurPriceCC_nt,                       @APurTax,                       @APurPriceCC_wt,                       @PLID,                       @EmpID,                       @CreateTime,                       @ModifyTime)    If @@error <> 0 GoTo MyError  EndElse  Begin    RAISERROR 30003 't_Insert_Sales: Данный режим больше не поддерживается'    If @@error <> 0 GoTo MyError  End  Return 1MyError:  Return 0END