USE [ElitV_DP_TEST]
GO
/****** Object:  StoredProcedure [dbo].[ip_ImpToExcFromTerm]    Script Date: 02/15/2013 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[ip_ImpToExcFromTerm] @ChID int
/*Процедура для импорта в "перемещение товара" из ТСД (с учетом неизвестных штрихкодов)*/	
AS
BEGIN
 DECLARE 
   @DocDate smalldatetime, 
   @CompID int,
   @ProdID int,
   @PPID int,
   @StockiD int
   
 DECLARE
   @Qty numeric(21,9),
   @BarCode varchar(15)
   
 DECLARE  
   @CurrID smallint,
   @UM varchar(15),
   @SrcPosID int
   
DECLARE 
	@id_doc int,
    @ParentDocCode int, 
    @ParentChID int, 
    @ChildDocCode int, 
    @ChildChID int, 
    @RepToolCode int, 
    @ToolCode int,
    @Continue bit, 
    @Msg varchar(1000)    
   
	
   SELECT @DocDate = DocDate FROM t_Exp WHERE ChID=@ChID
   SELECT @CompID = CompID FROM t_Exp WHERE ChID=@ChID
   SELECT @CurrID= CurrID FROM t_Exp WHERE ChID=@ChID

   /*Очищаем детальную часть текущего документа*/

   DELETE FROM t_ExcD WHERE ChID=@ChID
   DELETE FROM it_RecUnknBarCodes WHERE ChID=@ChID
     
   IF object_id('tempdb..#tmpImp') IS NOT NULL DROP TABLE #tmpImp
  
  /* Курсор для заполнения детальной части перемещение товара и закладки Неизвестные штрих коды*/
  
   DECLARE InsRecD CURSOR FAST_FORWARD FOR
     SELECT BarCode, SUM(Qty)
     FROM #recImp
     GROUP BY BarCode
    
   OPEN InsRecD
     FETCH NEXT FROM InsRecD  
     INTO @BarCode, @Qty
   WHILE @@FETCH_STATUS  = 0
     BEGIN
       IF EXISTS (SELECT TOP 1 1 FROM r_ProdMQ WHERE BarCode = @BarCode)
       /* Проверка на наличие в базе текущего штрихкода*/
         BEGIN
           
           /* Заполнение детальной части */         
            
            SELECT @ProdID = (SELECT TOP 1 ProdID FROM r_ProdMQ WHERE BarCode = @BarCode)
            SELECT @StockiD = ( SELECT StockiD FROM t_Exc WHERE ChID = @ChID )
            
-- Раскоментить для импорта позиций с новыми партиями
        

DECLARE Ppqty CURSOR FOR

		SELECT ppid, qty 
		FROM t_rem WHERE prodid = @ProdID and stockid  = @StockiD and qty >0
      
        DECLARE 
        @tempppid int ,
        @tempqty  int ,
        @RemQty int       
        

        
        OPEN Ppqty
                
        FETCH NEXT FROM Ppqty INTO @tempppid, @tempqty 
        WHILE (@@FETCH_STATUS = 0 AND @qty > 0)
        BEGIN
        IF @qty <= @tempqty 
        BEGIN
        SET @RemQty = @qty 
        SET @qty = @qty - @tempqty 
        END
        ELSE
        BEGIN
        SET @RemQty = @tempqty set @qty = @qty - @tempqty 
        END
        
     
        
        
	    /* Создание товарной позиции в приходе товара */
            SELECT @SrcPosID = (SELECT ISNULL(MAX(SrcPosID)+1,1) 
                                FROM t_ExcD 
                                WHERE ChID = @ChID)
            
            SELECT @UM = (SELECT TOP 1 UM FROM r_ProdMQ WHERE BarCode = @BarCode)                           
	    
	    INSERT INTO t_ExcD (ChID,SrcPosID,ProdID,PPID,UM,Qty,PriceCC_nt,SumCC_nt,Tax,TaxSum,PriceCC_wt,SumCC_wt,BarCode,SecID)
	    VALUES
	      (
	       @ChID,
	       @SrcPosID,
	       @ProdID,
	       @tempppid, --Раскоментить для импорта позиций с новыми партиями
	       @UM,
	       @RemQty,
	       0,0,0,0,0,0, @BarCode , 1 
	      )
	    FETCH NEXT FROM Ppqty INTO @tempppid, @tempqty 
        END
 CLOSE Ppqty
DEALLOCATE Ppqty
	      IF @Qty > 0 
					BEGIN 
							SELECT @tempppid =ISNULL (MAX(Ppid),0) FROM t_rem WHERE stockid =  @stockid AND prodid = @prodid   
							    SELECT @SrcPosID = (SELECT ISNULL(MAX(SrcPosID)+1,1) 
                                FROM t_ExcD 
                                WHERE ChID = @ChID)
                     			SELECT @UM = (SELECT TOP 1 UM FROM r_ProdMQ WHERE BarCode = @BarCode)   
						    INSERT INTO t_ExcD (ChID,SrcPosID,ProdID,PPID,UM,Qty,PriceCC_nt,SumCC_nt,Tax,TaxSum,PriceCC_wt,SumCC_wt,BarCode,SecID)
								VALUES
									(
									@ChID,
									@SrcPosID,
									@ProdID,
									@tempppid, --Раскоментить для импорта позиций с новыми партиями
									@UM,
									@Qty,
						            0,0,0,0,0,0, @BarCode , 1 
									)        
					END
         
         END
        ELSE
         BEGIN
         /* Заполнение закладки неизвестные штрихкоды */
            SELECT @SrcPosID = (SELECT ISNULL(MAX(SrcPosID)+1,1) 
                                FROM it_RecUnknBarCodes 
                                WHERE ChID = @ChID)
            
            INSERT INTO it_RecUnknBarCodes
            VALUES
            (
             @ChID,
             @SrcPosID,
             @BarCode,
             @Qty 
            ) 
         END  
  FETCH NEXT 
  FROM InsRecD 
  INTO @BarCode, @Qty
  END	
  CLOSE InsRecD
  DEALLOCATE InsRecD
  
  
  
  
END










