USE [Elit_TEST]
GO
/****** Object:  UserDefinedFunction [dbo].[af_CamparyDelivery]    Script Date: 08/03/2018 08:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[af_CamparyDelivery](
@StockID VARCHAR(MAX)
,@DayPeriod INT
,@EDate smalldatetime
,@PGrID1 VARCHAR(MAX)
,@StockIDNotInCompID VARCHAR(MAX)
,@NotInCompID VARCHAR(MAX)
,@ChangeCompID VARCHAR(MAX)
)
RETURNS @out table(ProductID INT NOT NULL, OutletID INT NOT NULL, TAID INT NOT NULL, Data VARCHAR(250) NOT NULL, OperationID INT NOT NULL, DocID INT NOT NULL, DocNo INT NOT NULL, Qty NUMERIC(38,9) NULL, Summ NUMERIC(38,9) NULL)
AS
BEGIN
/*
SELECT * FROM [dbo].[af_CamparyDelivery]('11,311', 45, '2018-08-02', '20-26', '220,320', '4328,4339,4648,16157,54021,62668,65125,65954,71028,71204', '100014684')
where OperationID < 0 
where ProductID = 31426

--SELECT SUM(Qty),ProductID FROM [dbo].[af_CamparyDelivery]('4,304', 45, '2018-08-02', '20-26', '220,320', '4328,4339,4648,16157,54021,62668,65125,65954,71028,71204', '100014684')
--group by ProductID;

--5127,000000000
--1622.000000000
--3505
--проверка
SELECT SUM(Qty) FROM [dbo].[af_CamparyDelivery]('4,304,11,311,27,327,85,385', 45, '2018-08-02', '20-26', '220,320', '4328,4339,4648,16157,54021,62668,65125,65954,71028,71204', '100014684')
SELECT SUM(Qty) FROM elit.dbo.[tmp_CamparyStocksInDay] where StockID in (4,304,11,311,27,327,85,385) and Data > '2018-06-18' 

SELECT SUM(Qty) FROM [dbo].[af_CamparyDelivery]('11,311', 45, '2018-08-02', '20-26', '220,320', '4328,4339,4648,16157,54021,62668,65125,65954,71028,71204', '100014684')
SELECT SUM(Qty) FROM elit.dbo.[tmp_CamparyStocksInDay] where StockID in (11,311) and Data > '2018-06-18' 

SELECT TOP 1 * FROM elit.dbo.[tmp_CamparyStocksInDay]
SELECT TOP 1 * FROM elit.dbo.tmp_CamparyDelivery4

SELECT SUM(Qty) FROM [dbo].[af_CamparyDelivery]('4,304,11,311,27,327,85,385,220,320', 585, null, '20-26', '220,320', '4328,4339,4648,16157,54021,62668,65125,65954,71028,71204', '100014684')
--where OperationID in (-31)
SELECT SUM(Qty) FROM elit.dbo.[tmp_CamparyStocksInDay] where StockID in (4,304,11,311,27,327,85,385,220,320) and Data > '2016-12-31 00:00:00' 

SELECT SUM(Qty) FROM [dbo].[af_CamparyDelivery]('4,304', 585, null, '20-26', '220,320', '4328,4339,4648,16157,54021,62668,65125,65954,71028,71204', '100014684')
SELECT SUM(Qty) FROM elit.dbo.[tmp_CamparyStocksInDay] where StockID in (4,304) and Data > '2016-12-31 00:00:00' 

SELECT * FROM [dbo].[af_CamparyDelivery]('4,304', 585, null, '20-26', '220,320', '4328,4339,4648,16157,54021,62668,65125,65954,71028,71204', '100014684')
where OperationID < 0 

SELECT distinct  Data FROM elit.dbo.[tmp_CamparyStocksInDay] where StockID in (4,304) order by 1
SELECT * FROM elit.dbo.[tmp_CamparyStocksInDay] where StockID in (4,304) order by 3
SELECT * FROM elit.dbo.[tmp_CamparyStocksInDay] order by 3
SELECT SUM(Qty) FROM [dbo].[af_CamparyDelivery]('4,304', 45, '2018-08-01', '20-26', '220,320', '4328,4339,4648,16157,54021,62668,65125,65954,71028,71204', '100014684')
SELECT SUM(Qty) FROM elit.dbo.[tmp_CamparyStocksInDay] where StockID in (4,304) and Data > '2018-06-18' --and ProductID = 2159
--SELECT SUM(Qty) FROM elit_test.dbo.[zf_t_CalcRemByDateDate]('2079-06-06','1900-01-01') where StockID in (4,304) and 
SELECT SUM(m.Qty) FROM elit_test.dbo.[zf_t_CalcRemByDateDate]('2079-06-06','1900-01-01') m where m.StockID in (4,304) 
and m.ProdID in (SELECT p.ProdID FROM r_prods p where p.PGrID1 BETWEEN 20 AND 26 )

--5134.000000000
SELECT SUM(m.Qty) FROM elit.dbo.[zf_t_CalcRemByDateDate]('1900-01-01','2018-08-01') m where m.StockID in (4,304) 
and m.ProdID in (SELECT p.ProdID FROM r_prods p where p.PGrID1 BETWEEN 20 AND 26 )
SELECT SUM(m.Qty) FROM elit.dbo.[zf_t_CalcRemByDateDate]('1900-01-01','2018-06-15') m where m.StockID in (4,304) 
and m.ProdID in (24876,24877,31423,31424,31425,31426,31427,31518,31523,31627,31789,31790,31791,31792,31793,31866,31867,31936,34063,34064,81428,81880,81881,31435,31436,31437,31438,31439,31440,31517,31620,31785,31877,32027,32284,32285,32286,32287,32291,32292,32293,32800,32805,33240,33270,33410,33411,76486,81879,31445,31446,32028,32030,32031,32148,33412,33413,33414,33415,33416,33417,33418,33419,33420,2159,2746,24879,31428,31429,31430,31431,31432,31433,31434,31513,31514,31515,31516,31619,33230,33408,33409,34065,34100,34101,76856,76857,81472,22270,25797,31441,31442,31783,31784,31834,31935,32288,32289,32290,32325,32801,32802,32907,32908,32909,34066,34226,81871,81872,81878,81882,81883,81884,31531,31882,31937,31975,32424,32804,33525,34067,31443,31444,31934,33238,33239)

SELECT * FROM elit.dbo.[tmp_CamparyStocksInDay] where StockID in (4,304) and ProductID = 2159 order by 3
SELECT * FROM elit.dbo.[tmp_Campary] where StockID in (4,304) and ProductID = 2159 order by 3

2018-07-04 00:00:00
		SELECT StockID, ProductID,Data,SUM(Qty) Qty,SUM(Summ) Summ  FROM (
			SELECT  d.StockID, d.ProdID ProductID,'2018-07-04' Data,Qty,Qty*CostCC Summ 
			FROM dbo.zf_t_CalcRemByDateDate('2018-07-04','2018-07-04') d
			JOIN t_pinp pp ON pp.ProdID=d.ProdID and pp.PPID=d.PPID
			JOIN r_Prods ss ON pp.ProdID=ss.ProdID
			WHERE d.StockID IN (4,304,11,311,27,327,85,385,220,320) AND ss.PGrID1 BETWEEN 20 AND 26 
			) rem  --AND Qty<>0 
			--and StockID = 4 and d.ProdID = 2159 --для быстрой отадки
	GROUP BY rem.StockID, rem.ProductID, Data
	
	
GROUP BY ProductID Data = '20180630'
6772,000000000 63644,782003088


SELECT SUM(Qty) FROM tmp_Campary where Data = '2018-06-15 00:00:00' and ProductID = 33414
SELECT SUM(Qty) FROM tmp_Campary where Data = '2018-07-30 00:00:00' and ProductID = 33414
SELECT * FROM tmp_Campary where Data = '2018-07-30 00:00:00' 
SELECT * FROM tmp_CamparyStocksInDay where Data = '2018-07-30 00:00:00' and ProductID = 33414 order by 3
SELECT ProductID, SUM(Qty) FROM tmp_CamparyStocksInDay where StockID in (4,304) and Data != '2018-06-15 00:00:00' 
and ProductID = 2159
GROUP BY ProductID

SELECT * FROM tmp_Campary where StockID in (4,304) and Data != '2018-06-15 00:00:00' 
and ProductID = 2159
SELECT * FROM tmp_CamparyStocksInDay where StockID in (4,304)-- and Data != '2018-06-15 00:00:00' 
and ProductID = 2159
order by 3
SELECT * FROM [dbo].[af_CamparyDelivery]('4,304', 45, null, '20-26', '220,320', '4328,4339,4648,16157,54021,62668,65125,65954,71028,71204', '100014684')
where ProductID = 2159
order by 4

SELECT * FROM [zf_t_CalcRemByDateDate]() where StockID in (4,304) and ProductID = 2159

DECLARE 
@StockID VARCHAR(MAX) = '4,304'
,@DayPeriod INT = 45
,@EDate smalldatetime = null
,@PGrID1 VARCHAR(MAX) = '20-26'
,@StockIDNotInCompID VARCHAR(MAX) = '220,320'
,@NotInCompID VARCHAR(MAX) = '4328,4339,4648,16157,54021,62668,65125,65954,71028,71204'
,@ChangeCompID VARCHAR(MAX) = '100014684'

select  DATEADD(day ,-580+1,dbo.zf_GetDate('2018-08-02')) 
SELECT * FROM elit.dbo.[tmp_Campary] order by 3
*/

DECLARE @BDate smalldatetime
IF @EDate IS NULL SET @EDate = dbo.zf_GetDate(GETDATE())
IF @DayPeriod IS NULL SET @BDate = '1900-01-01' ELSE SET @BDate = DATEADD(day ,-@DayPeriod+1,dbo.zf_GetDate(@EDate)) 

  INSERT @out 
  SELECT ProductID, OutletID, TAID , Data, OperationID, DocID, DocNo, Qty, Summ FROM (

/* Возврат товара от получателя: Заголовок */
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, 4 OperationID,m.DocID, m.ChID DocNo,
	SUM(QTy) Qty, SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Ret m WITH(NOLOCK)
JOIN Elit.dbo.t_RetD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Возврат товара по чеку: Заголовок */
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, -1 OperationID,m.DocID, m.ChID DocNo,
	SUM(QTy) Qty, SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_CRRet m WITH(NOLOCK)
JOIN Elit.dbo.t_CRRetD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

--Step 2 Возврат товара поставщику
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, 2 OperationID,m.DocID, m.ChID DocNo,
	-SUM(QTy) Qty, -SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_CRet m WITH(NOLOCK)
JOIN Elit.dbo.t_CRetD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/*Входящие остатки товара*/
SELECT rp.ProdID ProductID,
	--CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END 
	0 OutletID,
	/*m.EmpID*/0 TAID, CONVERT(varchar(250),m.DocDate,112) Data, -31 OperationID,m.DocID, m.ChID DocNo,
	SUM(m.Qty) Qty, SUM(m.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_zInP m WITH(NOLOCK) --ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=m.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
--JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=m.ProdID AND tp.PPID=m.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY /*c.ChID,*/ rp.ProdID,m.StockID,/*m.CompID,*/m.DocID,m.ChID,/*m.EmpID,*/m.DocDate

UNION ALL

/* Заказ внутренний: Резерв: Заголовок */
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, -2 OperationID,m.DocID, m.ChID DocNo,
	SUM(QTy) Qty, SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.at_t_IORes m WITH(NOLOCK)
JOIN Elit.dbo.at_t_IOResD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
	  AND (m.ReserveProds <> 0)
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Инвентаризация товара: Заголовок. Поменял ProdID на DetProdID, так как у этой таблицы нет ProdID*/
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, 6 OperationID,m.DocID, m.ChID DocNo,
	SUM(QTy) Qty, SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Ven m WITH(NOLOCK)
JOIN Elit.dbo.t_VenD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.DetProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.DetProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Инвентаризация товара: Заголовок MINUS*/
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, 6 OperationID,m.DocID, m.ChID DocNo,
	-SUM(QTy) Qty, -SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Ven m WITH(NOLOCK)
JOIN Elit.dbo.t_VenD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.DetProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.DetProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Комплектация товара: Заголовок */
SELECT rp.ProdID ProductID,
	--CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END 
	0 OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, -9 OperationID,m.DocID, m.ChID DocNo,
	SUM(QTy) Qty, SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_SRec m WITH(NOLOCK)
JOIN Elit.dbo.t_SRecA d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
--JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY /*c.ChID,*/ rp.ProdID,m.StockID,/*m.CompID,*/m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Комплектация товара: Заголовок minus*/
SELECT rp.ProdID ProductID,
	--CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END 
	0 OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, -10 OperationID,m.DocID, m.ChID DocNo,
	-SUM(QTy) Qty, -SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_SRec m WITH(NOLOCK)
JOIN Elit.dbo.t_SRecA d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
--JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY /*c.ChID,*/ rp.ProdID,m.StockID,/*m.CompID,*/m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Перемещение товара: Заголовок MINUS*/
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, 5 OperationID,m.DocID, m.ChID DocNo,
	-SUM(QTy) Qty, -SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Exc m WITH(NOLOCK)
JOIN Elit.dbo.t_ExcD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Перемещение товара: Заголовок*/
SELECT rp.ProdID ProductID,
	CASE WHEN m.NewStockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, 5 OperationID,m.DocID, m.ChID DocNo,
	SUM(d.Qty) Qty, SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Exc m WITH(NOLOCK)
JOIN Elit.dbo.t_ExcD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.NewStockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.NewStockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate


UNION ALL

/* Переоценка цен прихода: Заголовок */
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, -3 OperationID,m.DocID, m.ChID DocNo,
	SUM(QTy) Qty, SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Est m WITH(NOLOCK)
JOIN Elit.dbo.t_EstD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Переоценка цен прихода: Заголовок minus*/
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, -4 OperationID,m.DocID, m.ChID DocNo,
	-SUM(QTy) Qty, -SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Est m WITH(NOLOCK)
JOIN Elit.dbo.t_EstD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

--Step 1 Приход товара на склад дистрибъютора от поставщика
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, 1 OperationID,m.DocID, m.ChID DocNo, 
	SUM(d.QTy) Qty, SUM(d.Qty*tp.CostMC) Summ 
FROM Elit.dbo.t_Rec m WITH(NOLOCK)
JOIN Elit.dbo.t_RecD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Продажа товара оператором: Заголовок */
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, -5 OperationID,m.DocID, m.ChID DocNo,
	-SUM(QTy) Qty, -SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Sale m WITH(NOLOCK)
JOIN Elit.dbo.t_SaleD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Разукомплектация товара: Заголовок */
SELECT rp.ProdID ProductID,
	--CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END 
	0 OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, -11 OperationID,m.DocID, m.ChID DocNo,
	SUM(QTy) Qty, SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_SExp m WITH(NOLOCK)
JOIN Elit.dbo.t_SExpA d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
--JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY /*c.ChID,*/ rp.ProdID,m.StockID,/*m.CompID,*/m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Разукомплектация товара: Заголовок minus*/
SELECT rp.ProdID ProductID,
	--CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END 
	0 OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, -12 OperationID,m.DocID, m.ChID DocNo,
	-SUM(QTy) Qty, -SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_SExp m WITH(NOLOCK)
JOIN Elit.dbo.t_SExpA d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
--JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY /*c.ChID,*/ rp.ProdID,m.StockID,/*m.CompID,*/m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Расходная накладная: Заголовок */
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, 3 OperationID,m.DocID, m.ChID DocNo,
	-SUM(QTy) Qty, -SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Inv m WITH(NOLOCK)
JOIN Elit.dbo.t_InvD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Расходный документ: Заголовок */
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, 6 OperationID,m.DocID, m.ChID DocNo,
	-SUM(QTy) Qty, -SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Exp m WITH(NOLOCK)
JOIN Elit.dbo.t_ExpD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Расходный документ в ценах прихода: Заголовок */
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, 6 OperationID,m.DocID, m.ChID DocNo,
	-SUM(QTy) Qty, -SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Epp m WITH(NOLOCK)
JOIN Elit.dbo.t_EppD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)  
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate

UNION ALL

/* Счет на оплату товара: Заголовок */
SELECT rp.ProdID ProductID,
	CASE WHEN m.StockID IN (SELECT AValue from zf_FilterToTable(@StockIDNotInCompID)) AND m.CompID NOT IN (SELECT AValue from zf_FilterToTable(@NotInCompID)) THEN @ChangeCompID ELSE c.ChID END OutletID,
	m.EmpID TAID, CONVERT(varchar(250),m.DocDate,112) Data, -8 OperationID,m.DocID, m.ChID DocNo,
	0 Qty, SUM(d.Qty*tp.CostMC) Summ
FROM Elit.dbo.t_Acc m WITH(NOLOCK)
JOIN Elit.dbo.t_AccD d WITH(NOLOCK) ON d.ChID=m.ChID
JOIN Elit.dbo.r_Stocks s WITH(NOLOCK) ON s.StockID=m.StockID
JOIN Elit.dbo.r_Prods rp WITH(NOLOCK) ON rp.ProdID=d.ProdID AND rp.PGrID1 IN (SELECT AValue from zf_FilterToTable(@PGrID1))
JOIN Elit.dbo.r_Comps c WITH(NOLOCK) ON c.CompID=m.CompID
JOIN Elit.dbo.t_PInP tp WITH(NOLOCK) ON tp.ProdID=d.ProdID AND tp.PPID=d.PPID
WHERE s.StockID IN (SELECT AValue from zf_FilterToTable(@StockID))
      AND (m.DocDate BETWEEN @BDate AND @EDate)
      AND (m.ReserveProds <> 0) 
      AND (rp.InRems <> 0) 
GROUP BY c.ChID, rp.ProdID,m.StockID,m.CompID,m.DocID,m.ChID,m.EmpID,m.DocDate
  ) q 
  GROUP BY ProductID, OutletID, TAID , Data, OperationID, DocID, DocNo, Qty, Summ
  RETURN

END

